.congreso-tickes {
    background-color: $river-bed;
    padding: 80px 0  250px;

    .section-name,
    .description,
    .subdescription {
        color: $white;
        font-family: $font-1;
    }

    .content {
        border-top: 1px solid darken($river-bed, 10%);
        border-bottom: 1px solid darken($river-bed, 10%);
    }

    .art { 
        width: 12px;
        height: 2px;
        background-color: $picton-blue;
        margin: 25px auto 0;
     }

    .section-name { font-size: 40px; }

    .description { 
        font-size: 24px;
        font-weight: bold;
        text-align: center;
     }

     .subdescription {
        font-size: 18px;
        margin-bottom: 0;
        text-align: center;
     }
}

.congreso-tickes-secundary {
    margin-top: -200px;
}