.congreso-talleres {
    margin-top: 70px;
    padding-bottom: 50px;

    .section-name {
        font-size: 40px;
        color: $river-bed;
        margin-bottom: 35px;
        font-family: $font-1;
    }
}