/MedCongress/MedCongressApp/__pycache__
/MedCongress/MedCongress/__pycache__
/MedCongress/MedCongress/settings.py

/MedCongress/MedCongressApp/migrations/__pycache__
/.history
/MedCongress/MedCongressApp/claves.py
/MedCongress/MedCongressAdmin/__pycache__
/MedCongress/MedCongressAdmin/forms/__pycache__
/MedCongress/MedCongressAdmin/migrations/__pycache__
/MedCongress/MedCongressAdmin/views/__pycache__
/MedCongress/MedCongressApp/templatetags/__pycache__
/MedCongress/MedCongressApp/static/metas
/MedCongress/MedCongressApp/static/banderas
/MedCongress/MedCongressApp/static/congreso
/MedCongress/MedCongressApp/static/facturas
/MedCongress/MedCongressAdmin/views_inicio/__pycache__
/MedCongress/MedCongressAdmin/views_nomencladores/__pycache__
/MedCongress/MedCongressApp/static/ponencias
/MedCongress/MedCongressApp/static/talleres
/MedCongress/MedCongressApp/static/programas

