/MedCongress/MedCongressApp/__pycache__
/MedCongress/MedCongress/__pycache__
/MedCongress/MedCongress/settings.py
/MedCongress/MedCongressApp/migrations/__pycache__
/.history
/MedCongress/MedCongressAdmin/__pycache__
/MedCongress/MedCongressAdmin/forms/__pycache__
/MedCongress/MedCongressAdmin/migrations/__pycache__
/MedCongress/MedCongressAdmin/views/__pycache__
/MedCongress/MedCongressApp/templatetags/__pycache__
/MedCongress/MedCongressApp/static/metas
/MedCongress/MedCongressApp/static/congreso
