{% extends 'MedCongressAdmin/base.html' %}
{% block title %}Ponencias{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css"
    href="{% static 'MedCongressAdmin/app-assets/vendors/css/tables/datatable/datatables.min.css' %}">

{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
{%if congreso or congreso_bloque%}
    <li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:congress_list' %}">Congresos</a>
    </li>
{%endif%}
{%if bloque%}
            <li class="breadcrumb-item active"> <a href="{% url 'MedCongressAdmin:bloques_list' %}{%if congreso_bloque%}?congreso={{bloque.congreso.path}}{%endif%}">Bloques</a>
            </li>
{%endif%}   

<li class="breadcrumb-item active">Ponencias
</li>

</ol>
</div>
</div>
</div>
<section id="configuration">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row">
                        <div class="col-10">
                            <h1 class="card-title mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">Listado
                                de Ponencias  <i class="icon-ponencia" style="padding: 15px;"></i></h1>
                           
                        </div>
                        <div class="col-2">
                            <div style="margin-right: 45%; margin-top: 1.5rem;">
                               
                             <button id="select-btn" type="button" class="btn btn-warning" title="Seleccionar Ponencia Existente" 
                                style="float:right;padding: 5px;margin-left: 10px;">
                                <i class="ft  ft-server"></i>
                            </button> 
                                <button id="add-btn" type="button" class="btn btn-success" title="Nuevo" 
                                    style="float:right; padding: 3px;">
                                    <i class="la la-plus"></i>
                                </button>
                               
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content collapse show">
                    <div class="card-body card-dashboard">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped table-bordered zero-configuration dataTable"
                                        style="margin-top: 5px!important; margin-bottom: 15px!important;"
                                        id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th style="width:50%">Nombre</th>
                                                <th>Congreso</th>
                                                
                                                <!-- <th>Lugar</th>
                                                <th>Fecha</th> -->
                                                <th>Ponentes</th>
                                                <th>Public.</th>
                                                <th style="width:5%">Operaciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- {% for ponencia in ponencias %}
                                            <tr role="row" class="{% cycle 'odd' 'even' %}" style="font-size: 13px;">
                                                <td class="sorting_1">{{ ponencia.titulo }}</td>
                                                <td class="sorting_1">{{ ponencia.congreso.titulo }}</td>
                                                <td style="text-align: center;">
                                                    
                                                    <a id="del_{{ congres.pk }}"
                                                    href="{%url 'MedCongressAdmin:Ponencia_ponentes' ponencia.path%}"
                                                        title="Ponentes">
                                                        <i class="icon icon-ponente " style= "color: blue;" ></i>
                                                    </a></td>
                                                <td>{{ ponencia.lugar }}</td>
                                                <td>{{ ponencia.fecha_inicio }}</td> -->
                                                <!-- <td>{%if ponencia.published%}Si{%else%}No{%endif%}</td>

                                                <td style="text-align: center;">
                                                    <a href="{% url 'MedCongressAdmin:ponencia_edit' pk=ponencia.pk %}"
                                                        title="Editar"><i class="icon icon-editar"></i></a>
                                                    <a id="del_{{ ponencia.pk }}"
                                                        href="javascript:deleteItem('{{ ponencia.pk }}')"
                                                        title="Eliminar">
                                                        <i class="icon icon-eliminar" ></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %} -->
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th style="width:50%">Nombre</th>
                                                <th>Congreso</th>
                                               
                                                <!-- <th>Lugar</th>
                                                <th>Fecha</th> -->
                                                <th>Ponentes</th>
                                                <th>Public.</th>
                                                <th style="width:5%">Operaciones</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="swal-overlay" tabindex="-1">
    <form id="swall-modal-form" method="POST" style="display: none;">
        {% csrf_token %}
    </form>
    
</div>
{% endblock %}
{% block scripts %}

<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/tables/datatable/datatables.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        
        $('.table').DataTable({
    language: {
        "decimal": "",
        "emptyTable": "No hay información",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    },
    "columns": [
       
        {'data':'nombre','orderable': true},
        {'data':'congreso','orderable': true},
        {'data':'ponentes','orderable':false},
        {'data':'public','orderable': true },
        {'data':'operaciones','orderable': false }
       
    ],
    "ordering": true,
    "bServerSide": true,
    "sAjaxSource": "{% url 'MedCongressAdmin:table_json_ponencia' %}",
    "fnServerParams": function (aoData) {
        {%if congreso%}
        
            aoData.push( { "name": "tipo", "value": "congreso" } );
            aoData.push( { "name": "path", "value": "{{congreso.path}}" } );
            {%elif bloque%}
            aoData.push( { "name": "tipo", "value": "bloque" } );
            aoData.push( { "name": "path", "value": "{{bloque.path}}" } );
            {%if congreso_bloque%}
           
            aoData.push( { "name": "congreso_bloque", "value": "true" } );
            {%endif%}

           {%else%}

            aoData.push( { "name": "tipo", "value": "nada" } );
            
            {%endif%}
            aoData.push( { "name": "search", "value": $('.dataTables_filter input').val()  } );
        
       }
});
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });

        $('#add-btn').click(function () {
            search=$('.dataTables_filter input').val();

            {%if congreso%}
            location.href = "{% url 'MedCongressAdmin:ponencia_add'%}?search="+search+"&congreso={{congreso.path}}";
            
            {%elif bloque%}
            {%if congreso_bloque%}
            location.href = "{% url 'MedCongressAdmin:ponencia_add' %}?search="+search+"&bloque={{bloque.path}}&congreso_bloque=true";
            {%else%}

            location.href = "{% url 'MedCongressAdmin:ponencia_add' %}?search="+search+"&bloque={{bloque.path}}";
            {%endif%}
           {%else%}

            location.href = "{% url 'MedCongressAdmin:ponencia_add' %}?search="+search+"";
            {%endif%}
        });
        
        {%if bloque%}
        $('#select-btn').click(function () {
            search=$('.dataTables_filter input').val();
            {%if congreso%}
            location.href = "{% url 'MedCongressAdmin:bloque_ponencia_select' path=bloque.path %}?search="+search+"&congreso={{congreso.path}}";
            
            {%elif bloque%}
            {%if congreso_bloque%}
            location.href = "{% url 'MedCongressAdmin:bloque_ponencia_select' path=bloque.path  %}?search="+search+"&bloque={{bloque.path}}&congreso_bloque=true";
            {%else%}

            location.href = "{% url 'MedCongressAdmin:bloque_ponencia_select' path=bloque.path  %}?search="+search+"&bloque={{bloque.path}}";
            

            {%endif%}
           {%else%}

            location.href = "{% url 'MedCongressAdmin:bloque_ponencia_select' path=bloque.path  %}?search="+search+"";
            {%endif%}
          
        });
        {%endif%}
        dataTable = $('.zero-configuration').DataTable();
        {%if search%}
        dataTable.search('{{search}}').draw();
        {%endif%}
      
    });
   
    function deleteItem(pk) {
        swal({
            title: "¿Estás seguro?",
            text: "¡No será capaz de recuperar este elemento!",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "¡No, cancelar!",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: false,
                },
                confirm: {
                    text: "¡Sí, eliminarlo!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                }
            }
        })
            .then((isConfirm) => {
                if (isConfirm) {
                    url = "{% url 'MedCongressAdmin:ponencia_delete' pk=0 %}";
                    $.post(url.replace('/0', '/' + pk), { 'pk': pk }, function (data) {
                        dataTable.row($('#del_' + pk).parents('tr')).remove().draw(); 
                        swal("¡Eliminado!", "Este elemento ha sido eliminado.", "success");
                    });
                } else {
                    swal("Cancelado", "No se eliminó este elemento.", "error");
                }
            });
    }
</script>
{% endblock %}