/* Colors */

$white: #fff;
$outer-space: #2A343D;
$river-bed: #4A5966;
$regent-gray: #8998A6;
$picton-blue: #40C8F4;
$shakespeare: #53A9CC;
$mystic: #E7ECF0;
$mystic-2: #D6E0E8;

/* Fonts */

$font-1: 'DINPro-Regular_13937', sans-serif;

/* Breakpoints */

$extra-extra-large: 1400px;
$large: 992px;