@font-face {
    font-family: 'DINPro-Regular_13937';
    src: url(../fonts/DINPro-Regular_13937.eot);
    src: url(../fonts/DINPro-Regular_13937.eot?#iefix) format('embedded-opentype'),
         url(../fonts/DINPro-Regular_13937.otf) format('otf'),
         url(../fonts/DINPro-Regular_13937.svg#DINPro-Regular_13937) format('svg'),
         url(../fonts/DINPro-Regular_13937.ttf) format('truetype'),
         url(../fonts/DINPro-Regular_13937.woff) format('woff'),
         url(../fonts/DINPro-Regular_13937.woff2) format('woff2');
  }