.footer{
    .contact-info{
        height: 300px;
        background-color: $outer-space;

        @include media-max($large){
            height: auto;
            padding: 25px 15px;
        }

        .heading-contact-info{
            color: $white;
            font-size: 35px;
            font-family: $font-1;

            @include media-min($extra-extra-large){
                font-size: 40px;
            }
        }

        a,
        p,
        span{
            color: $white;
            font-size: 18px;
            font-family: $font-1;
        }

        a{
            text-decoration: none;
        }

        .privacy-and-social{
            height: 81px;
        }
    }

    .credits{
        height: 140px;
        position: relative;
        background-color: $river-bed;

        .arrow-up{
            top: -38px;
            position: absolute;
            left: calc(50% - 51.5px);
        }

        span{
            color: $white;
            font-family: $font-1;

            &:nth-of-type(1){
                font-size: 24px;

                @include media-max($large){
                    line-height: 30px;
                    margin-bottom: 10px;
                }
            }

            &:nth-of-type(2){
                font-size: 14px;
            }
        }
    }
}