{% extends 'MedCongressAdmin/base.html' %}
{% block title %}{% if update %}Editar Ofrecemos | Página de Inicio {%else%} Adicionar  Ofrecemos | Página de Inicio{%endif%}{% endblock %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
			
		  <li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:ofrecemos_list'%}"> Ofrecemos | Pag. de Inicio</a>
		  </li>
		  
		<li class="breadcrumb-item active">{% if update %}Actualizar Ofrecemos | Pag. de Inicio {%else%} Adicionar Ofrecemos | Pag. de Inicio{%endif%}</a>
		</li>
		
		</ol>
	  </div>
	</div>
  </div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						{% if update %}Actualizar Ofrecemos | Página de Inicio {%else%} Adicionar  Ofrecemos | Página de Inicio{%endif%}</h1>

					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="country-form" method="POST">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-8">
										<div class="form-group">
											<label
												for="{{form.titulo.id_for_label }}"><b>Título</b>{% if form.titulo.errors %}
												<span
													style="font-size: 15px; color: red;">{{ form.titulo.errors }}
												</span>{% endif %} </label>

											{{form.titulo }}
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group">
											<label
												for="{{form.icono.id_for_label }}"><b>Ícono</b>{% if form.icono.errors %}
												<span
													style="font-size: 15px; color: red;">{{ form.icono.errors }}
												</span>{% endif %} </label>

											{{form.icono }}
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<label
												for="{{form.texto.id_for_label }}"><b>{{form.texto.label }}</b>{% if form.texto.errors %}
												<span
													style="font-size: 15px; color: red;">{{ form.texto.errors }}
												</span>{% endif %} </label>

											{{form.texto }}
										</div>
									</div>
								</div>

									<div class="form-actions">
										<div class="text-right">
											<a id="atras" type="button" class="btn btn-danger " href="{%url 'MedCongressAdmin:ofrecemos_list'%}">Cancelar
												<i class="ft-x position-right"></i>
											</a>
											<button id="save" type="submit" class="btn btn-primary">Guardar
												<i class="ft-save position-right"></i>
											</button>

										</div>
									</div>
								</div>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/editors/ckeditor/ckeditor.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/editors/editor-ckeditor.js'%}"></script>
<script type="text/javascript">
	
	
	$(document).ready(function () {

		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});
	
	});
</script>
{% endblock %}