{% extends 'MedCongressAdmin/base.html' %}
{% block title %} Asignar Constancia {% endblock %}
{% load static %}
{% block styles %}
<style>
	div#loading {
    
    display: none;
   
    
	}
	.git{
	
		background:    url({% static 'MedCongressApp/images/loading.gif' %}) no-repeat;
		  width: 55px;
		  height: 55px;             
		margin-top:-19px;
		background-size: 55px 55px

  
	}
	</style>
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
		
<li class="breadcrumb-item active"> Asignar Constancia
</li>


</ol>
</div>
</div>
</div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Asignar Constancia de un Congreso </h1>
						
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<div id="loading"> 

							<div class="alert round bg-primary alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
								<span class="alert-icon"><i class="la git"></i></span>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<strong>Guardando......</strong> 
							</div>
						</div>
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
								{% endfor %}
						</ul>
						{% endif %}
						<form id="country-form" method="POST">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
											<div class="form-group">
												<label for=""><b>Filtre
														Congreso</b></label>
												<select name="my_congress" id="" class="form-control select2" required="">
													{%for congreso in congresos%}
													<option value="{{congreso.pk}}">{{congreso.titulo}}</option>
													{%endfor%}
												</select>
											</div>
										
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for=""><b>Asignar Constancia</b></label>
											<select name="tipo_usuario" id="" class="form-control select2" required="">
												
												<option value="1">Participantes</option>
												<option value="2">Ponentes</option>
												<option value="3">Moderadores</option>
												
											</select>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-3 ">
										<div class="form-group">
											<label ><b>Asignar Folios</b>
											</label>

											<input type="checkbox" name="folio" class="form-control" id="id_folio" onchange="javascript:showFolio()">
										</div>
									</div>
									<div class="col-sm-3 folio " style="display: none;">
										<div class="form-group">
											<label ><b>Diseño del Folio</b>
											</label>

											<input type="text" name="folio_dis" class="form-control" id="id_folio_dis" >
										</div>
									</div>
									<div class="col-sm-3 folio " style="display: none;">
										<div class="form-group">
											<label ><b> Consecutivo del Folio: Del</b>
											</label>

											<input type="number" name="folio_ini" min='1' class="form-control" id="id_folio_ini" >
										</div>
									</div>
									<div class="col-sm-3 folio " style="display: none;">
										<div class="form-group">
											<label ><b>Al</b>
											</label>

											<input type="number" name="folio_fin" min="1" class="form-control" id="id_folio_fin" >
										</div>
									</div>
								</div>		
									
								
							</div>
							<div class="form-actions">
								<div class="text-right">
									
							
									<button id="save" type="button" class="btn btn-primary">Asignar
										<i class="ft-save position-right"></i>
									</button>
									
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}

<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/forms/select/select2.full.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-select2.js'%}"></script>
<script>
	$("#country-form").submit(function(e) { $("#loading").show(); });
	

	function showFolio(){
$('.folio').toggle()
$('#id_folio_fin').val('');
$('#id_folio_ini').val('')
$('#id_folio_dis').val('')
	}	
	
	$('#save').click(function(e){
	if($('#id_folio').prop('checked')){
		if( !parseInt($('#id_folio_ini').val()) || !parseInt($('#id_folio_fin').val())){
			swal("Cancelado", "Entre bien los Folios", "error");
			return;
		}
		if($('#id_folio_fin').val()=='' || $('#id_folio_ini').val()=='' ){
			swal("Cancelado", "Debe entrar Diseño Folio - Folio Inicio - Folio Fin.", "error");
			return;
		}
		if(parseInt($('#id_folio_fin').val())<=parseInt($('#id_folio_ini').val())){
			swal("Cancelado", "El Folio Final debe ser mayor que el Folio de Inicio.", "error");
			return;
		}
		let dis=$('#id_folio_dis').val()
		if(!dis.includes('#')){
			swal("Cancelado", "El diseño del Folio debe contener el comodín '#' para representar los consecutivo.", "error");
			return;
		}

	

	}	
	$("#country-form").submit();

	
	})
	
</script>
{% endblock %}