{% extends 'MedCongressAdmin/base.html' %}
{% block title %} Validar Pago de Taller{% endblock %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
			<li class="breadcrumb-item active"><a href="{% url 'MedCongressAdmin:asig_talleres_list' %}">Usuarios que han pagado Taller</a>

<li class="breadcrumb-item active"> Asignar Taller
</li>


</ol>
</div>
</div>
</div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Validar el Pago de un Taller por Usuario</h1>

					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
						<form id="country-form" method="POST">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-sm-3">
												<div class="form-group">
													<label for="{{form.taller.id_for_label }}"><b>Filtre
															Taller</b></label>
													<div style="display: none;">
														{{form.taller}}
													</div>
													<input type="text" name="my_talleres" class="form-control" required=""
														id="id_my_talleres">
	
												</div>
											</div>
										<div class="col-sm-3" {%if usuario%}
											
										style="display: none;"  {%endif%}>
										
											<div class="form-group">
												<label
													for="{{form.user.id_for_label }}"><b>{{form.user.label }}</b></label>
													
													<input type="text" name="my_user" class="form-control" required="" id="id_my_user">
													
													<div style="display: none;">
													{{ form.user }}
													</div>
											</div>
										</div>
									
										
										
										<div class="col-sm-2 ">
											<div class="form-group">
												<label
													for="{{form.categoria_pago.id_for_label }}"><b>{{form.categoria_pago.label }}</b></label>

												{{form.categoria_pago }}
											</div>
										</div>
										<div class="col-sm-2 ">
											<div class="form-group">
												<label
													for="{{form.is_pagado.id_for_label }}"><b>{{form.is_pagado.label }}</b></label>
											
												{{form.is_pagado }}
											</div>
										</div>
										<div class="col-sm-2 ">
											<div class="form-group">
												<label
													for="{{form.cantidad.id_for_label }}"><b>{{form.cantidad.label }}</b> </label>
											
												{{form.cantidad }}
											</div>
										</div>
									</div>
										<div class="form-actions">
											<div class="text-right">
												
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#id_my_user").autocomplete({
			source: "{% url 'User_autocomp'%}",
			minLength: 3,
		});
		$('#id_my_user').change(function () {
			email = $('#id_my_user').val()
			$("#id_user option:contains('" + email + "')").attr("selected", true);
			if ($("#id_user option:selected").text() != email)
				$("#id_user").val('')
		});
		$("#id_my_talleres").autocomplete({
            source: "{% url 'Taller_autocomp'%}",
            minLength: 3,
        });
        $('#id_my_talleres').change(function () {
            email = $('#id_my_talleres').val()
            $("#id_taller option:contains('" + email + "')").attr("selected", true);
            if ($("#id_taller option:selected").text()!= email) 
            $("#id_taller").val('')
			$('#id_categoria_pago').empty();
			$('#id_categoria_pago').append($("<option></option").attr('value', '').text('----------'));
			if ($('#id_taller').val()) {

				$.ajax({
					type: "POST",
					url: "{% url 'MedCongressAdmin:Get_Pago_taller' %}",
					data: {
						'taller_id': $('#id_taller').val(), // from form
					},
					success: function (data) {

						for (var i = 0; i < data.length; i++) {

							$('#id_categoria_pago').append($("<option></option").attr('value', data[i].id).text(data[i].nombre+'|'+data[i].moneda))
						}
					}
				});


			}	
        });
		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});
	
	});
</script>
{% endblock %}