{% extends 'MedCongressAdmin/base.html' %}
{% block title %} Asignar Constancia {% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:asig_congress_list' %}">Usuarios que han pagado Congreso</a>
			</li>
<li class="breadcrumb-item active"> Asignar Constancia  a un Usuario
</li>


</ol>
</div>
</div>
</div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Asignar Constancia de un Congreso </h1>
						
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
							
								<div class="alert alert-danger alert-dismissible mb-2" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									{{ error|safe|escape }}
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error|safe|escape }}
						</div>
						{% endfor %}
					{% endif %} 
						<form id="country-form" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-6">
										
											<div class="form-group">
												<label for="{{form.foto_constancia.id_for_label }}"><b>Subir Constancia</b> </label><br>
												{{form.foto_constancia}}

											</div>
										
									</div>
								
										
									
								</div>
							</div>
							<div class="form-actions">
								<div class="text-right">
									
									<button id="atras" type="button" class="btn btn-danger ">Cancelar
										<i class="ft-x position-right"></i>
									</button>
									<button id="save" type="submit" class="btn btn-primary">Asignar
										<i class="ft-save position-right"></i>
									</button>
									
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/forms/select/select2.full.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-select2.js'%}"></script>
<script>

$(function() {
	$('#atras').click(function () {
		
		location.href = "{% url 'MedCongressAdmin:asig_congress_list' %}";
		
	});
});
</script>
{% endblock %}