{% extends 'MedCongressAdmin/base.html' %}
{% block title %}Adicionar Moderadores{% endblock %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Moderadores</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="country-form" method="POST">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">

										<div class="col-sm-6 ">
											<div class="form-group">
												<label
													for="{{form.moderador.id_for_label }}"><b>{{form.moderador.label }}</b>{% if form.moderador.errors %}
													<span style="font-size: 15px; color: red;">{{ form.moderador.errors }}
													</span>{% endif %} </label>
													<input type="text" name="my_user" class="form-control" required="" id="id_my_user">
													<div style="display: none;">
														{{form.moderador}}
													</div>
													
											</div>
											<div class="col-sm-6 " >
												<div class="form-group">
													
													{{form.bloque }}
													<!-- <input type="text" id="id_ponencia" name="id_ponencia" value="{{pon.id}}"> -->
												</div>
											</div>
										</div>


										</fieldset>
										<div class="form-actions">
											<div class="text-right">
												
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#id_bloque option[value='{{bloq.id}}']").attr("selected",true);
		$("#id_my_user").autocomplete({
		source: "{% url 'Moderador_autocomp'%}",
		minLength: 3,
	  });
$('#id_my_user').change(function(){
	email=$('#id_my_user').val()
$("#id_moderador option:contains('"+email+"')").attr("selected",true);

});
		
	});
</script>
{% endblock %}