{% extends 'MedCongressAdmin/base.html' %}
{% block title %}Adicionar Bloque {% endblock %}
{% load static %}
{% block styles %}

<style>
	#geomap {
		width: 100%;
		height: 400px;
	}
</style>

{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">




	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Bloque</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-sm-4 ">
												<div class="form-group">
													<label
														for="{{form.titulo.id_for_label }}"><b>{{form.titulo.label }}</b>{% if form.titulo.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.titulo.errors }}
														</span>{% endif %} </label>

													{{form.titulo }}
												</div>
											</div>

											<div class="col-sm-4 ">
												<div class="form-group">
													<label
														for="{{form.duracion.id_for_label }}"><b>{{form.duracion.label }}</b>{% if form.duracion %}
														<span
															style="font-size: 15px; color: red;">{{ form.duracion.errors }}
														</span>{% endif %} </label>

													{{form.duracion}}
												</div>
											</div>
											<div class="col-sm-4 ">
												<div class="form-group">
													<label
														for="{{form.fecha_inicio.id_for_label }}"><b>{{form.fecha_inicio.label }}</b>{% if form.fecha_final %}
														<span
															style="font-size: 15px; color: red;">{{ form.fecha_inicio.errors }}
														</span>{% endif %} </label>

													{{form.fecha_inicio}}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 ">
												<div class="form-group">
													<label
														for="{{form.detalle.id_for_label }}"><b>{{form.detalle.label }}</b>{% if form.detalle.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.detalle.errors }}
														</span>{% endif %} </label>

													{{form.detalle }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.published.id_for_label }}"><b>{{form.published.label }}</b>{% if form.published.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.published.errors }}
														</span>{% endif %} </label>

													{{form.published }}
												</div>


											</div>
											<div class="col-sm-6 ">
												<div class="form-group" {%if con %}	style="display: none;" {%endif%}>
													<label
														for="{{form.congreso.id_for_label }}"><b>{{form.congreso.label }}</b>{% if form.congreso.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.congreso.errors }}
														</span>{% endif %} </label>

													{{form.congreso }}
												</div>


											</div>

</div>
											<div class="form-actions">
												<div class="text-right">
													<button id="atras" type="button" class="btn btn-danger ">Cancelar
														<i class="ft-x position-right"></i>
													</button>

													<button id="save" type="submit" class="btn btn-primary">Guardar
														<i class="ft-save position-right"></i>
													</button>

												</div>
											</div>
										</div>
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>




<script type="text/javascript">
	$('#atras').click(function () {
			{%if con %}
			location.href = "{% url 'MedCongressAdmin:Congres_bloques' con.path %}";
			{%else%}
			location.href = "{% url 'MedCongressAdmin:bloques_list' %}";
			{%endif%}
        });
		{%if con %}
		$("#id_congreso option[value='{{con.id}}']").attr("selected",true);
		{%endif%}

	$(document).ready(function () {
		$('#id_fecha_inicio').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});




		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});
		
		
	});

</script>
{% endblock %}