{% extends 'MedCongressAdmin/base.html' %}
{% block title %}Adicionar Moderador{% endblock %}
{% load static %}
{% block styles %}
<style>
		div#loading {
    
    display: none;
   
    
	}
	.git{
	
		background:    url({% static 'MedCongressApp/images/loading.gif' %}) no-repeat;
		  width: 55px;
		  height: 55px;             
		margin-top:-19px;
		background-size: 55px 55px

  
	}
</style>
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
{%if congreso%}
<li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:congress_list' %}">Congresos</a>
</li>
<li class="breadcrumb-item"><a href="{%url 'MedCongressAdmin:Congres_bloques' congreso.path%}">Bloques</a>
</li>
{%else%}
<li class="breadcrumb-item"><a href="{%url 'MedCongressAdmin:bloques_list' %}">Bloques</a>
</li>
{%endif%}
<li class="breadcrumb-item "><a {%if congreso%} href="{% url 'MedCongressAdmin:Moderadores_bloque' path=bloq.path %}?congreso=true"{%else%}href="{% url 'MedCongressAdmin:Moderadores_bloque' path=bloq.path %}" {%endif%}>Moderadores</a> 
</li>
<li class="breadcrumb-item active"> Adicionar Moderador
</li>

</ol>
</div>
</div>
</div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Moderador</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<div id="loading"> 

							<div class="alert round bg-primary alert-icon-left alert-arrow-left alert-dismissible mb-2" role="alert">
								<span class="alert-icon"><i class="la git"></i></span>
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">×</span>
								</button>
								<strong>Guardando......</strong> 
							</div>
						</div>
						{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
							
								<div class="alert alert-danger alert-dismissible mb-2" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									{{ error|safe|escape }}
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error|safe|escape }}
						</div>
						{% endfor %}
					{% endif %}
						<form id="country-form" method="POST">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">

										<div class="col-sm-6 ">
											<div class="form-group">
												<label
													for="{{form.moderador.id_for_label }}"><b>Entre Correo del Moderador</b></label>
													<!-- <input type="text" name="my_user" class="form-control" required="" id="id_my_user"> -->
													<div >
														{{form.moderador}}
													</div>
													
											</div>
											<div class="col-sm-6 " >
												<div class="form-group">
													
													{{form.bloque }}
													<!-- <input type="text" id="id_ponencia" name="id_ponencia" value="{{pon.id}}"> -->
												</div>
											</div>
										</div>


										</fieldset>
										<div class="form-actions">
											<div class="text-right">
												
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/forms/select/select2.full.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-select2.js'%}"></script>
<script type="text/javascript">
$("#country-form").submit(function(e) { $("#loading").show(); });
	$(document).ready(function () {
		$("#id_bloque option[value='{{bloq.id}}']").attr("selected",true);
		$("#id_my_user").autocomplete({
		source: "{% url 'Moderador_autocomp'%}",
		minLength: 3,
	  });
$('#id_my_user').change(function(){
	email=$('#id_my_user').val()
$("#id_moderador option:contains('"+email+"')").attr("selected",true);
if ($("#id_moderador option:selected").text()!= email) 
            $("#id_moderador").val('')
});
		
	});
</script>
{% endblock %}