{% extends 'MedCongressAdmin/base.html' %}
{% block title %}{%if update%} Actualizar Trabajo Trabajo de Investigación{%else%} Adicionar Trabajo Trabajo de Investigación{%endif%}{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/select2.min.css' %}">
<link rel="stylesheet" type="text/css"
    href="{% static 'MedCongressAdmin/assets/css/cropper.css' %}">
<style>
	

	.img-container img {
      max-width: 100%;
    }

</style>
{% endblock %}
{% block content %}

<div class=" col-md-12  " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:congress_list' %}">Congresos</a>
		  </li>
		 
		  <li class="breadcrumb-item active"><a href="{% url 'MedCongressAdmin:Congres_trabajos' path=cong.path %}">Trabajos de Investigación</a>
		</li>
		<li class="breadcrumb-item active">{%if update%} Actualizar Trabajo de Investigación{%else%} Adicionar Trabajo de Investigación{%endif%}
		</li>
		
		</ol>
	  </div>
	</div>
  </div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						{%if update%} Actualizar Trabajo de Investigación{%else%} Adicionar Trabajo de Investigación{%endif%}</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
						
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
							
								<div class="alert alert-danger alert-dismissible mb-2" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									{{ error|safe|escape }}
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error|safe|escape }}
						</div>
						{% endfor %}
					{% endif %} 
						<form id="country-form" method="POST" enctype="multipart/form-data">
							{% csrf_token %}
							<input type="hidden" name="update" value="{%if update%}{{categoria.id}}{%else%}false{%endif%}">
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
										<div class="col-sm-8 ">
											<div class="form-group">
												<label
													for="{{form.idioma.id_for_label }}"><b>{{form.titulo.label }}</b></label>

												{{form.titulo }}
											</div>
											<div class="form-group">
												{%if trabajo%}
													<a href="{% static '/' %}{{trabajo.documento}}" target="_black"  itemprop="contentUrl"
														data-size="480x360">
														Ver Documento
													</a>
													<br>
													<label for=""> <b>Cambiar Documento</b> </label><br>
													<input type="file" name="documento" id="id_documento">

												
													{%else%}

											<label for="{{form.documento.id_for_label }}"><b>{{form.documento.label}}</b> </label><br>
												{{form.documento}}
											{%endif%}
											</div>
											<div class="form-group">
												

												<label for="{{form.autor.id_for_label }}"><b>{{form.autor.label}}</b>  <span style="    font-size: 77%;
													color: #9a9898;"> (Si es más de 1 separar por coma [,])</span> </label><br>
													{{form.autor}}
												
												</div>
												<div class="form-group">
												

													<label for="{{form.cod_video.id_for_label }}"><b>{{form.cod_video.label}}</b> </label><br>
														{{form.cod_video}}
													
													</div>
										
										</div>
										<div class="col-sm-4 ">
											
											<div class="form-group" >
												
												<div class="form-group">
													<label for=""><b>Foto del Autor</b></label>
													{%if foto%}	
													<label class="label" data-toggle="tooltip" title="Clic para cambiar foto">
														<div class="row">
															<div class="col-md-12">
															<img class="img-fluid" id="avatar" src="{% static '/' %}{{foto}}"  alt="avatar" >
															</div>	
													</div>
													<input type="file" class="sr-only" id="input" name="image" accept="image/*">
														<input type="hidden" id="prueba" name="prueba">
													  </label>
													  
													{% else%}

													<label class="label" data-toggle="tooltip" title="Clic para cambiar foto">
														<img class="img-fluid" id="avatar" id="avatar" src="{% static 'MedCongressApp/images/defaulthombre.png' %}"  alt="avatar">
														<input type="file" class="sr-only" id="input" name="image" accept="image/*">
														<input type="hidden" id="prueba" name="prueba">
													  </label>
														{%endif%}
														
														
														  <div class="alert" role="alert"></div>
														  <div class="modal fade " id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
															<div class="modal-dialog " role="document">
															  <div class="modal-content">
																<div class="modal-header">
																  <h5 class="modal-title" id="modalLabel">Editar la Imagen</h5>
																  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																  </button>
																</div>
																<div class="modal-body">
																  <div class="img-container ">
																	<img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
																  </div>
																</div>
																<div class="modal-footer">
																  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
																  <button type="button" class="btn btn-primary" id="crop">Guardar</button>
																</div>
															  </div>
															</div>
														  </div>
														
												</div>
											
										</div>
									</div>
									
										<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												

												<label for="{{form.descripcion.id_for_label }}"><b>Descripción</b> </label><br>
													{{form.descripcion}}
												
												</div>
											
										</div>
									</div>
									<div class="row">	
										<div class="col-sm-2 ">
											<div class="form-group">
												
													

												{{form.congreso }}
											</div>
										</div>
									</div>
									<div class="form-actions">
										<div class="text-right">
											<button id="atras" type="button" class="btn btn-danger ">Cancelar
												<i class="ft-x position-right"></i>
											</button>

											<button id="save" type="submit" class="btn btn-primary">Guardar
												<i class="ft-save position-right"></i>
											</button>

										</div>
									</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div style="text-align: right;"> </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/forms/select/select2.full.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-select2.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/editors/ckeditor/ckeditor.js'%}"></script>
<script src="{% static 'MedCongressAdmin/assets/js/cropper.js'%}"></script>
<script type="text/javascript">
 
	$(document).ready(function () {
		$("#id_congreso option[value='{{cong.id}}']").attr("selected",true);
		$('#atras').click(function () {
            location.href = "{% url 'MedCongressAdmin:Congres_trabajos' path=cong.path %}";
        });
	});
	window.addEventListener('DOMContentLoaded', function () {
      var avatar = document.getElementById('avatar');
      var image = document.getElementById('image');
      var input = document.getElementById('input');
      var $progress = $('.progress');
      var $progressBar = $('.progress-bar');
      var $alert = $('.alert');
      var $modal = $('#modal');
      var cropper;

      $('[data-toggle="tooltip"]').tooltip();

      input.addEventListener('change', function (e) {
        var files = e.target.files;
        var done = function (url) {
          input.value = '';
          image.src = url;
          $alert.hide();
          $modal.modal('show');
        };
        var reader;
        var file;
        var url;

        if (files && files.length > 0) {
		  file = files[0];
		 
		  	tipo_imagen=files[0].name.split('.');
			if(tipo_imagen[1]!='jpg' && tipo_imagen[1]!='png' && tipo_imagen[1]!='jpeg')
			{
				
				swal("Cancelado", "Solo admimite archivos .jpeg , .jpg y .png.", "error");
				return;	
			}
          if (URL) {
            done(URL.createObjectURL(file));
          } else if (FileReader) {
            reader = new FileReader();
            reader.onload = function (e) {
              done(reader.result);
            };
            reader.readAsDataURL(file);
          }
        }
      });

      $modal.on('shown.bs.modal', function () {
		

		$('#image').width($modal.width());
		
		
        cropper = new Cropper(image, {
          aspectRatio: 500/600,
		  viewMode: 1,
		  
		  
		  ready: function () {
            //Should set crop box data first here
            cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
          }
        });
      }).on('hidden.bs.modal', function () {
        cropper.destroy();
        cropper = null;
      });

      document.getElementById('crop').addEventListener('click', function () {
        var initialAvatarURL;
        var canvas;

        $modal.modal('hide');

        if (cropper) {
          canvas = cropper.getCroppedCanvas({
            width: 500,
            height: 600,
          });
          initialAvatarURL = avatar.src;
          avatar.src = canvas.toDataURL();
          $('#prueba').val(canvas.toDataURL());
		  $progress.show();
		
		  $alert.removeClass('alert-success alert-warning');  
		  $alert.show().addClass('alert-success').text('Nueva Imagen Cargada');
      
        }
      });
    });
</script>
{% endblock %}