{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Congreso{% endblock %}
{% load static %}
{% block styles %}

<style>
	#geomap {
		width: 100%;
		height: 400px;
	}

	.img-container img {
		max-width: 100%;
	}
</style>
<link rel="stylesheet" type="text/css"
	href="{% static 'MedCongressAdmin/app-assets/css/core/menu/menu-types/horizontal-menu.css'%}">
<link rel="stylesheet" type="text/css"
	href="{% static 'MedCongressAdmin/app-assets/css/core/colors/palette-gradient.css'%}">

<link rel="stylesheet" type="text/css"
	href="{% static 'MedCongressAdmin/app-assets/css/core/colors/palette-tooltip.css'%}">

<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/assets/css/style.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/assets/css/cropper.css' %}">
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">

	<div class="row breadcrumbs-top">
		<div class="breadcrumb-wrapper col-12">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:congress_list' %}">Congresos</a>
				</li>
				{%if imagen_seg_url%}
				<li class="breadcrumb-item active">Actualizar Congresos
				</li>
				{%else%}
				<li class="breadcrumb-item active">Adicionar Congresos
				</li>
				{%endif%}
			</ol>
		</div>
	</div>
</div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">

	<div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Lugar</h4> <button type="button" class="close"
						data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						{%if update %}Actualizar Congreso{%else%}Adicionar Congreso{%endif%}</h1>
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
							{% endfor %}
					</ul>
					{% endif %}
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">

							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						{% if form.errors %}
						{% for field in form %}
						{% for error in field.errors %}

						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error|safe|escape }}
						</div>
						{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error|safe|escape }}
						</div>
						{% endfor %}
						{% endif %}

						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							{%if update%}
							<input type="hidden" value="{{update.pk}}" name="update">
							{%endif%}
							<section id="basic-tabs-components">
								<div class="row match-height">
									<div class="col-xl-12 col-lg-12">
										<div class="card">

											<ul class="nav nav-tabs">
												<li class="nav-item">
													<a class="nav-link active" id="base-tab1" data-toggle="tab"
														aria-controls="tab1" href="#tab1" aria-expanded="true">Datos
														Principales</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="base-tab3" data-toggle="tab"
														aria-controls="tab3" href="#tab3" aria-expanded="false">Imagenes
														del Congreso</a>
												</li>
												<li class="nav-item">
													<a class="nav-link" id="base-tab2" data-toggle="tab"
														aria-controls="tab2" href="#tab2" aria-expanded="false">Meta
														datos</a>
												</li>



											</ul>
											<div class="tab-content px-1 pt-1">
												<div role="tabpanel" class="tab-pane active" id="tab1"
													aria-expanded="true" aria-labelledby="base-tab1">
													<!-- ///////// -->
													<div class="form-body">
														<div class="row">
															<div class="col-md-12">
																<div class="row">
																	<div class="col-sm-8 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.titulo.id_for_label }}"><b>{{form.congreso.titulo.label}}</b>
																			</label>

																			{{form.congreso.titulo }}
																		</div>
																	</div>
																	<div class="col-sm-4 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.fecha_inicio.id_for_label }}"><b>{{form.congreso.fecha_inicio.label}}</b>
																			</label>

																			{{form.congreso.fecha_inicio}}
																		</div>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-8 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.sub_titulo.id_for_label }}"><b>{{form.congreso.sub_titulo.label}}</b></label>

																			{{form.congreso.sub_titulo }}
																		</div>

																	</div>
																	<div class="col-sm-4 ">
																		<div class="form-group">
																			{%if programa%}
																			<a href="{% static '/' %}{{programa}}"
																				itemprop="contentUrl"
																				data-size="480x360">
																				Ver Programa
																			</a>
																			<input type="checkbox"
																				name="congreso-programa-clear"
																				id="congreso-programa-clear_id">
																			<label for="">Eliminar</label><br>
																			<label for="">Modificar</label>
																			<input type="file" name="congreso-programa"
																				id="id_congreso-programa">


																			{%else%}

																			<label
																				for="{{form.congreso.programa.id_for_label }}"><b>{{form.congreso.programa.label}}</b>
																			</label>
																			{{form.congreso.programa}}
																			{%endif%}

																		</div>
																	</div>
																</div>


																<div class="row">
																	<div class="col-sm-12">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.detalles_tipo_boleto.id_for_label }}"><b>{{form.congreso.detalles_tipo_boleto.label}}</b>
																			</label>

																			{{form.congreso.detalles_tipo_boleto }}
																		</div>
																	</div>

																</div>
																<div class="row">
																	<div class="col-sm-12">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.detalles_tipo_boleto_taller.id_for_label }}"><b>{{form.congreso.detalles_tipo_boleto_taller.label}}</b>
																			</label>

																			{{form.congreso.detalles_tipo_boleto_taller}}
																		</div>
																	</div>

																</div>
																<div class="row">

																	<div class="col-sm-3 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.is_openpay.id_for_label }}"><b>{{form.congreso.is_openpay.label}}</b>
																			</label>

																			{{form.congreso.is_openpay }}
																		</div>
																	</div>
																	<div class="col-sm-3 ">
																		<div id="temp" class="form-group">
																			<label
																				for="{{form.congreso.template.id_for_label }}"><b>{{form.congreso.template.label}}</b>
																			</label>

																			{{form.congreso.template }}
																		</div>
																	</div>
																	<div class="col-sm-3 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.ver_titulo.id_for_label }}"><b>{{form.congreso.ver_titulo.label}}</b>
																			</label>

																			{{form.congreso.ver_titulo }}
																		</div>
																	</div>

																</div>
																<div class="row">
																	<div class="col-sm-5 ">
																		<div class="form-group">
																			<label
																				for="{{form.ubicacion.direccion.id_for_label }}"><b>{{form.ubicacion.direccion.label}}</b>
																			</label>

																			{{form.ubicacion.direccion }}
																		</div>
																	</div>
																	<div class="col-ms-1">
																		<div class="form-group">

																			<label class="mapa">Ver Mapa</label>
																			<!-- <a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
																			<button type="button" class="btn btn-link"
																				data-toggle="modal" data-target="#my"
																				style="display: block;">
																				<span><i class="ft ft-map-pin"
																						style="font-size: 30px;display: block;margin-top: -13px;"></i></span>

																			</button>

																		</div>

																	</div>
																	
																	<div class="col-sm-3">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.t_congreso.id_for_label }}"><b>{{form.congreso.t_congreso.label}}</b>
																			</label>

																			{{form.congreso.t_congreso }}
																		</div>
																	</div>
																	<div class="col-sm-3">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.especialidad.id_for_label }}"><b>{{form.congreso.especialidad.label}}</b>
																			</label>

																			{{form.congreso.especialidad }}
																		</div>
																	</div>
																	
																	<!-- <div class="col-ms-1">
												<div class="form-group">

													<label></label>
													<a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
																	<!-- <button type="button" class="btn btn-link" data-toggle="modal"
														data-target="#add_tipo" style="display: block;">
														<span><i class="ft ft-plus"
																style="font-size: 30px;display: block;margin-top: -13px;"></i></span>

													</button>

												</div>

											</div> -->
																	<div class="col-sm-3 " style="display: none;">
																		<div class="form-group">
																			<label
																				for="{{form.ubicacion.longitud.id_for_label }}"><b>{{form.ubicacion.longitud.label}}</b></label>

																			{{form.ubicacion.longitud }}
																		</div>
																	</div>
																	<div class="col-sm-3 " style="display: none;">
																		<div class="form-group">
																			<label
																				for="{{form.ubicacion.latitud.id_for_label }}"><b>{{form.ubicacion.latitud.label}}</b>
																			</label>

																			{{form.ubicacion.latitud }}
																		</div>
																	</div>
																</div>
																<div class="row">
																	
																	<div class="col-sm-3">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.especialidad.id_for_label }}"><b>%
																					Para
																					Obtener Constancia</b></label>

																			{{form.congreso.aprobado }}
																		</div>
																	</div>
																	<div class="col-sm-4">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.cant_preguntas.id_for_label }}"><b>Cant.
																					Preguntas del
																					Cuestionario</b></label>

																			{{form.congreso.cant_preguntas }}
																		</div>
																	</div>
																	<div class="col-sm-3 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.score.id_for_label }}"><b>{{form.congreso.score.label}}</b></label>

																			{{form.congreso.score }}
																		</div>
																	</div>


																</div>
															

																<div class="row">
																	<div class="col-sm-6 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.streaming.id_for_label }}"><b>Código
																					de
																					inserción del streaming en Vimeo</b>
																			</label>

																			{{form.congreso.streaming }}
																		</div>
																	</div>
																	<div class="col-sm-6 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.vid_publicidad.id_for_label }}"><b>Código
																					de
																					inserción del video promocional en
																					Vimeo</b> </label>

																			{{form.congreso.vid_publicidad }}
																		</div>
																	</div>

																</div>
																<div class="row">
																	<div class="col-sm-3 ">
																		<div class="form-group">
																			<label
																				for="{{form.congreso.published.id_for_label }}"><b>{{form.congreso.published.label}}</b></label>

																			{{form.congreso.published }}
																		</div>

																	</div>
																	
																	
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="tab2" aria-labelledby="base-tab2">
													<!-- ////////////////////////// -->
													<!-- META DATOS -->

													<section id="configuration">
														<div class="row">
															<div class="col-12">
																<div class="card">
																	<div class="card-content collapse show">
																		<div class="card-body card-dashboard">

																			<div class="row">
																				<div class="col-sm-4">
																					<h5 style="margin-bottom: 10px;">
																						<b>Metas Principales </b>
																					</h5>
																					<div class="form-group">
																						<label for="">
																							<b>Título</b></label>


																						{{form.congreso.meta_title}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Descripción</b></label>



																						{{form.congreso.meta_description}}
																					</div>
																					<div class="form-group">
																						<label for=""> <b>Palabras
																								Claves</b><span
																								id="toggle-method"
																								data-toggle="tooltip"
																								data-placement="top"
																								data-original-title="Palabras separadas por coma(,)">
																								<i
																									class="ft ft-info"></i>
																							</span></label>



																						{{form.congreso.meta_keywords}}
																					</div>
																				</div>
																				<div class="col-sm-4">
																					<h5 style="margin-bottom: 10px;">
																						<b>Metas para FaceBook </b>
																					</h5>
																					<div class="form-group">
																						<label for="">
																							<b>Título</b></label>


																						{{form.congreso.meta_og_title}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Descripción</b></label>

																						{{form.congreso.meta_og_description}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Tipo</b></label>

																						{{form.congreso.meta_og_type}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>URL</b></label>


																						{{form.congreso.meta_og_url}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Imagen</b></label>

																						{%if imagen_meta%}
																						<img src="{{imagen_meta}}"
																							class="img-responsive"
																							style="width: 126px; padding: 20px;"
																							alt=""><br>
																						<input type="checkbox"
																							name="congreso-meta_og_imagen-clear"
																							id="congreso-meta_og_imagen-clear_id">
																						Eliminar
																						<input type="file"
																							name="meta_og_imagen"
																							accept="image/*"
																							class="form-control "
																							id="id_congreso-meta_og_imagen">
																						{%else%}
																						{{form.congreso.meta_og_imagen}}
																						{%endif%}
																					</div>
																				</div>
																				<div class="col-sm-4">
																					<h5 style="margin-bottom: 10px;">
																						<b> Metas para Redes
																							Sociales</b>
																					</h5>

																					<div class="form-group">
																						<label for="">
																							<b>Card</b></label>


																						{{form.congreso.meta_twitter_card}}
																					</div>

																					<div class="form-group">
																						<label for="">
																							<b>Sitio</b></label>


																						{{form.congreso.meta_twitter_site}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Creador</b></label>

																						{{form.congreso.meta_twitter_creator}}
																					</div>
																				</div>
																			</div>
																		</div>

																	</div>
																</div>
															</div>
														</div>
													</section>

													<!-- END META DATOS -->
													<!-- /////////////////// -->
												</div>

												<div role="tabpanel" class="tab-pane " id="tab3" aria-expanded="true"
													aria-labelledby="base-tab3">
													<div class="card-content collapse show">
														<div class="card-body card-dashboard">
															<div class="card-body  my-gallery" itemscope=""
																data-pswp-uid="1">

																<div class="alert" role="alert" id="alert"></div>
																
															
																<div class="row">
																	<div class="col-sm-4 ">
																		<div class="form-group">
																			<label for="" >
																				<b>Imagen Principal <span style="font-size: 80%; color: darkgrey;"> (1920 X 1080)</span></b> </label>
																			{%if imagen_home%}
																			<label class="label" data-toggle="tooltip"
																				title="Clic para cambiar foto">
																				<div id="ver"><img class="img-fluid"
																						id="avatar3"
																						src="{{imagen_home}}"
																						alt="avatar"></div>
																				<input type="file" class="sr-only"
																					id="input3" name="image"
																					accept="image/*">
																				<input type="hidden"
																					id="congreso-imagen_home"
																					name="congreso-imagen_home"
																					value="{{imagen_home}}">
																			</label>
																
																			{% else%}
																			<br>
																			<label class="label" data-toggle="tooltip"
																				title="Clic para cambiar foto">
																				<div id="ver3"><span id="avatar3"> <i
																							class="icon icon-add_imagen"></i></span>
																				</div>
																				<input type="file" class="sr-only"
																					id="input3" name="image3"
																					accept="image/*">
																				<input type="hidden"
																					id="congreso-imagen_home"
																					name="congreso-imagen_home">
																			</label>
																			{%endif%}
																
																
																			<div class="alert" role="alert" id="alert3">
																			</div>
																			<div class="modal fade " id="modal3"
																				tabindex="-1" role="dialog"
																				aria-labelledby="modalLabel"
																				aria-hidden="true">
																				<div class="modal-dialog "
																					role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title"
																								id="modalLabel">Editar
																								la Imagen</h5>
																							<button type="button"
																								class="close"
																								data-dismiss="modal"
																								aria-label="Close">
																								<span
																									aria-hidden="true">&times;</span>
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="img-container ">
																								<img id="image3"
																									src="https://avatars0.githubusercontent.com/u/3456749">
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button"
																								class="btn btn-secondary"
																								data-dismiss="modal">Cancel</button>
																							<button type="button"
																								class="btn btn-primary"
																								id="crop3">Guardar</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4 ">
																		<div class="form-group">
																			<label for="" >
																				<b>Imagen Segundaria <span style="font-size: 80%; color: darkgrey;"> (1681 X 299)</span></b> </label>
																			{%if imagen_seg_url%}
																			<label class="label" data-toggle="tooltip"
																				title="Clic para cambiar foto">
																				<div id="ver"><img class="img-fluid"
																						id="avatar1"
																						src="{%static '/'%}{{imagen_seg_url}}"
																						alt="avatar"></div>
																				<input type="file" class="sr-only"
																					id="input1" name="image"
																					accept="image/*">
																				<input type="hidden"
																					id="congreso-prueba1"
																					name="congreso-prueba1"
																					value="{{imagen_seg_url}}">
																			</label>

																			{% else%}
																			<br>
																			<label class="label" data-toggle="tooltip"
																				title="Clic para cambiar foto">
																				<div id="ver"><span id="avatar1"> <i
																							class="icon icon-add_imagen"></i></span>
																				</div>
																				<input type="file" class="sr-only"
																					id="input1" name="image1"
																					accept="image/*">
																				<input type="hidden"
																					id="congreso-prueba1"
																					name="congreso-prueba1">
																			</label>
																			{%endif%}


																			<div class="alert" role="alert" id="alert1">
																			</div>
																			<div class="modal fade " id="modal1"
																				tabindex="-1" role="dialog"
																				aria-labelledby="modalLabel"
																				aria-hidden="true">
																				<div class="modal-dialog "
																					role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title"
																								id="modalLabel">Editar
																								la Imagen</h5>
																							<button type="button"
																								class="close"
																								data-dismiss="modal"
																								aria-label="Close">
																								<span
																									aria-hidden="true">&times;</span>
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="img-container ">
																								<img id="image1"
																									src="https://avatars0.githubusercontent.com/u/3456749">
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button"
																								class="btn btn-secondary"
																								data-dismiss="modal">Cancel</button>
																							<button type="button"
																								class="btn btn-primary"
																								id="crop1">Guardar</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-4 ">
																		<div class="form-group">
																			<label for="" >
																				<b>Imagen de la Constancia <span style="font-size: 80%; color: darkgrey;"> (3625 X 2600)</span></b> </label>
																			{%if foto_constancia%}
																			<label class="label" data-toggle="tooltip"
																				title="Clic para cambiar foto">
																				<div id="ver"><img class="img-fluid"
																						id="avatar2"
																						src="{{foto_constancia}}"
																						alt="avatar"></div>
																				<input type="file" class="sr-only"
																					id="input2" name="image"
																					accept="image/*">
																				<input type="hidden"
																					id="congreso-constancia"
																					name="congreso-constancia"
																					value="{{foto_constancia}}">
																			</label>
																
																			{% else%}
																			<br>
																			<label class="label" data-toggle="tooltip"
																				title="Clic para cambiar foto">
																				<div id="ver2"><span id="avatar2"> <i
																							class="icon icon-add_imagen"></i></span>
																				</div>
																				<input type="file" class="sr-only"
																					id="input2" name="image2"
																					accept="image/*">
																				<input type="hidden"
																					id="congreso-constancia"
																					name="congreso-constancia">
																			</label>
																			{%endif%}
																
																
																			<div class="alert" role="alert" id="alert2">
																			</div>
																			<div class="modal fade " id="modal2"
																				tabindex="-1" role="dialog"
																				aria-labelledby="modalLabel"
																				aria-hidden="true">
																				<div class="modal-dialog "
																					role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title"
																								id="modalLabel">Editar
																								la Imagen</h5>
																							<button type="button"
																								class="close"
																								data-dismiss="modal"
																								aria-label="Close">
																								<span
																									aria-hidden="true">&times;</span>
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="img-container ">
																								<img id="image2"
																									src="https://avatars0.githubusercontent.com/u/3456749">
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button"
																								class="btn btn-secondary"
																								data-dismiss="modal">Cancel</button>
																							<button type="button"
																								class="btn btn-primary"
																								id="crop2">Guardar</button>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																		
																
</div>
<div class="row">
	
	

</div>

																	</div>
																	<div class="row">
																		<div class="col-md-6"><label for=""> <b>Imagenes del Programa <span style="font-size: 80%; color: darkgrey;"> (1920 X 1080)</span></b> </label></div>
																	</div>
																		<div class="row" id="imagenes">
																	{%if imagenes%}
																	{%for imagen in imagenes %}
																	<figure class="col-sm-3 " id="{{imagen.id}}">
																		<div class="row">
																			<div class="col-md-12">
																				<img class="img-fluid"
																					src="{% static '/' %}{{imagen.imagen}}"
																					alt="imagen">
																			</div>


																		</div>
																		<button class="btn " type="button"
																			onclick="deleteImagen('{{imagen.id}}')"
																			title="Eliminar Imagen"> <i
																				class="icon icon-eliminar"></i></button>
																	</figure>
																	<input type='hidden' id='imagen_{{imagen.id}}'
																		name='congreso-prueba'
																		value='{{imagen.imagen}}'>
																	{% endfor%}
																	{%endif%}
																	<div class="col-sm-2 ">
																		<div class="form-group">



																			<label class="label" data-toggle="tooltip"
																				title="Clic para cambiar foto">
																				<span id="avatar"> <i
																						class="icon icon-add_imagen"></i></span>
																				<input type="file" class="sr-only"
																					id="input" name="image[]" multiple
																					accept="image/*">

																			</label>

																			<div class="modal fade " id="modal"
																				tabindex="-1" role="dialog"
																				aria-labelledby="modalLabel"
																				aria-hidden="true">
																				<div class="modal-dialog "
																					role="document">
																					<div class="modal-content">
																						<div class="modal-header">
																							<h5 class="modal-title"
																								id="modalLabel">Editar
																								la Imagen</h5>
																							<button type="button"
																								class="close"
																								data-dismiss="modal"
																								aria-label="Close">
																								<span
																									aria-hidden="true">&times;</span>
																							</button>
																						</div>
																						<div class="modal-body">
																							<div class="img-container ">
																								<img id="image"
																									src="https://avatars0.githubusercontent.com/u/3456749">
																							</div>
																						</div>
																						<div class="modal-footer">
																							<button type="button"
																								class="btn btn-secondary"
																								data-dismiss="modal">Cancel</button>
																							<button type="button"
																								class="btn btn-primary"
																								id="crop">Guardar</button>
																						</div>
																					</div>
																				</div>
																			</div>

																		</div>
																	</div>

																</div>
																</div>
															</div>
														</div>
													</div>
													<div class="form-actions">
														<div class="text-right">
															<button id="atras" type="button"
																class="btn btn-danger ">Cancelar
																<i class="ft-x position-right"></i>
															</button>

															<button id="save" type="submit"
																class="btn btn-primary">Guardar
																<i class="ft-save position-right"></i>
															</button>

														</div>
													</div>
												</div>
											</div>
										</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">

<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/editors/ckeditor/ckeditor.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/ui/jquery.sticky.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/charts/jquery.sparkline.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/ui/breadcrumbs-with-stats.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/tooltip/tooltip.js'%}"></script>
<script src="{% static 'MedCongressAdmin/assets/js/cropper.js'%}"></script>
<!-- <script src="{% static 'MedCongressAdmin/app-assets/js/scripts/editors/editor-ckeditor.js'%}"></script> -->



<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
<script src="{% static 'MedCongressApp/js/lugar.js'%}"></script>

<script type="text/javascript">
	$('#id_congreso-fecha_inicio').datetimepicker({
			format: 'dd/mm/yyyy hh:ii:ss',

	});
	$('#atras').click(function () {
		location.href = "{% url 'MedCongressAdmin:congress_list' %}";
	});
	$(document).ready(function () {

		$('#id_congreso-is_openpay').change(function () {
			if ($('#id_congreso-is_openpay').prop('checked')) {
				$("#temp").attr('style', 'display:none')
				$('#id_congreso-template').removeAttr('required')
			}
			else {
				$("#temp").removeAttr('style')
				$('#id_congreso-template').attr('required', 'required')
			}

		});
		$('#id_congreso-is_openpay').ready(function () {
			if ($('#id_congreso-is_openpay').prop('checked')) {
				$("#temp").attr('style', 'display:none')
				$('#id_congreso-template').removeAttr('required')
			}
			else {
				$("#temp").removeAttr('style')
				$('#id_congreso-template').attr('required', 'required')
			}

		});


		$('#id_congreso-fecha_inicio').datetimepicker({
			language:  'es',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});

		


		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});
		FiltrarLugar('#id_ubicacion-direccion', '#id_ubicacion-longitud', '#id_ubicacion-latitud');
		$('#id_ubicacion-direccion').keypress(function () {
			$('#id_ubicacion-latitud').val('');
			$('#id_ubicacion-longitud').val('');

		});

	});

	var id = 0;
	window.addEventListener('DOMContentLoaded', function () {
		var avatar = document.getElementById('avatar');
		var image = document.getElementById('image');
		var input = document.getElementById('input');

		var avatar1 = document.getElementById('avatar1');
		var image1 = document.getElementById('image1');
		var input1 = document.getElementById('input1');

		var avatar2 = document.getElementById('avatar2');
		var image2 = document.getElementById('image2');
		var input2 = document.getElementById('input2');

		var avatar3 = document.getElementById('avatar3');
		var image3 = document.getElementById('image3');
		var input3 = document.getElementById('input3');

		var $alert = $('#alert');
		var $modal = $('#modal');
		var cropper;

		var $alert1 = $('#alert1');
		var $modal1 = $('#modal1');
		var cropper1;

		var $alert2 = $('#alert2');
		var $modal2 = $('#modal2');
		var cropper2;

		var $alert3 = $('#alert3');
		var $modal3 = $('#modal3');
		var cropper3;

		$('[data-toggle="tooltip"]').tooltip();

		input.addEventListener('change', function (e) {
			var files = e.target.files;
			var done = function (url) {
				input.value = '';
				image.src = url;
				$alert.hide();
				$modal.modal('show');
			};
			var reader;
			var file;
			var url;

			if (files && files.length > 0) {
				file = files[0];

				tipo_imagen = files[0].name.split('.');
				if (tipo_imagen[1] != 'jpg' && tipo_imagen[1] != 'png') {

					swal("Cancelado", "Solo admimite archivos .jpg y .png.", "error");
					return;
				}
				if (URL) {
					done(URL.createObjectURL(file));
				} else if (FileReader) {
					reader = new FileReader();
					reader.onload = function (e) {
						done(reader.result);
					};
					reader.readAsDataURL(file);
				}
			}
		});


		input1.addEventListener('change', function (e) {
			var files = e.target.files;
			var done = function (url) {
				input1.value = '';
				image1.src = url;
				$alert1.hide();
				$modal1.modal('show');
			};
			var reader;
			var file;
			var url;

			if (files && files.length > 0) {
				file = files[0];

				tipo_imagen = files[0].name.split('.');
				if (tipo_imagen[1] != 'jpg' && tipo_imagen[1] != 'png') {

					swal("Cancelado", "Solo admimite archivos .jpg y .png.", "error");
					return;
				}
				if (URL) {
					done(URL.createObjectURL(file));
				} else if (FileReader) {
					reader = new FileReader();
					reader.onload = function (e) {
						done(reader.result);
					};
					reader.readAsDataURL(file);
				}
			}
		});

		input2.addEventListener('change', function (e) {
			var files = e.target.files;
			var done = function (url) {
				input2.value = '';
				image2.src = url;
				$alert2.hide();
				$modal2.modal('show');
			};
			var reader;
			var file;
			var url;

			if (files && files.length > 0) {
				file = files[0];

				tipo_imagen = files[0].name.split('.');
				if (tipo_imagen[1] != 'jpg' && tipo_imagen[1] != 'png') {

					swal("Cancelado", "Solo admimite archivos .jpg y .png.", "error");
					return;
				}
				if (URL) {
					done(URL.createObjectURL(file));
				} else if (FileReader) {
					reader = new FileReader();
					reader.onload = function (e) {
						done(reader.result);
					};
					reader.readAsDataURL(file);
				}
			}
		});

		input3.addEventListener('change', function (e) {
			var files = e.target.files;
			var done = function (url) {
				input3.value = '';
				image3.src = url;
				$alert3.hide();
				$modal3.modal('show');
			};
			var reader;
			var file;
			var url;

			if (files && files.length > 0) {
				file = files[0];

				tipo_imagen = files[0].name.split('.');
				if (tipo_imagen[1] != 'jpg' && tipo_imagen[1] != 'png') {

					swal("Cancelado", "Solo admimite archivos .jpg y .png.", "error");
					return;
				}
				if (URL) {
					done(URL.createObjectURL(file));
				} else if (FileReader) {
					reader = new FileReader();
					reader.onload = function (e) {
						done(reader.result);
					};
					reader.readAsDataURL(file);
				}
			}
		});

		$modal.on('shown.bs.modal', function () {


			$('#image').width($modal.width());


			cropper = new Cropper(image, {
				aspectRatio: 1920 / 682,
				viewMode: 1,


				ready: function () {
					//Should set crop box data first here
					cropper.setCropBoxData(cropBoxData).setCanvasData(canvasData);
				}
			});
		}).on('hidden.bs.modal', function () {
			cropper.destroy();
			cropper = null;
		});


		$modal1.on('shown.bs.modal', function () {


			$('#image1').width($modal1.width());


			cropper1 = new Cropper(image1, {
				aspectRatio: 1681 / 299,
				viewMode: 1,


				ready: function () {
					//Should set crop box data first here
					cropper1.setCropBoxData(cropBoxData).setCanvasData(canvasData);
				}
			});
		}).on('hidden.bs.modal', function () {
			cropper1.destroy();
			cropper1 = null;
		});

		$modal2.on('shown.bs.modal', function () {


$('#image2').width($modal2.width());


cropper2 = new Cropper(image2, {
	aspectRatio: 3625 / 2600,
	viewMode: 1,


	ready: function () {
		//Should set crop box data first here
		cropper1.setCropBoxData(cropBoxData).setCanvasData(canvasData);
	}
});
}).on('hidden.bs.modal', function () {
cropper2.destroy();
cropper2 = null;
});

$modal3.on('shown.bs.modal', function () {


$('#image3').width($modal3.width());


cropper3 = new Cropper(image3, {
	aspectRatio: 1920 / 1080,
	viewMode: 1,


	ready: function () {
		//Should set crop box data first here
		cropper3.setCropBoxData(cropBoxData).setCanvasData(canvasData);
	}
});
}).on('hidden.bs.modal', function () {
cropper3.destroy();
cropper3 = null;
});
		document.getElementById('crop').addEventListener('click', function () {

			var initialAvatarURL;
			var canvas;

			$modal.modal('hide');

			if (cropper) {
				canvas = cropper.getCroppedCanvas({
					width:  1920,
					height: 682,
				});
				initialAvatarURL = avatar.src;
				//   avatar.src = canvas.toDataURL();

				$('#imagenes').prepend(`<figure class="col-sm-3 " id="` + id + `"><div class="row"><div class="col-md-12">
															<img class="img-fluid"  src="`+ canvas.toDataURL() + `"  alt="imagen" >
															</div>
														
														
													</div>
													<button class="btn " type="button" onclick="deleteImagen('`+ id + `')" title="Eliminar Imagen"> <i class="icon icon-eliminar"></i></button>
													</figure>
													`);

				$("#congres-form").append("<input type='hidden' id='imagen_" + id + "' name='congreso-prueba' value='" + canvas.toDataURL() + "'>");
				//   $("<input>").attr("type", "hidden").attr("name", "").appendTo("form").val(canvas.toDataURL()); 
				//   $('#prueba').val(canvas.toDataURL());
				id = id + 1;

				$alert.removeClass('alert-success alert-warning');
				$alert.show().addClass('alert-success').text('Nueva Imagen Cargada');

			}
		});

		document.getElementById('crop1').addEventListener('click', function () {

			var initialAvatarURL1;
			var canvas1;

			$modal1.modal('hide');

			if (cropper1) {
				canvas1 = cropper1.getCroppedCanvas({
					width: 1681,
					height: 299,
				});
				initialAvatarURL1 = avatar1.src;
				avatar1.src = canvas1.toDataURL();
				$('#congreso-prueba1').val(canvas1.toDataURL());
				$('#ver').html(`<img class="img-fluid" id="avatar1" src="` + canvas1.toDataURL() + `"  alt="avatar">`);


				$alert.removeClass('alert-success alert-warning');
				$alert.show().addClass('alert-success').text('Nueva Imagen Cargada');

			}
		});

		document.getElementById('crop2').addEventListener('click', function () {

var initialAvatarURL2;
var canvas2;

$modal2.modal('hide');

if (cropper2) {
	canvas2 = cropper2.getCroppedCanvas({
		width: 3625 ,
		height: 2600,
	});
	initialAvatarURL2 = avatar2.src;
	avatar2.src = canvas2.toDataURL();
	$('#congreso-constancia').val(canvas2.toDataURL());
	$('#ver2').html(`<img class="img-fluid" id="avatar2" src="` + canvas2.toDataURL() + `"  alt="avatar">`);


	$alert.removeClass('alert-success alert-warning');
				$alert.show().addClass('alert-success').text('Nueva Imagen Cargada');

}
});

document.getElementById('crop3').addEventListener('click', function () {

var initialAvatarURL3;
var canvas3;

$modal3.modal('hide');

if (cropper3) {
	canvas3 = cropper3.getCroppedCanvas({
		width:  1920,
		height: 1080,
	});
	initialAvatarURL3 = avatar3.src;
	avatar3.src = canvas3.toDataURL();
	$('#congreso-imagen_home').val(canvas3.toDataURL());
	$('#ver3').html(`<img class="img-fluid" id="avatar3" src="` + canvas3.toDataURL() + `"  alt="avatar">`);


	$alert.removeClass('alert-success alert-warning');
	$alert.show().addClass('alert-success').text('Nueva Imagen Cargada');

}
});




	});

	function deleteImagen(pk) {
		swal({
			title: "¿Estás seguro?",
			text: "¡Eliminará esta Imagen!",
			icon: "warning",
			buttons: {
				cancel: {
					text: "¡No, cancelar!",
					value: null,
					visible: true,
					className: "",
					closeModal: false,
				},
				confirm: {
					text: "¡Sí, eliminarlo!",
					value: true,
					visible: true,
					className: "",
					closeModal: false
				}
			}
		})
			.then((isConfirm) => {
				if (isConfirm) {

					$('#' + pk).remove();
					$('#imagen_' + pk).remove();
					$('#alert').show().addClass('alert-warning').text('Imagen Eliminada');
					swal("¡Eliminado!", "Este elemento ha sido eliminado.", "success");
				} else {
					swal("Cancelado", "No se eliminó este Imagen.", "error");

				}
			});
	}


</script>
{% endblock %}