{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Congreso{% endblock %}
{% load static %}
{% block styles %}

<style>
	#geomap {
		width: 100%;
		height: 400px;
	}
</style>

{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Insertar Foto</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div class="col-sm-12">
						<div class="form-group">
							<label for="{{form.imagen_congreso.imagen.id_for_label }}"><b>{{form.imagen_congreso.imagen.label
									}}</b>{% if form.imagen_congreso.imagen.errors %}
								<span style="font-size: 15px; color: red;">{{ form.imagen_congreso.imagen.errors }}
								</span>{% endif %} </label>

							{{form.imagen_congreso.imagen }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a onclick="InsertImagen()" type="button" class="btn btn-primary" data-dismiss="modal">Insertar</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Lugar</h4> <button type="button" class="close"
						data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="add_tipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Insertar Nuevo Tipo de Congreso</h4> <button type="button"
						class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="add_esp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Insertar Nueva Especialidad</h4> <button type="button"
						class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Congreso</h1>
					{% if messages %}
					<ul class="messages">
						{% for message in messages %}
						<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
							{% endfor %}
					</ul>
					{% endif %}
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">

							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-sm-8 ">
												<div class="form-group">
													<label for="{{form.congreso.titulo.id_for_label }}"><b>{{form.congreso.titulo.label}}</b>{% if form.congreso.titulo.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.titulo.errors }}
														</span>{% endif %} </label>

													{{form.congreso.titulo }}
												</div>
											</div>
											<div class="col-sm-4 ">
												<div class="form-group">
													<label for="{{form.congreso.fecha_inicio.id_for_label }}"><b>{{form.congreso.fecha_inicio.label}}</b>{% if form.congreso.fecha_inicio.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.fecha_inicio.errors }}
														</span>{% endif %} </label>

													{{form.congreso.fecha_inicio}}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-8 ">
												<div class="form-group">
													<label for="{{form.congreso.sub_titulo.id_for_label }}"><b>{{form.congreso.sub_titulo.label}}</b>{% if form.congreso.sub_titulo.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.sub_titulo.errors }}
														</span>{% endif %} </label>

													{{form.congreso.sub_titulo }}
												</div>
											</div>
										</div>
										
										<div class="row">{%if not imagen_seg_url%}
											<div class="col-sm-6 ">
												<div class="form-group">
													<label for="{{form.imagen_congreso.imagen.id_for_label }}"><b>Imagen Principal</b>
														{% if form.imagen_congreso.imagen.errors %} <span
															style="font-size: 15px; color: red;">{{form.imagen_congreso.imagen.errors }}
														</span>{% endif %} </label><br>

													{{form.imagen_congreso.imagen }}
												</div>
											</div>
											{%endif%}
											<div class="col-sm-6 ">
												<div class="form-group">
													{%if imagen_seg_url%}
													<label><b>Imagen Actual </b> </label>
													<figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia"
														itemscope=""></figure>
													<a href="{{imagen_seg_url}}" itemprop="contentUrl"
														data-size="480x360">
														<img class="img-thumbnail img-fluid" src="{{imagen_seg_url}}"
															itemprop="thumbnail" alt="Image description">
													</a>

													</figure>

													<label for=" " style="margin-top: 20px;"> <b>Insertar Nueva
															Imagen</b> </label>
													{% if form.congreso.imagen_seg.errors %}<span
														style="font-size: 15px; color: red;">{{form.congreso.imagen_seg.errors }}
													</span>{% endif %}
													<input type="file" name="congreso-imagen_seg" accept="image/*"
														class=" form-control " id="id_congreso-imagen_seg">
													{% else%}
													<label for="{{form.congreso.imagen_seg.id_for_label }}"><b>Imagen Segundaria</b>{% if form.congreso.imagen_seg.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.imagen_seg.errors }}
														</span>{% endif %} </label><br>

													{{form.congreso.imagen_seg }}
													{%endif%}
												</div>
											</div>
										</div>
										
										<div class="row">

											
											
											<div class="col-sm-3 ">
												<div class="form-group">
													<label for="{{form.congreso.is_openpay.id_for_label }}"><b>{{form.congreso.is_openpay.label}}</b>
														{% if form.congreso.is_openpay.errors %} <span
															style="font-size: 15px; color: red;">{{form.congreso.is_openpay.errors }}
														</span>{% endif %} </label>

													{{form.congreso.is_openpay }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div id="temp" class="form-group">
													<label for="{{form.congreso.template.id_for_label }}"><b>{{form.congreso.template.label}}</b>
														{% if form.congreso.template.errors %} <span
															style="font-size: 15px; color: red;">{{form.congreso.template.errors }}
														</span>{% endif %} </label>

													{{form.congreso.template }}
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-sm-5 ">
												<div class="form-group">
													<label for="{{form.ubicacion.direccion.id_for_label }}"><b>{{form.ubicacion.direccion.label}}</b>
														{% if form.ubicacion.direccion.errors %} <span
															style="font-size: 15px; color: red;">{{form.ubicacion.direccion.errors }}
														</span>{% endif %} </label>

													{{form.ubicacion.direccion }}
												</div>
											</div>
											<div class="col-ms-1">
												<div class="form-group">

													<label class="mapa">Ver Mapa</label>
													<!-- <a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
													<button type="button" class="btn btn-link" data-toggle="modal"
														data-target="#my" style="display: block;">
														<span><i class="ft ft-map-pin"
																style="font-size: 30px;display: block;margin-top: -13px;"></i></span>

													</button>

												</div>

											</div>
											<div class="col-sm-1"></div>
											<div class="col-sm-3">
												<div class="form-group">
													<label for="{{form.congreso.t_congreso.id_for_label }}"><b>{{form.congreso.t_congreso.label}}</b>{% if form.congreso.t_congreso.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.t_congreso.errors }}
														</span>{% endif %} </label>

													{{form.congreso.t_congreso }}
												</div>
											</div>
											<!-- <div class="col-ms-1">
												<div class="form-group">

													<label></label>
													<a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
											<!-- <button type="button" class="btn btn-link" data-toggle="modal"
														data-target="#add_tipo" style="display: block;">
														<span><i class="ft ft-plus"
																style="font-size: 30px;display: block;margin-top: -13px;"></i></span>

													</button>

												</div>

											</div> -->
											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label for="{{form.ubicacion.longitud.id_for_label }}"><b>{{form.ubicacion.longitud.label}}</b>{% if form.ubicacion.longitud.errors %}
														<span style="font-size: 15px; color: red;">{{form.ubicacion.longitud.errors }}
														</span>{% endif %}</label>

													{{form.ubicacion.longitud }}
												</div>
											</div>
											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label for="{{form.ubicacion.latitud.id_for_label }}"><b>{{form.ubicacion.latitud.label}}</b>{% if form.ubicacion.latitud.errors %}
														<span style="font-size: 15px; color: red;">{{	form.ubicacion.latitud.errors }}
														</span>{% endif %} </label>

													{{form.ubicacion.latitud }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-3">
												<div class="form-group">
													<label for="{{form.congreso.especialidad.id_for_label }}"><b>{{form.congreso.especialidad.label}}</b>{% if form.congreso.especialidad.errors %}
														<span style="font-size: 15px; color: red;">{{	form.congreso.especialidad.errors }}
														</span>{% endif %} </label>

													{{form.congreso.especialidad }}
												</div>
											</div>
											<div class="col-sm-3">
												<div class="form-group">
													<label for="{{form.congreso.especialidad.id_for_label }}"><b>% Para
															Obtener Constancia</b>{% if form.congreso.aprobado.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.aprobado.errors }}
														</span>{% endif %} </label>

													{{form.congreso.aprobado }}
												</div>
											</div>
											<div class="col-sm-4">
												<div class="form-group">
													<label for="{{form.congreso.cant_preguntas.id_for_label }}"><b>Cant.
															Preguntas del
															Cuestionario</b>{% if form.congreso.cant_preguntas.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.cant_preguntas.errors }}
														</span>{% endif %} </label>

													{{form.congreso.cant_preguntas }}
												</div>
											</div>
											

										</div>



										<div class="row">
											<div class="col-sm-3 ">
												<div class="form-group">
													<label for="{{form.congreso.published.id_for_label }}"><b>{{form.congreso.published.label}}</b>{% if form.congreso.published.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.published.errors }}
														</span>{% endif %} </label>

													{{form.congreso.published }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">
													<label for="{{form.congreso.score.id_for_label }}"><b>{{form.congreso.score.label}}</b>{% if form.congreso.score.errors %}
														<span style="font-size: 15px; color: red;">{{form.congreso.score.errors }}
														</span>{% endif %} </label>

													{{form.congreso.score }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">
													{%if foto_constancia%}
													<label><b>Imagen Actual </b> </label>
													<figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia"
														itemscope=""></figure>
													<a href="{{foto_constancia}}" itemprop="contentUrl"
														data-size="480x360">
														<img class="img-thumbnail img-fluid" src="{{foto_constancia}}"
															itemprop="thumbnail" alt="Image description">
													</a>

													</figure>

													<label for=" " style="margin-top: 20px;"> <b>Insertar Nueva
															Imagen</b> </label>
													{% if form.congreso.foto_constancia.errors %}<span
														style="font-size: 15px; color: red;">{{form.congreso.foto_constancia.errors }}
													</span>{% endif %}
													<input type="file" name="congreso-foto_constancia" accept="image/*"
														class=" form-control " id="id_congreso-foto_constancia">
													{% else%}
													<label for="{{form.congreso.foto_constancia.id_for_label }}"><b>Imagen
															de la Constancia</b>
															{% if form.congreso.foto_constancia.errors %}
														<span style="font-size: 15px; color: red;">{{ form.congreso.foto_constancia.errors }}
														</span>{% endif %} </label>

													{{form.congreso.foto_constancia }}
													{%endif%}
												</div>
											</div>
										</div>
										<!-- META DATOS -->
										<div class="modal fade bs-example-modal-lg" id="meta" tabindex="-1"
											role="dialog" aria-labelledby="myModalLabel">
											<div class="modal-dialog  modal-lg" role="document">
												<div class="modal-content">
													<div class="modal-header">

														<h4 class="modal-title" id="myModalLabel">Meta datos de este
															Congreso</h4>
														<button type="button" class="close" data-dismiss="modal"
															aria-label="Close"><span
																aria-hidden="true">&times;</span></button>
													</div>
													<div class="modal-body">
														<section id="configuration">
															<div class="row">
																<div class="col-12">
																	<div class="card">


																		<div class="card-content collapse show">
																			<div class="card-body card-dashboard">

																				<div class="row">
																					<div class="col-sm-4">
																						<h5
																							style="margin-bottom: 10px;">
																							<b>Metas Principales </b>
																						</h5>
																						<div class="form-group">
																							<label for="">
																								<b>Título</b></label>


																							{{form.congreso.meta_title}}
																						</div>
																						<div class="form-group">
																							<label for="">
																								<b>Descripción</b></label>

																						

																							{{form.congreso.meta_description}}
																						</div>
																						<div class="form-group">
																							<label for=""> <b>Palabras
																									Claves</b><span
																									id="toggle-method"
																									data-toggle="tooltip"
																									data-placement="top"
																									data-original-title="Palabras separadas por coma(,)">
																									<i
																										class="ft ft-info"></i>
																								</span></label>

																							

																							{{form.congreso.meta_keywords}}
																						</div>
																					</div>
																					<div class="col-sm-4">
																						<h5
																							style="margin-bottom: 10px;">
																							<b>Metas para FaceBook </b>
																						</h5>
																						<div class="form-group">
																							<label for="">
																								<b>Título</b></label>
																							

																							{{form.congreso.meta_og_title}}
																						</div>
																						<div class="form-group">
																							<label for="">
																								<b>Descripción</b></label>
																						
																							{{form.congreso.meta_og_description}}
																						</div>
																						<div class="form-group">
																							<label for="">
																								<b>Tipo</b></label>
																						
																							{{form.congreso.meta_og_type}}
																						</div>
																						<div class="form-group">
																							<label for="">
																								<b>URL</b></label>


																							{{form.congreso.meta_og_url}}
																						</div>
																						<div class="form-group">
																							<label for="">
																								<b>Imagen</b></label>

																							{%if imagen_meta%}
																							<img src="{{imagen_meta}}"
																								class="img-responsive"
																								style="width: 126px; padding: 20px;"
																								alt=""><br>
																								<input type="checkbox" name="congreso-meta_og_imagen-clear" id="congreso-meta_og_imagen-clear_id"> Eliminar
																							<input type="file"
																								name="meta_og_imagen"
																								accept="image/*"
																								class="form-control "
																								id="id_congreso-meta_og_imagen">
																							{%else%}
																							{{form.congreso.meta_og_imagen}}
																							{%endif%}
																						</div>
																					</div>
																					<div class="col-sm-4">
																						<h5
																							style="margin-bottom: 10px;">
																							<b> Metas para Redes
																								Sociales</b>
																						</h5>

																						<div class="form-group">
																							<label for="">
																								<b>Card</b></label>


																							{{form.congreso.meta_twitter_card}}
																						</div>

																						<div class="form-group">
																							<label for="">
																								<b>Sitio</b></label>


																							{{form.congreso.meta_twitter_site}}
																						</div>
																						<div class="form-group">
																							<label for="">
																								<b>Creador</b></label>

																							{{form.congreso.meta_twitter_creator}}
																						</div>
																					</div>
																				</div>
																			</div>

																		</div>
																	</div>
																</div>
															</div>
														</section>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default"
															data-dismiss="modal">Aplicar</button>

													</div>
												</div>
											</div>
										</div>

										<!-- END META DATOS -->
										<div class="row">
											<div class="col-sm-6 ">
												<div class="form-group">
													<label for="{{form.congreso.streaming.id_for_label }}"><b>Código de
															inserción del streaming en Vimeo</b>{% if form.congreso.streaming.errors %}
														<span style="font-size: 15px; color: red;">{{ form.congreso.streaming.errors }}
														</span>{% endif %} </label>

													{{form.congreso.streaming }}
												</div>
											</div>
											<div class="col-md-1"></div>
											<div class="col-md-5">
												{% if form.congreso.meta_description.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.congreso.meta_description.errors }}
													</span>
													{% endif %} 
												{% if form.congreso.meta_og_title.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.congreso.meta_og_title.errors }}
													</span>
													{% endif %} 
												{% if form.congreso.meta_og_type.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.congreso.meta_og_type.errors }}
													</span>
													{% endif %}
												{% if form.congreso.meta_og_url.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.congreso.meta_og_url.errors }}
												</span>
												{% endif %}
												{% if form.congreso.meta_title.errors %}
												<span style="font-size: 15px; color: red;">
													{{form.congreso.meta_title.errors }}
												</span>
												{% endif %}
												{% if form.congreso.meta_keywords.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.congreso.meta_keywords.errors }}
													</span>
													{% endif %} 
												{% if form.congreso.meta_twitter_card.errors%}
												<span style="font-size: 15px; color: red;">
													{{form.congreso.meta_twitter_card.errors}}
												</span>
												{% endif %}
												{% if form.congreso.meta_og_imagen.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.congreso.meta_og_imagen.errors}}
												</span>
												{% endif %}
												{% if form.congreso.meta_twitter_creator.errors%}
												<span style="font-size: 15px; color: red;">
													{{form.congreso.meta_twitter_creator.errors}}
												</span>
												{% endif %}
												{% if form.congreso.meta_twitter_site.errors%}
												<span style="font-size: 15px; color: red;">
													{{form.congreso.meta_twitter_site.errors}}
												</span>
												{% endif %}
												{% if form.congreso.meta_og_description.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.congreso.meta_og_description.errors }}
													</span>
													{% endif %} 

												<button type="button" class="btn btn-link" data-toggle="modal"
													data-target="#meta">
													<h6 > Gestionar los Metadatos de este Evento </h6>

												</button>
											</div>
										</div>
										<div class="form-actions">
											<div class="text-right">
												<button id="atras" type="button" class="btn btn-danger ">Cancelar
													<i class="ft-x position-right"></i>
												</button>

												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>

											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>


<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
<script src="{% static 'MedCongressApp/js/lugar.js'%}"></script>

<script type="text/javascript">
	$('#atras').click(function () {
		location.href = "{% url 'MedCongressAdmin:congress_list' %}";
	});
	$(document).ready(function () {

		$('#id_congreso-is_openpay').change(function () {
			if ($('#id_congreso-is_openpay').prop('checked')) {
				$("#temp").attr('style', 'display:none')
				$('#id_congreso-template').removeAttr('required')
			}
			else {
				$("#temp").removeAttr('style')
				$('#id_congreso-template').attr('required', 'required')
			}

		});
		$('#id_congreso-is_openpay').ready(function () {
			if ($('#id_congreso-is_openpay').prop('checked')) {
				$("#temp").attr('style', 'display:none')
				$('#id_congreso-template').removeAttr('required')
			}
			else {
				$("#temp").removeAttr('style')
				$('#id_congreso-template').attr('required', 'required')
			}

		});


		$('#id_congreso-fecha_inicio').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});




		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});
		FiltrarLugar('#id_ubicacion-direccion', '#id_ubicacion-longitud', '#id_ubicacion-latitud');
		$('#id_ubicacion-direccion').keypress(function () {
			$('#id_ubicacion-latitud').val('');
			$('#id_ubicacion-longitud').val('');

		});

	});



</script>
{% endblock %}