{% extends 'MedCongressAdmin/base.html' %}
{% block title %}Adicionar Preguntas al Cuestionario {% endblock %}
{% load static %}
{% block styles %}

<style>
	#geomap {
		width: 100%;
		height: 400px;
	}
</style>

{% endblock %}
{% block content %}

<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:congress_list' %}">Congresos</a>
		  </li>
		  
		  <li class="breadcrumb-item active"><a href="{% url 'MedCongressAdmin:Congres_cuestionario' congreso.path %}">Cuestionario</a>
		</li>
		<li class="breadcrumb-item active">{%if pregunta%} Actualizar Pregunta del Cuestionario{%else%}Adicionar Pregunta del Cuestionario{%endif%}</a>
		</li>
		
		</ol>
	  </div>
	</div>
  </div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">




	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						{%if pregunta%} Actualizar Pregunta del Cuestionario{%else%}Adicionar Pregunta del Cuestionario{%endif%}</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							{%if pregunta%}
							<input type="hidden" name="update" value="{{pregunta.id}}">
							{%endif%}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-sm-8 ">
												<div class="form-group">
													<label
														for="{{form.pregunta.id_for_label }}"><b>{{form.pregunta.label }}</b>{% if form.pregunta.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.pregunta.errors }}
														</span>{% endif %} </label>

													{{form.pregunta }}
												</div>
											</div>

											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label
														for="{{form.congreso.id_for_label }}"><b>{{form.congreso.label }}</b>{% if form.congreso %}
														<span
															style="font-size: 15px; color: red;">{{ form.congreso.errors }}
														</span>{% endif %} </label>

													{{form.congreso}}
												</div>
											</div>
											<div class="col-sm-2 ">
												<div class="form-group">
													<label
														for="{{form.published.id_for_label }}"><b>{{form.published.label }}</b>{% if form.published %}
														<span
															style="font-size: 15px; color: red;">{{ form.published.errors }}
														</span>{% endif %} </label>
														{%if pregunta%}
													<select name="published" class="form-control" id="">
														{%if pregunta.published %}
														<option value="True" selected>Si</option>
														<option value="False" >No</option>
														{%else%}
														<option value="True" >Si</option>
														<option value="False" selected>No</option>
														{%endif%}
													</select>
													{%else%}
													{{ form.published}}
													{%endif%}
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-sm-8 ">
											<b> Posibles Respuestas</b>	
											</div>
											<div class="col-sm-2">
												 <b> V o F</b>
												</div>
												<div class="col-sm-2 ">
													 <b> Publicada</b>
													</div>
										</div>
										
										<div class="respuestas">
											{%if respuestas%}
												{%for respuesta in respuestas%}
												<div class="row respuesta">
													<div class="col-sm-8 ">
														<div class="form-group">
		
		
															<input type="text" name="respuesta" maxlength="250" class="form-control" required="" value="{{respuesta.respuesta}}">
														</div>
													</div>
													<div class="col-sm-2 ">
														<div class="form-group">
		
		
															<select name="is_correcto" class="form-control" id="">
																{%if respuesta.is_correcto%}
																<option value="True" selected >Verdadera</option>
																<option value="False"  >Falsa</option>
															{%else%}
															<option value="True"  >Verdadera</option>
																<option value="False" selected >Falsa</option>
																{%endif%}
															</select>
														</div>
													</div>
													<div class="col-sm-2 ">
														<div class="form-group">
		
		
															<select name="published_resp" class="form-control" id="">
																{%if respuesta.published%}
																<option value="True" selected >Si</option>
																<option value="False" >No</option>
																{%else%}
																<option value="True"  >Si</option>
																<option value="False" selected>No</option>
																{%endif%}
															</select>
														</div>
													</div>
												
												</div>
												{%endfor%}
											{%else%}
											<div class="row respuesta">
											<div class="col-sm-8 ">
												<div class="form-group">


													<input type="text" name="respuesta" maxlength="250" class="form-control" required="">
												</div>
											</div>
											<div class="col-sm-2 ">
												<div class="form-group">


													<select name="is_correcto" class="form-control" id="">
														<option value="True">Verdadera</option>
														<option value="False" selected>Falsa</option>
													</select>
												</div>
											</div>
											<div class="col-sm-2 ">
												<div class="form-group">


													<select name="published_resp" class="form-control" id="">
														<option value="True">Si</option>
														<option value="False" selected>No</option>
													</select>
												</div>
											</div>
										
										</div>
										<div class="row respuesta">
											<div class="col-sm-8 ">
												<div class="form-group">


													<input type="text" name="respuesta" maxlength="250" class="form-control" required="">
												</div>
											</div>
											<div class="col-sm-2 ">
												<div class="form-group">


													<select name="is_correcto" class="form-control" id="">
														<option value="True">Verdadera</option>
														<option value="False" selected>Falsa</option>
													</select>
												</div>
											</div>
											<div class="col-sm-2 ">
												<div class="form-group">


													<select name="published_resp" class="form-control" id="">
														<option value="True">Si</option>
														<option value="False" selected>No</option>
													</select>
												</div>
											</div>
										
										</div>
										{%endif%}	
										</div>
										
											<div class="text-right">
										<button type="button" class="btn btn-sm " title="Agregar Respuesta" onclick="AddRespuesta();">+</button>
										<button type="button" class="btn btn-sm"  id="del" title="Eliminar Respuesta" onclick="DeletedRespuesta();" disabled>-</button>
								<div class="form-actions">
										<div class="text-right">
											<button id="atras" type="button" class="btn btn-danger ">Cancelar
												<i class="ft-x position-right"></i>
											</button>

											<button id="save" type="submit" class="btn btn-primary">Guardar
												<i class="ft-save position-right"></i>
											</button>

										</div>
									</div>
									</div>

									
								</div>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>




<script type="text/javascript">
	$('#atras').click(function () {
	
		location.href = "{% url 'MedCongressAdmin:Congres_cuestionario' congreso.path %}";
		
	});
	
	$("#id_congreso option[value='{{congreso.id}}']").attr("selected", true);
	

	$(document).ready(function () {
		





		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});


	});
	function AddRespuesta(){
		jQuery('.respuestas').append(`<div class="row respuesta">
											<div class="col-sm-8 ">
												<div class="form-group">


													<input type="text" name="respuesta" maxlength="250" class="form-control" required="">
												</div>
											</div>
											<div class="col-sm-2 ">
												<div class="form-group">


													<select name="is_correcto" class="form-control" id="">
														<option value="True">Verdadera</option>
														<option value="False" selected>Falsa</option>
													</select>
												</div>
											</div>
											<div class="col-sm-2 ">
												<div class="form-group">


													<select name="published_resp" class="form-control" id="">
														<option value="True">Si</option>
														<option value="False" selected>No</option>
													</select>
												</div>
											</div>
										
										</div>`);
										$('#del').removeAttr('disabled');

	}
function DeletedRespuesta(){
	$('.respuesta').last().remove();
	if($('.respuesta').length==2)
	$('#del').attr('disabled','disabled');
}
</script>
{% endblock %}