{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Ponente{% endblock %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:congress_list' %}">Congresos</a>
		  </li>
		  
		  <li class="breadcrumb-item active"><a href="{% url 'MedCongressAdmin:Congres_imagenes' path=cong.path%}">Imagenes</a>
		</li>
	</li>
		  
	<li class="breadcrumb-item active">Adicionar Imagen
  </li>
		
		</ol>
	  </div>
	</div>
  </div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Imagen</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
					
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="country-form" method="POST" enctype="multipart/form-data" >
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										
										<div class="col-sm-8 ">
											<div class="form-group">
												<label
													for="{{form.imagen.id_for_label }}"><b>{{form.imagen.label }}</b>{% if form.imagen.errors %}
													<span
														style="font-size: 15px; color: red;">{{ form.imagen.errors }}
													</span>{% endif %} </label>

													{{ form.imagen}}	
													<div style="display: none;"><input type="checkbox" value="false" name="update" id="id_update"></div>
											</div>
										</div>
										<div class="col-sm-8 ">
											<div class="form-group" style="display: none;">
												<label
													for="{{form.congreso.id_for_label }}"><b>{{form.congreso.label }}</b>{% if form.congreso.errors %}
													<span
														style="font-size: 15px; color: red;">{{ form.congreso.errors }}
													</span>{% endif %} </label>

													{{ form.congreso}}	
											</div>
										</div>
											
											
											
										</fieldset>
										<div class="form-actions">
											<div class="text-right">
												
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function () {
		{%if cong %}
		$("#id_congreso option[value='{{cong.id}}']").attr("selected", true);
		{% endif %}
		
	});
</script>
{% endblock %}