{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Add Moderador{% endblock %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Moderador</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
							
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="country-form" method="POST">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										
										<div class="col-sm-8 ">
											<div class="form-group">
												<label
													for="{{form.user.id_for_label }}"><b>{{form.user.label }}</b>{% if form.user.errors %}
													<span
														style="font-size: 15px; color: red;">{{ form.user.errors }}
													</span>{% endif %} </label>

													<select name="user" class="form-control" required="" id="id_user">
														<option value="" selected="">---------</option>
													  {%for user in users%}
														<option value="{{user.id}}">{{user.usuario.first_name}} {{user.usuario.last_name}}</option>
													  {%endfor%}
													  
													  </select>
											</div>
										</div>
											
											
											
										</fieldset>
										<div class="form-actions">
											<div class="text-right">
												
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
	$(document).ready(function () {
	
		
	});
</script>
{% endblock %}