{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Congreso{% endblock %}
{% load static %}
{% block styles %}

</head>
<style>
	#geomap {
		width: 100%;
		height: 400px;
	}
</style>

{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Insertar Foto</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div class="col-sm-12">
						<div class="form-group">
							<label
								for="{{form.imagen_congreso.imagen.id_for_label }}"><b>{{form.imagen_congreso.imagen.label }}</b>{% if form.imagen_congreso.imagen.errors %}
								<span style="font-size: 15px; color: red;">{{ form.imagen_congreso.imagen.errors }}
								</span>{% endif %} </label>

							{{form.imagen_congreso.imagen }}
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<a onclick="InsertImagen()" type="button" class="btn btn-primary" data-dismiss="modal">Insertar</a>
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Lugar</h4> <button type="button" class="close"
						data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="add_tipo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Insertar Nuevo Tipo de Congreso</h4> <button type="button"
						class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="add_esp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Insertar Nueva Especialidad</h4> <button type="button"
						class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Ponencia</h1>
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
								{% endfor %}
						</ul>
						{% endif %}
						{% if form.ponencia.error.errors %}
					<ul class="messages">
						
						<li  class="" >{{form.ponencia.error.errors }} </li>
							
					</ul>
					{% endif %}
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">

							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							{%if ponencia %}
							<input type="hidden" name="id" value="{{ponencia.id}}">
							{%endif%}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-sm-8 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.titulo.id_for_label }}"><b>{{form.ponencia.titulo.label }}</b>{% if form.ponencia.titulo.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.titulo.errors }}
														</span>{% endif %} </label>

													{{form.ponencia.titulo }}
												</div>
											</div>
											<div class="col-sm-4 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.fecha_inicio.id_for_label }}"><b>{{form.ponencia.fecha_inicio.label }}</b>{% if form.ponencia.fecha_inicio.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.fecha_inicio.errors }}
														</span>{% endif %} </label>

													{{form.ponencia.fecha_inicio}}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.detalle.id_for_label }}"><b>{{form.ponencia.detalle.label }}</b>{% if form.ponencia.detalle.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.detalle.errors }}
														</span>{% endif %} </label>

													{{form.ponencia.detalle }}
												</div>
											</div>
										</div>
										<div class="row">

											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.duracion.id_for_label }}"><b>{{form.ponencia.duracion.label }}</b>{% if form.ponencia.duracion.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.duracion.errors }}
														</span>{% endif %} </label>

													{{form.ponencia.duracion }}
												</div>
											</div>
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.cod_video.id_for_label }}"><b>Código de inserción del video en Vimeo</b>{% if form.ponencia.cod_video.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.cod_video.errors }}
														</span>{% endif %} </label>

													{{form.ponencia.cod_video }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 ">
												<div class="form-group">

													{%if imagen_seg_url%}
													<label><b>Imagen Actual </b> </label>
													<figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia"
														itemscope=""></figure>
													<a href="{{imagen_seg_url}}" itemprop="contentUrl"
														data-size="480x360">
														<img class="img-thumbnail img-fluid" src="{{imagen_seg_url}}"
															itemprop="thumbnail" alt="Image description">
													</a>

													</figure>

													<label for=" " style="margin-top: 20px;"> <b>Insertar Nueva
															Imagen</b> </label>
															{% if form.ponencia.imagen.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.imagen.errors }}
														</span>{% endif %}
													<input type="file" name="ponencia-imagen" accept="image/*"
														class=" form-control " id="id_ponencia-imagen">
													{% else%}


													<label
														for="{{form.ponencia.imagen.id_for_label }}"><b>{{form.ponencia.imagen.label }}</b>{% if form.ponencia.imagen.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.imagen.errors }}
														</span>{% endif %} </label>

													{{form.ponencia.imagen }}
													{%endif%}
												</div>
											</div>
											{% if not bloque_update%}
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.ponencia_ponente.ponente.id_for_label }}"><b>{{form.ponencia_ponente.ponente.label }}</b>
														{% if form.ponencia_ponente.ponente.errors %} <span
															style="font-size: 15px; color: red;">{{ form.ponencia_ponente.ponente.errors }}
														</span>{% endif %} </label>
														<div style="display: none;">
															{{form.ponencia_ponente.ponente}}
														</div>
		
														<input type="text" name="my_ponente" class="form-control" required=""
															id="id_my_ponente">
												</div>
											</div>
											{%endif%}

										</div>
										<div class="row">
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.ubicacion.direccion.id_for_label }}"><b>{{form.ubicacion.direccion.label }}</b>
														{% if form.ubicacion.direccion.errors %} <span
															style="font-size: 15px; color: red;">{{ form.ubicacion.direccion.errors }}
														</span>{% endif %} </label>
													{{form.ubicacion.direccion }}
												</div>
											</div>
											<div class="col-ms-1">
												<div class="form-group">

													<label class="mapa">Ver Mapa</label>
													<!-- <a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
													<button type="button" class="btn btn-link" data-toggle="modal"
														data-target="#my" style="display: block;">
														<span><i class="ft ft-map-pin"
																style="font-size: 30px;display: block;margin-top: -13px;"></i></span>

													</button>

												</div>

											</div>

											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label
														for="{{form.ubicacion.longitud.id_for_label }}"><b>{{form.ubicacion.longitud.label }}</b>{% if form.ubicacion.longitud.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ubicacion.longitud.errors }}
														</span>{% endif %}</label>

													{{form.ubicacion.longitud }}
												</div>
											</div>
											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label
														for="{{form.ubicacion.latitud.id_for_label }}"><b>{{form.ubicacion.latitud.label }}</b>{% if form.ubicacion.latitud.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ubicacion.latitud.errors }}
														</span>{% endif %} </label>

													{{form.ubicacion.latitud }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group" {%if con %} style="display: none;" {%endif%}>


													<label
														for="{{form.ponencia.congreso.id_for_label }}"><b>{{form.ponencia.congreso.label }}</b>{% if form.ponencia.congreso.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.congreso.errors }}
														</span>{% endif %} </label>

													{{form.ponencia.congreso }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group" {%if bloque %} style="display: none;" {%endif%}>


													<label
														for="{{form.ponencia.bloque.id_for_label }}"><b>{{form.ponencia.bloque.label }}</b>{% if form.ponencia.bloque.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.bloque.errors }}
														</span>{% endif %} </label>
													
														{%if blo %}
														<select name="ponencia-bloque" class="form-control" id="id_ponencia-bloque">
															<option value="" selected="">---------</option>
														  {%for b in blo%}
															<option value="{{b.id}}">{{b.titulo}}</option>
														  {%endfor%}
														  
														  </select>
														{%else%}
													{{form.ponencia.bloque }}
													{% endif %}

												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">


													<label for="id_ponencia-is_info"><b>Tipo de evento en el Programa</b> </label>

													<select name="ponencia-is_info" class="form-control" required="" id="id_ponencia-is_info">
  <option value="False" selected="">Información</option>
  <option value="True" selected="">Ponencia</option>

  

</select>
												</div>
											</div>
											<!-- META DATOS -->
										<div class="modal fade bs-example-modal-lg" id="meta" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel">
										<div class="modal-dialog  modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">

													<h4 class="modal-title" id="myModalLabel">Meta datos de esta
														Ponencia</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close"><span
															aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													<section id="configuration">
														<div class="row">
															<div class="col-12">
																<div class="card">


																	<div class="card-content collapse show">
																		<div class="card-body card-dashboard">

																			<div class="row">
																				<div class="col-sm-4">
																					<h5
																						style="margin-bottom: 10px;">
																						<b>Metas Principales </b>
																					</h5>
																					<div class="form-group">
																						<label for="">
																							<b>Título</b></label>


																						{{form.ponencia.meta_title}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Descripción</b></label>

																					

																						{{form.ponencia.meta_description}}
																					</div>
																					<div class="form-group">
																						<label for=""> <b>Palabras
																								Claves</b><span
																								id="toggle-method"
																								data-toggle="tooltip"
																								data-placement="top"
																								data-original-title="Palabras separadas por coma(,)">
																								<i
																									class="ft ft-info"></i>
																							</span></label>

																						

																						{{form.ponencia.meta_keywords}}
																					</div>
																				</div>
																				<div class="col-sm-4">
																					<h5
																						style="margin-bottom: 10px;">
																						<b>Metas para FaceBook </b>
																					</h5>
																					<div class="form-group">
																						<label for="">
																							<b>Título</b></label>
																						

																						{{form.ponencia.meta_og_title}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Descripción</b></label>
																					
																						{{form.ponencia.meta_og_description}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Tipo</b></label>
																					
																						{{form.ponencia.meta_og_type}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>URL</b></label>


																						{{form.ponencia.meta_og_url}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Imagen</b></label>

																						{%if imagen_meta%}
																						<img src="{{imagen_meta}}"
																							class="img-responsive"
																							style="width: 126px; padding: 20px;"
																							alt=""><br>
																							<input type="checkbox" name="ponencia-meta_og_imagen-clear" id="ponencia-meta_og_imagen-clear_id"> Eliminar
																						<input type="file"
																							name="meta_og_imagen"
																							accept="image/*"
																							class="form-control "
																							id="id_ponencia-meta_og_imagen">
																						{%else%}
																						{{form.ponencia.meta_og_imagen}}
																						{%endif%}
																					</div>
																				</div>
																				<div class="col-sm-4">
																					<h5
																						style="margin-bottom: 10px;">
																						<b> Metas para Redes
																							Sociales</b>
																					</h5>

																					<div class="form-group">
																						<label for="">
																							<b>Card</b></label>


																						{{form.ponencia.meta_twitter_card}}
																					</div>

																					<div class="form-group">
																						<label for="">
																							<b>Sitio</b></label>


																						{{form.ponencia.meta_twitter_site}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Creador</b></label>

																						{{form.ponencia.meta_twitter_creator}}
																					</div>
																				</div>
																			</div>
																		</div>

																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Aplicar</button>

												</div>
											</div>
										</div>
									</div>

									<!-- END META DATOS -->
											<div class="col-md-1"></div>
											<div class="col-md-5">
												{% if form.ponencia.meta_description.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.ponencia.meta_description.errors }}
													</span>
													{% endif %} 
												{% if form.ponencia.meta_og_title.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.ponencia.meta_og_title.errors }}
													</span>
													{% endif %} 
												{% if form.ponencia.meta_og_type.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.ponencia.meta_og_type.errors }}
													</span>
													{% endif %}
												{% if form.ponencia.meta_og_url.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.ponencia.meta_og_url.errors }}
												</span>
												{% endif %}
												{% if form.ponencia.meta_title.errors %}
												<span style="font-size: 15px; color: red;">
													{{form.ponencia.meta_title.errors }}
												</span>
												{% endif %}
												{% if form.ponencia.meta_keywords.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.ponencia.meta_keywords.errors }}
													</span>
													{% endif %} 
												{% if form.ponencia.meta_twitter_card.errors%}
												<span style="font-size: 15px; color: red;">
													{{form.ponencia.meta_twitter_card.errors}}
												</span>
												{% endif %}
												{% if form.ponencia.meta_og_imagen.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.ponencia.meta_og_imagen.errors}}
												</span>
												{% endif %}
												{% if form.ponencia.meta_twitter_creator.errors%}
												<span style="font-size: 15px; color: red;">
													{{form.ponencia.meta_twitter_creator.errors}}
												</span>
												{% endif %}
												{% if form.ponencia.meta_twitter_site.errors%}
												<span style="font-size: 15px; color: red;">
													{{form.ponencia.meta_twitter_site.errors}}
												</span>
												{% endif %}
												{% if form.ponencia.meta_og_description.errors %}
												<span style="font-size: 15px; color: red;">
													{{ form.ponencia.meta_og_description.errors }}
													</span>
													{% endif %} 

												<button type="button" class="btn btn-link" data-toggle="modal"
													data-target="#meta">
													<h6 > Gestionar los Metadatos de esta Ponencia </h6>

												</button>
											</div>
										</div>




										<div class="row">
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.published.id_for_label }}"><b>{{form.ponencia.published.label }}</b>{% if form.ponencia.published.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ponencia.published.errors }}
														</span>{% endif %} </label>
														
													{{form.ponencia.published }}
												
												</div>
											</div>
										</div>

										<div class="form-actions">
											<div class="text-right">
												<button id="atras" type="button" class="btn btn-danger ">Cancelar
													<i class="ft-x position-right"></i>
												</button>
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
											</div>

										</div>
									</div>
								</div>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>


<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
<script src="{% static 'MedCongressApp/js/lugar.js'%}"></script>


<script type="text/javascript">

	$(document).ready(function () {

		$("#id_ponencia_ponente-ponente option[value='{{pon.id}}']").attr("selected", true);
		$("#id_my_ponente").autocomplete({
			source: "{% url 'Ponente_autocomp'%}",
			minLength: 3,
		});
		$('#id_my_ponente').change(function () {
			email = $('#id_my_ponente').val()
			$("#id_ponencia_ponente-ponente option:contains('" + email + "')").attr("selected", true);
			if ($("#id_ponencia_ponente-ponente option:selected").text()!= email) 
            $("#id_ponencia_ponente-ponente").val('')
		});
		$('#id_ponencia-congreso').ready(function () {
				$('#id_ponencia-bloque').empty();
				$('#id_ponencia-bloque').append($("<option></option").attr('value', '').text('----------'));
			if ($('#id_ponencia-congreso').val()) {
			
				$.ajax({
					type: "POST",
					url: "{% url 'MedCongressAdmin:Get_Bloque' %}",
					data: {
						'congreso_id': $('#id_ponencia-congreso').val(), // from form
					},
					success: function (data) {

						for (var i = 0; i < data.length; i++) {

							$('#id_ponencia-bloque').append($("<option></option").attr('value', data[i].id).text(data[i].titulo))
							{%if bloque %}
							$("#id_ponencia-bloque option[value='{{bloque.id}}']").attr("selected", true);
							{% endif %}
						}
					
					}
				});


			}


	
		});
		
	
	
		$('#id_ponencia-congreso').change(function () {
				$('#id_ponencia-bloque').empty();
				$('#id_ponencia-bloque').append($("<option></option").attr('value', '').text('----------'));
			if ($('#id_ponencia-congreso').val()) {
			
				$.ajax({
					type: "POST",
					url: "{% url 'MedCongressAdmin:Get_Bloque' %}",
					data: {
						'congreso_id': $('#id_ponencia-congreso').val(), // from form
					},
					success: function (data) {

						for (var i = 0; i < data.length; i++) {

							$('#id_ponencia-bloque').append($("<option></option").attr('value', data[i].id).text(data[i].titulo))
						}
					
					}
				});


			}



		});


		$('#atras').click(function () {
			{%if con %} {
				{%if bloque %}
				location.href = "{% url 'MedCongressAdmin:Bloque_ponencias' bloque.path %}";
				{%else%}
				location.href = "{% url 'MedCongressAdmin:Congres_ponencias' con.path %}";
				{% endif %}
			}

			{%else%}
			location.href = "{% url 'MedCongressAdmin:ponencias_list' %}";
			{% endif %}
		});

		
		{%if con %}
		$("#id_ponencia-congreso option[value='{{con.id}}']").attr("selected", true);
		
		{% endif %}
		{%if bloque %}
		$("#id_ponencia-bloque option[value='{{bloque.id}}']").attr("selected", true);
		{% endif %}
		{%if bloque_update %}
		$("#id_ponencia-bloque option[value='{{bloque.id}}']").attr("selected", true);
		{% endif %}

		$('#id_ponencia-fecha_inicio').datetimepicker({
			language: 'es',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});



		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});
		FiltrarLugar('#id_ubicacion-direccion', '#id_ubicacion-longitud', '#id_ubicacion-latitud');
		$('#id_ubicacion-direccion').keypress(function () {
			$('#id_ubicacion-latitud').val('');
			$('#id_ubicacion-longitud').val('');

		});
		
	});






		

</script>
{% endblock %}