{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Seleccionar Ponencia{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/select2.min.css' %}">
{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
{%if con or congreso_bloque%}
    <li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:congress_list' %}">Congresos</a>
    </li>
{%endif%}
{%if bloque%}
            <li class="breadcrumb-item active"> <a {%if congreso_bloque%}href="{% url 'MedCongressAdmin:Congres_bloques' path=bloque.congreso.path %}"{%else%}href="{% url 'MedCongressAdmin:bloques_list' %}"{%endif%}>Bloques</a>
            </li>
{%endif%}   

<li class="breadcrumb-item active"><a {%if con%}href="{% url 'MedCongressAdmin:ponencias_list' %}?congreso={{con.path}}"{%elif congreso_bloque%}href="{% url 'MedCongressAdmin:ponencias_list' %}?bloque={{bloque.path}}&congreso_bloque=true"{%else%}href="{% url 'MedCongressAdmin:ponencias_list' %}?bloque={{bloque.path}}"{%endif%}>Ponencias</a>
</li>
<li class="breadcrumb-item active">Seleccionar Ponencia
</li>

</ol>
</div>
</div>
</div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Seleccionar Ponencia</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
							
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
							
								<div class="alert alert-danger alert-dismissible mb-2" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									{{ error|safe|escape }}
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error|safe|escape }}
						</div>
						{% endfor %}
					{% endif %}
						<form id="country-form" method="POST">
							{% csrf_token %}
							
							<div class="form-body">
								<div class="row">
									
										<div class="col-sm-6 ">
											<div class="form-group">
												<label
													for="{{form.ponencia.id_for_label }}"><b>Título de la Ponencia</b></label>
													<div >
														<select name="ponencia" class="form-control select2" id="id_ponencia" required>
															<option value="" selected="">---------</option>
														  {%for ponencia in ponencias%}
														  <option value="{{ponencia.pk}}" >{{ponencia.titulo}}</option>
														  {%endfor%}
														  </select>
													</div>
													
													<!-- <input type="text" name="my_ponencia" class="form-control" required="" id="id_my_ponencia"> -->
													
											</div>
										</div>
								</div>
											
											
										</fieldset>
										<div class="form-actions">
											<div class="text-right">
												
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}

<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/forms/select/select2.full.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-select2.js'%}"></script>
<script type="text/javascript">



</script>
{% endblock %}