{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Ponente{% endblock %}
{% load static %}
{% block styles %}
{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Ponentes</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
							<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
							<li><a data-action="close"><i class="ft-x"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="country-form" method="POST">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">

										<div class="col-sm-6 ">
											<div class="form-group">
												<label
													for="{{form.ponente.id_for_label }}"><b>{{form.ponente.label }}</b>{% if form.ponente.errors %}
													<span style="font-size: 15px; color: red;">{{ form.ponente.errors }}
													</span>{% endif %} </label>
													<div style="display: none;"> 
														{{form.ponente}}	
													</div>
												

													<input type="text" name="my_ponente" class="form-control" required=""
													id="id_my_ponente">
											</div>
											<div class="col-sm-6 " >
												<div class="form-group">
													
													{{form.taller }}
													<!-- <input type="text" id="id_ponencia" name="id_ponencia" value="{{pon.id}}"> -->
												</div>
											</div>
										</div>


										</fieldset>
										<div class="form-actions">
											<div class="text-right">
												
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
											
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script type="text/javascript">
	$(document).ready(function () {
		$("#id_taller option[value='{{pon.id}}']").attr("selected",true);
		$("#id_my_ponente").autocomplete({
			source: "{% url 'Ponente_autocomp'%}",
			minLength: 3,
		});
		$('#id_my_ponente').change(function () {
			email = $('#id_my_ponente').val()
			$("#id_ponente option:contains('" + email + "')").attr("selected", true);

		});
	});
</script>
{% endblock %}