{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Congreso{% endblock %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/selectivity-full.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/css/plugins/forms/selectivity/selectivity.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/selectize.default.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/css/plugins/forms/selectize/selectize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'MedCongressAdmin/app-assets/vendors/css/forms/selects/select2.min.css' %}">

</head>
<style>
	#geomap {
		width: 100%;
		height: 400px;
	}
</style>

{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">

	<div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Lugar</h4> <button type="button" class="close"
						data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Taller</h1>
						{% if messages %}
						<ul class="messages">
							{% for message in messages %}
							<li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
								{% endfor %}
						</ul>
						{%endif%}
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">

							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
								<div class="alert alert-danger">
									<strong>{{ error|escape }}</strong>
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
							<div class="alert alert-danger">
								<strong>{{ error|escape }}</strong>
							</div>
						{% endfor %}
					{% endif %}
						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-sm-8 ">
												<div class="form-group">
													<label
														for="{{form.taller.titulo.id_for_label }}"><b>{{form.taller.titulo.label }}</b></label>

													{{form.taller.titulo }}
												</div>
											</div>
											<div class="col-sm-4 ">
												<div class="form-group">
													<label
														for="{{form.taller.fecha_inicio.id_for_label }}"><b></label>

													{{form.taller.fecha_inicio}}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-12 ">
												<div class="form-group">
													<label
														for="{{form.taller.detalle.id_for_label }}"><b>{{form.taller.detalle.label }}</b></label>

													{{form.taller.detalle }}
												</div>
											</div>
										</div>
										<div class="row">

											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.taller.duracion.id_for_label }}"><b>{{form.taller.duracion.label }}</b></label>

													{{form.taller.duracion }}
												</div>
											</div>
											<div class="col-sd-1"></div>
											<div class="col-sm-3 ">
												<div class="form-group">
													{%if foto_constancia%}
													<label><b>Imagen de la Constancia Actual </b> </label>
													<figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia"
														itemscope=""></figure>
													<a href="{{foto_constancia}}" itemprop="contentUrl"
														data-size="480x360">
														<img class="img-thumbnail img-fluid" src="{{foto_constancia}}"
															itemprop="thumbnail" alt="Image description">
													</a>

													</figure>

													<label for=" " style="margin-top: 20px;"> <b>Insertar Nueva
															Imagen de Constancia</b> </label>
													
													<input type="file" name="taller-foto_constancia" accept="image/*"
														class=" form-control " id="id_taller-foto_constancia">
													{% else%}
													<label for="{{form.taller.foto_constancia.id_for_label }}"><b>Imagen
															de la Constancia</b>
															</label>

													{{form.taller.foto_constancia }}
													{%endif%}
												</div>
											</div>

										</div>
										<div class="row">
											<div class="col-sm-6 ">
												<div class="form-group">
													{%if imagen_seg_url%}
													<label><b>Imagen Actual </b> </label>
													<figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia"
														itemscope=""></figure>
													<a href="{{imagen_seg_url}}" itemprop="contentUrl"
														data-size="480x360">
														<img class="img-thumbnail img-fluid" src="{{imagen_seg_url}}"
															itemprop="thumbnail" alt="Image description">
													</a>

													</figure>

													<label for=" " style="margin-top: 20px;"> <b>Insertar Nueva
															Imagen</b> </label>
															
													<input type="file" name="taller-imagen" accept="image/*"
														class=" form-control " id="id_taller-imagen">
													{% else%}

													<label
														for="{{form.taller.imagen.id_for_label }}"><b>{{form.taller.imagen.label }}</b></label>

													{{form.taller.imagen }}
													{%endif%}
												</div>
											</div>
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.taller_ponente.ponente.id_for_label }}"><b>{{form.Taller_ponente.ponente.label }}</b>
														</label>
														{%if ponentes%}
														<select  name="taller_ponente-ponente"  class="select2 form-control" multiple="multiple" >
															{%for ponentes_all in ponentes_alls%}
															<option value="{{ponentes_all.id}}" {%if ponentes_all.activo%}selected{%endif%}>{{ponentes_all.nombre}}</option>

															{%endfor%}

														</select>
														{%else%}
														<div >
															{{form.taller_ponente.ponente}}
														</div>
														{%endif%}
														<!-- <input type="text" name="my_ponente" class="form-control" required=""
															id="id_my_ponente" value="{{ponente}}"> -->
												</div>
											</div>


										</div>
										<div class="row">
											<div class="col-sm-12">
												<div class="form-group">
													<label
														for="{{form.taller.detalles_tipo_boleto.id_for_label }}"><b>{{form.taller.detalles_tipo_boleto.label }}</b> </label>

													{{form.taller.detalles_tipo_boleto }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.ubicacion.direccion.id_for_label }}"><b>{{form.ubicacion.direccion.label }}</b>
														</label>
													{{form.ubicacion.direccion }}
												</div>
											</div>
											<div class="col-ms-1">
												<div class="form-group">

													<label class="mapa">Ver Mapa</label>
													<!-- <a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
													<button type="button" class="btn btn-link" data-toggle="modal"
														data-target="#my" style="display: block;">
														<span><i class="ft ft-map-pin"
																style="font-size: 30px;display: block;margin-top: -13px;"></i></span>

													</button>

												</div>

											</div>

											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label
														for="{{form.ubicacion.longitud.id_for_label }}"><b>{{form.ubicacion.longitud.label }}</b></label>

													{{form.ubicacion.longitud }}
												</div>
											</div>
											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label
														for="{{form.ubicacion.latitud.id_for_label }}"><b>{{form.ubicacion.latitud.label }}</b></label>

													{{form.ubicacion.latitud }}
												</div>
											</div>
											<div class="col-sm-3 "{%if con %} style="display: none;" {%endif%}>
												<div class="form-group" >
													<label
														for="{{form.taller.congreso.id_for_label }}"><b>{{form.taller.congreso.label }}</b> </label>

													{{form.taller.congreso }}
												</div>
											</div>
											<div class="col-sm-3 " {%if bloque %} style="display: none;" {%endif%}>
												<div class="form-group">


													<label
														for="{{form.taller.bloque.id_for_label }}"><b>{{form.taller.bloque.label }}</b></label>

													{%if blo %}
													<select name="taller-bloque" class="form-control"
														id="id_taller-bloque">
														<option value="" selected="">---------</option>
														{%for b in blo%}
														<option value="{{b.id}}">{{b.titulo}}</option>
														{%endfor%}

													</select>
													{%else%}
													{{form.taller.bloque }}
													{% endif %}

												</div>
											</div>
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.taller.cod_video.id_for_label }}"><b>Código de inserción del video en Vimeo</b></label>

													{{form.taller.cod_video }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.taller.score.id_for_label }}"><b>Puntuación del Taller</b></label>

													{{form.taller.score }}
												</div>
											</div>
										</div>




										<div class="row">
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.published.id_for_label }}"><b>{{form.taller.published.label }}</b> </label>

													{{form.taller.published }}
												</div>
											</div>
											<!-- META DATOS -->
										<div class="modal fade bs-example-modal-lg" id="meta" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel">
										<div class="modal-dialog  modal-lg" role="document">
											<div class="modal-content">
												<div class="modal-header">

													<h4 class="modal-title" id="myModalLabel">Meta datos de este Taller</h4>
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close"><span
															aria-hidden="true">&times;</span></button>
												</div>
												<div class="modal-body">
													<section id="configuration">
														<div class="row">
															<div class="col-12">
																<div class="card">


																	<div class="card-content collapse show">
																		<div class="card-body card-dashboard">

																			<div class="row">
																				<div class="col-sm-4">
																					<h5
																						style="margin-bottom: 10px;">
																						<b>Metas Principales </b>
																					</h5>
																					<div class="form-group">
																						<label for="">
																							<b>Título</b></label>


																						{{form.taller.meta_title}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Descripción</b></label>

																					

																						{{form.taller.meta_description}}
																					</div>
																					<div class="form-group">
																						<label for=""> <b>Palabras
																								Claves</b><span
																								id="toggle-method"
																								data-toggle="tooltip"
																								data-placement="top"
																								data-original-title="Palabras separadas por coma(,)">
																								<i
																									class="ft ft-info"></i>
																							</span></label>

																						

																						{{form.taller.meta_keywords}}
																					</div>
																				</div>
																				<div class="col-sm-4">
																					<h5
																						style="margin-bottom: 10px;">
																						<b>Metas para FaceBook </b>
																					</h5>
																					<div class="form-group">
																						<label for="">
																							<b>Título</b></label>
																						

																						{{form.taller.meta_og_title}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Descripción</b></label>
																					
																						{{form.taller.meta_og_description}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Tipo</b></label>
																					
																						{{form.taller.meta_og_type}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>URL</b></label>


																						{{form.taller.meta_og_url}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Imagen</b></label>

																						{%if imagen_meta%}
																						<img src="{{imagen_meta}}"
																							class="img-responsive"
																							style="width: 126px; padding: 20px;"
																							alt=""><br>
																							<input type="checkbox" name="taller-meta_og_imagen-clear" id="taller-meta_og_imagen-clear_id"> Eliminar
																						<input type="file"
																							name="taller-meta_og_imagen"
																							accept="image/*"
																							class="form-control "
																							id="id_taller-meta_og_imagen">
																						{%else%}
																						{{form.taller.meta_og_imagen}}
																						{%endif%}
																					</div>
																				</div>
																				<div class="col-sm-4">
																					<h5
																						style="margin-bottom: 10px;">
																						<b> Metas para Redes
																							Sociales</b>
																					</h5>

																					<div class="form-group">
																						<label for="">
																							<b>Card</b></label>


																						{{form.taller.meta_twitter_card}}
																					</div>

																					<div class="form-group">
																						<label for="">
																							<b>Sitio</b></label>


																						{{form.taller.meta_twitter_site}}
																					</div>
																					<div class="form-group">
																						<label for="">
																							<b>Creador</b></label>

																						{{form.taller.meta_twitter_creator}}
																					</div>
																				</div>
																			</div>
																		</div>

																	</div>
																</div>
															</div>
														</div>
													</section>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">Aplicar</button>

												</div>
											</div>
										</div>
									</div>

									 <!-- END META DATOS -->
											<div class="col-md-1"></div>
											
										</div>
										

										<div class="form-actions">

											<button id="save" type="submit" class="btn btn-primary" style="float: right;">Guardar
												<i class="ft-save position-right"></i>
											</button>

										</div>
									</div>
								</div>
							</div>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/editors/ckeditor/ckeditor.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/editors/editor-ckeditor.js'%}"></script>
<!-- <script src="{% static 'MedCongressAdmin/app-assets/vendors/js/forms/select/selectivity-full.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/ui/breadcrumbs-with-stats.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-selectivity.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-selectize.js'%}"></script> -->
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/forms/select/select2.full.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/forms/select/form-select2.js'%}"></script>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
<script src="{% static 'MedCongressApp/js/lugar.js'%}"></script>


<script type="text/javascript">
	$(document).ready(function () {

		$('#id_taller-congreso').change(function () {
				$('#id_taller-bloque').empty();
				$('#id_taller-bloque').append($("<option></option").attr('value', '').text('----------'));
			if ($('#id_taller-congreso').val()) {
			
				$.ajax({
					type: "POST",
					url: "{% url 'MedCongressAdmin:Get_Bloque' %}",
					data: {
						'congreso_id': $('#id_taller-congreso').val(), // from form
					},
					success: function (data) {

						for (var i = 0; i < data.length; i++) {

							$('#id_taller-bloque').append($("<option></option").attr('value', data[i].id).text(data[i].titulo))
						}
						console.log(data);
					}
				});


			}



		});
		
		$('#id_taller-congreso').ready(function () {
				$('#id_taller-bloque').empty();
				$('#id_taller-bloque').append($("<option></option").attr('value', '').text('----------'));
			if ($('#id_taller-congreso').val() ) {
			
				$.ajax({
					type: "POST",
					url: "{% url 'MedCongressAdmin:Get_Bloque' %}",
					data: {
						'congreso_id': $('#id_taller-congreso').val(), // from form
					},
					success: function (data) {

						for (var i = 0; i < data.length; i++) {

							$('#id_taller-bloque').append($("<option></option").attr('value', data[i].id).text(data[i].titulo))
							{%if update%}
								$("#id_taller-bloque option[value='{{update.id}}']").attr("selected", true);
							{%endif%}

							{%if bloque %}
								$("#id_taller-bloque option[value='{{bloque.id}}']").attr("selected", true);
							{% endif %}
						}
					
					}
				});
			

			}



		});



		{%if con %}
		$("#id_taller-congreso option[value='{{con.id}}']").attr("selected", true);
		{% endif %}
		{%if bloque %}

		$("#id_taller-bloque option[value='{{bloque.id}}']").attr("selected", true);
		{% endif %}
		$('#id_taller-fecha_inicio').datetimepicker({
			//language:  'fr',
			weekStart: 1,
			todayBtn: 1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			forceParse: 0,
			showMeridian: 1
		});



		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
		$.ajaxSetup({
			beforeSend: function (xhr, settings) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		});
		FiltrarLugar('#id_ubicacion-direccion', '#id_ubicacion-longitud', '#id_ubicacion-latitud');
		$('#id_ubicacion-direccion').keypress(function () {
			$('#id_ubicacion-latitud').val('');
			$('#id_ubicacion-longitud').val('');

		});
		
	});


	
</script>
{% endblock %}