{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Congreso{% endblock %}
{% load static %}
{% block styles %}

</head>
<style>
	#geomap {
		width: 100%;
		height: 400px;
	}
</style>

{% endblock %}
{% block content %}
<section class="multiple-input-with-labels" id="multiple-input-with-labels">

	<div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Lugar</h4> <button type="button" class="close"
						data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						Adicionar Usuario</h1>
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">

							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-body">
								<div class="row">
									<div class="col-md-12">
										<div class="row">
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.user.first_name.id_for_label }}"><b>{{form.user.first_name.label }}</b>{% if form.user.first_name.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.user.first_name.errors }}
														</span>{% endif %} </label>
	
													{{form.user.first_name }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.user.last_name.id_for_label }}"><b>{{form.user.last_name.label }}</b>{% if form.user.last_name.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.user.last_name.errors }}
														</span>{% endif %} </label>
	
													{{form.user.last_name }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.user.username.id_for_label }}"><b>{{form.user.username.label }}</b>{% if form.user.username.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.user.username.errors }}
														</span>{% endif %} </label>
	
													{{form.user.username }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{form.user.email.id_for_label }}"><b>{{form.user.email.label }}</b>{% if form.user.email.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.user.email.errors }}
														</span>{% endif %} </label>
	
													{{form.user.email}}
												</div>
											</div>
										</div>
										
										
										<div class="row">
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.perfiluser.categoria.id_for_label }}"><b>{{form.perfiluser.categoria.label }}</b>{% if form.perfiluser.categoria.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.perfiluser.categoria.errors }}
														</span>{% endif %}</label>
				
													{{form.perfiluser.categoria }}
												</div>
											</div>
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.perfiluser.genero.id_for_label }}"><b>{{form.perfiluser.genero.label }}</b>{% if form.perfiluser.genero.errors %}
														<span style="font-size: 15px; color: red;">{{ form.perfiluser.genero.errors }}
														</span>{% endif %}</label>
													{{form.perfiluser.genero }}
												</div>
											</div>
				
											
				
										</div>
										<div class="row">
											<div class="col-sm-3 " id="esp_div">
												<div class="form-group">
													<label
														for="{{form.perfiluser.especialidad.id_for_label }}"><b>{{form.perfiluser.especialidad.label }}</b>{% if form.perfiluser.especialidad.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.perfiluser.especialidad.errors }}
														</span>{% endif %}</label>
													{{form.perfiluser.especialidad }}
												</div>
											</div>
											<div class="col-sm-3 " id="cel_prof">
												<div class="form-group">
													<label
														for="{{form.perfiluser.cel_profecional.id_for_label }}"><b>{{form.perfiluser.cel_profecional.label }}</b>{% if form.perfiluser.cel_profecional.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.perfiluser.cel_profecional.errors }}
														</span>{% endif %}</label>
				
													{{form.perfiluser.cel_profecional }}
												</div>
											</div>
										
										</div>
										<div class="row">
											<div class="col-sm-12" >
												<div class="form-group">
													<label
														for="{{form.perfiluser.detalle.id_for_label }}"><b>{{form.perfiluser.detalle.label }}</b>{% if form.perfiluser.detalle.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.perfiluser.detalle.errors }}
														</span>{% endif %}</label>
				
													{{form.perfiluser.detalle }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-sm-6 ">
												<div class="form-group">
													<label
														for="{{form.ubicacion.direccion.id_for_label }}"><b>{{form.ubicacion.direccion.label }}</b>
														{% if form.ubicacion.direccion.errors %} <span
															style="font-size: 15px; color: red;">{{ form.ubicacion.direccion.errors }}
														</span>{% endif %} </label>
													{{form.ubicacion.direccion }}
												</div>
											</div>
											<div class="col-ms-1">
												<div class="form-group">
	
													<label class="mapa">Ver Mapa</label>
													<!-- <a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
													<button type="button" class="btn btn-link" data-toggle="modal"
														data-target="#my" style="display: block;">
														<span><i class="ft ft-map-pin"
																style="font-size: 30px;display: block;margin-top: -13px;"></i></span>
	
													</button>
	
												</div>
	
											</div>
											
											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label
														for="{{form.ubicacion.longitud.id_for_label }}"><b>{{form.ubicacion.longitud.label }}</b>{% if form.ubicacion.longitud.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ubicacion.longitud.errors }}
														</span>{% endif %}</label>
	
													{{form.ubicacion.longitud }}
												</div>
											</div>
											<div class="col-sm-3 " style="display: none;">
												<div class="form-group">
													<label
														for="{{form.ubicacion.latitud.id_for_label }}"><b>{{form.ubicacion.latitud.label }}</b>{% if form.ubicacion.latitud.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.ubicacion.latitud.errors }}
														</span>{% endif %} </label>
	
													{{form.ubicacion.latitud }}
												</div>
											</div>
											
										</div>
										<div class="row">
											<div class="col-sm-3 ">
												<div class="form-group">
													{%if imagen_seg_url%}	
													<label ><b>Imagen Actual </b> </label>		
													<figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia" itemscope="" ></figure>
                                <a href="{{imagen_seg_url}}" itemprop="contentUrl" data-size="480x360">
                                    <img class="img-thumbnail img-fluid" src="{{imagen_seg_url}}" itemprop="thumbnail" alt="Image description">
                                </a> 
                                
                              </figure>
	
													<label for=" " style="margin-top: 20px;"> <b>Insertar Nueva Imagen</b> </label>
													{% if form.perfiluser.foto.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.perfiluser.foto.errors }}
														</span>{% endif %}
													<input type="file" name="perfiluser-foto" accept="image/*" class=" form-control " id="id_perfiluser-foto">
													
													{% else%}
													<label
														for="{{form.perfiluser.foto.id_for_label }}"><b>{{form.perfiluser.foto.label }}</b>{% if form.taller.congreso.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.perfiluser.foto.errors }}
														</span>{% endif %} </label>
	
														{{form.perfiluser.foto }}
														{%endif%}
												</div>
											</div>
										</div>
	
	
	
										<div class="row">
											<div class="col-sm-3 ">
												<div class="form-group">
													<label
														for="{{form.ponencia.published.id_for_label }}"><b>{{form.taller.published.label }}</b>{% if form.taller.published.errors %}
														<span
															style="font-size: 15px; color: red;">{{ form.taller.published.errors }}
														</span>{% endif %} </label>
	
													{{form.taller.published }}
												</div>
											</div>
										</div>
	
										<div class="form-actions">
											
												<button id="save" type="submit" class="btn btn-primary">Guardar
													<i class="ft-save position-right"></i>
												</button>
												
											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>


<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
<script src="{% static 'MedCongressApp/js/lugar.js'%}"></script>


<script type="text/javascript">
	$(document).ready(function () {
		{%if con %}
		$("#id_taller-congreso option[value='{{con.id}}']").attr("selected",true);
		{%endif%}
		$('#id_taller-fecha_inicio').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });



		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });
		FiltrarLugar('#id_ubicacion-direccion', '#id_ubicacion-longitud', '#id_ubicacion-latitud');
		$('#id_ubicacion-direccion').keypress(function () {
            $('#id_ubicacion-latitud').val('');
            $('#id_ubicacion-longitud').val('');

        });
		$("#esp_div").hide();
        $("#cel_prof").hide();
      
        if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

            $("#esp_div").show();
            $("#cel_prof").show();
           
            $("#id_perfiluser-especialidad").attr('required', 'True');
            $("#id_perfiluser-cel_profecional").attr('required', 'True');


        }
        else {
            $("#esp_div").hide();
            $("#cel_prof").hide();
            $("#id_perfiluser-especialidad").val('');
            $("#id_perfiluser-cel_profecional").val('');
            $("#id_perfiluser-especialidad").removeAttr('required')
            $("#id_perfiluser-cel_profecional").removeAttr('required')

        }
        


        $('#id_perfiluser-categoria').change(function () {

            if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

                $("#esp_div").show();
                $("#cel_prof").show();
                $("#id_perfiluser-especialidad").attr('required', 'True')
                $("#id_perfiluser-cel_profecional").attr('required', 'True')
            }
            else {
                $("#id_perfiluser-especialidad").val('');
                $("#id_perfiluser-cel_profecional").val('');
                $("#esp_div").hide();
                $("#cel_prof").hide();
                $("#id_perfiluser-especialidad").removeAttr('required')
                $("#id_perfiluser-cel_profecional").removeAttr('required')

            }
            

        });
	});

	// alert($('#id_imagen_congreso-imagen').val());
	// 		// $('#id_congreso-imagen_prim').val($('#id_congreso-imagen_prim').val().push($('#id_imagen_congreso-imagen').val()));
	// 		// $('#id_congreso-imagen_prim').multiselect("refresh");
	// 		//$("#id_congreso-imagen_prim").val(["130860","130858"]);
	// 		$('#id_congreso-imagen_prim').append('<option value="' + $('#id_imagen_congreso-imagen').val() + '" selected="selected">' + $('#id_imagen_congreso-imagen').val() + '</option>');


	
</script>
{% endblock %}