{% extends 'MedCongressAdmin/base.html' %}
{% block title %}MedCongressAdmin | Congreso{% endblock %}
{% load static %}
{% block styles %}

</head>
<style>
	#geomap {
		width: 100%;
		height: 400px;
	}
</style>

{% endblock %}
{% block content %}
<div class=" col-md-6 col-12 " style="margin-top: -26px;">
						
	<div class="row breadcrumbs-top">
	  <div class="breadcrumb-wrapper col-12">
		<ol class="breadcrumb">
			{%if ponente%}
			<li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:Ponentes_list' %}">Ponentes</a>
		  </li>
		  {%elif moderador%}
			<li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:Moderadores_list' %}">Moderadores</a>
		  </li>
			{%else%}
		  <li class="breadcrumb-item"><a href="{% url 'MedCongressAdmin:usuarios_list' %}">Usuarios</a>
		  </li>
		 {%endif%}
		  <li class="breadcrumb-item active">{%if update%} Actualizar Usuario{%else%}Adicionar Usuario{%endif%}
		</li>
		
		</ol>
	  </div>
	</div>
  </div>
<section class="multiple-input-with-labels" id="multiple-input-with-labels">

	<div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="myModalLabel">Lugar</h4> <button type="button" class="close"
						data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

				</div>
				<div class="modal-body">
					<div id="geomap"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					
					<h1 class="card-header mb-0 pb-0" style="font-size: xx-large; font-weight: bolder;">
						{%if ponente%}
						Adicionar Ponente
						{%elif moderador%}
						Adicionar Moderador
						{%else%}
						{%if update%} Actualizar Usuario{%else%}Adicionar Usuario{%endif%}{%endif%}</h1>
						
					<a class="heading-elements-toggle"><i class="ft-align-justify font-medium-3"></i></a>
					
					<div class="heading-elements">
						
						<ul class="list-inline mb-0">

							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>

						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						{% if form.errors %}
						{% for field in form %}
							{% for error in field.errors %}
							
								<div class="alert alert-danger alert-dismissible mb-2" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span>
									</button>
									{{ error|safe|escape }}
								</div>
							{% endfor %}
						{% endfor %}
						{% for error in form.non_field_errors %}
						<div class="alert alert-danger alert-dismissible mb-2" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">×</span>
							</button>
							{{ error|safe|escape }}
						</div>
						{% endfor %}
					{% endif %} 
						<form id="congres-form" method="POST" action="" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="form-body">
							<section id="basic-tabs-components">
								<div class="row match-height">
									<div class="col-xl-12 col-lg-12">
										<div class="card">
											
											
													<ul class="nav nav-tabs">
														<li class="nav-item">
															<a class="nav-link active" id="base-tab1" data-toggle="tab" aria-controls="tab1" href="#tab1" aria-expanded="true">Datos Principales</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" id="base-tab4" data-toggle="tab" aria-controls="tab4" href="#tab4" aria-expanded="false">Otros Datos</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" id="base-tab2" data-toggle="tab" aria-controls="tab3" href="#tab3" aria-expanded="false">Redes Sociales</a>
														</li>
														<li class="nav-item">
															<a class="nav-link" id="base-tab3" data-toggle="tab" aria-controls="tab2" href="#tab2" aria-expanded="false">Meta Datos</a>
														</li>
														
														
													</ul>
													<div class="tab-content px-1 pt-1">
														<div role="tabpanel" class="tab-pane active" id="tab1" aria-expanded="true" aria-labelledby="base-tab1">
															<!-- ///////// -->
															<div class="form-body">
																<div class="row">
																	<div class="col-md-4">
																		<div class="form-group">
																			{%if imagen_seg_url%}	
																			<label ><b>Imagen Actual </b> </label>		
																			<figure class="col-lg-3 col-md-6 col-12" itemprop="associatedMedia" itemscope="" ></figure>
																				<a href="{{imagen_seg_url}}" itemprop="contentUrl" data-size="480x360">
																					<img class="img-thumbnail img-fluid" src="{{imagen_seg_url}}" itemprop="thumbnail" alt="Image description" >
																						</a> 
														
																					  </figure>
								
																			<label for=" " style="margin-top: 20px;"> <b>Insertar Nueva Imagen</b> </label>
																			
																			<input type="file" name="perfiluser-foto" accept="image/*" class=" form-control " id="id_perfiluser-foto">
																			
																			{% else%}
																			<label
																				for="{{form.perfiluser.foto.id_for_label }}"><b>{{form.perfiluser.foto.label }}</b></label>
								
																				{{form.perfiluser.foto }}
																				{%endif%}
																		</div>
																	</div>
																	<div class="col-md-8">
																		<div class="row">
																			<div class="col-sm-6 ">
																				<div class="form-group">
																					<label
																						for="{{form.user.first_name.id_for_label }}"><b>{{form.user.first_name.label }}</b> </label>
									
																					{{form.user.first_name }}
																				</div>
																			</div>
																			<div class="col-sm-6 ">
																				<div class="form-group">
																					<label
																						for="{{form.user.last_name.id_for_label }}"><b>{{form.user.last_name.label }}</b></label>
									
																					{{form.user.last_name }}
																				</div>
																			</div>
																		</div>
																		<div class="row">
																			<div class="col-sm-3 " style="display: none;">
																				<div class="form-group">
																					<label
																						for="{{form.user.username.id_for_label }}"><b>{{form.user.username.label }}</b></label>
									
																					{{form.user.username }}
																				</div>
																			</div>
																			<div class="col-sm-6 ">
																				<div class="form-group">
																					<label
																						for="{form.user.email.id_for_label }}"><b>{{form.user.email.label }}</b></label>
									
																					{{form.user.email}}
																				</div>
																			</div>
																			<div class="col-sm-4 ">
																				<div class="form-group">
																					<label
																						for="{{form.perfiluser.genero.id_for_label }}"><b>{{form.perfiluser.genero.label }}</b></label>
																					{{form.perfiluser.genero }}
																				</div>
																			</div>
																		</div>
																		
																		
																		<div class="row">
																			<div class="col-sm-4 ">
																				<div class="form-group">
																					<label
																						for="{{form.perfiluser.categoria.id_for_label }}"><b>{{form.perfiluser.categoria.label }}</b></label>
												
																					{{form.perfiluser.categoria }}
																				</div>
																			</div>
																			
																			<div class="col-sm-4 " id="esp_div">
																				<div class="form-group">
																					<label
																						for="{{form.perfiluser.especialidad.id_for_label }}"><b>{{form.perfiluser.especialidad.label }}</b></label>
																					{{form.perfiluser.especialidad }}
																				</div>
																			</div>
																			<div class="col-sm-4 " id="cel_prof">
																				<div class="form-group">
																					<label
																						for="{{form.perfiluser.cel_profecional.id_for_label }}"><b>{{form.perfiluser.cel_profecional.label }}</b></label>
												
																					{{form.perfiluser.cel_profecional }}
																				</div>
																			</div>
																		
																		</div>
																	</div>
																</div>
																		<div class="row">
																			<div class="col-sm-8" >
																				<div class="form-group">
																					<label
																						for="{{form.perfiluser.puesto.id_for_label }}"><b>Puesto Actual</b></label>
												
																					{{form.perfiluser.puesto }}
																				</div>
																			</div>
																		</div>
																		
																		
																		<div class="row">
																			<div class="col-sm-6 ">
																				<div class="form-group">
																					<label
																						for="{{form.ubicacion.direccion.id_for_label }}"><b>{{form.ubicacion.direccion.label }}</b>
																						</label>
																					{{form.ubicacion.direccion }}
																				</div>
																			</div>
																			<div class="col-ms-1">
																				<div class="form-group">
									
																					<label class="mapa">Ver Mapa</label>
																					<!-- <a onclick="VerMapa()" type="link"  style="display: block;">  <i class="" style="font-size: 43px;"></i> </a> -->
																					<button type="button" class="btn btn-link" data-toggle="modal"
																						data-target="#my" style="display: block;">
																						<span><i class="ft ft-map-pin"
																								style="font-size: 30px;display: block;margin-top: -13px;"></i></span>
									
																					</button>
									
																				</div>
									
																			</div>
																		
																	<div class="col-md-1"></div>
																			
																			<div class="col-sm-3 " style="display: none;">
																				<div class="form-group">
																					<label
																						for="{{form.ubicacion.longitud.id_for_label }}"><b>{{form.ubicacion.longitud.label }}</b></label>
									
																					{{form.ubicacion.longitud }}
																				</div>
																			</div>
																			<div class="col-sm-3 " style="display: none;">
																				<div class="form-group">
																					<label
																						for="{{form.ubicacion.latitud.id_for_label }}"><b>{{form.ubicacion.latitud.label }}</b></label>
									
																					{{form.ubicacion.latitud }}
																				</div>
																			</div>
																			
																		</div>
																		
																</div>
															
															<!-- //////////////// -->
														</div>
														<div class="tab-pane" id="tab2" aria-labelledby="base-tab2">
															<!-- ////////////////////////// -->
															<!-- META DATOS -->
							
																<section id="configuration">
																	<div class="row">
																		<div class="col-12">
																			<div class="card">
							
							
																				<div class="card-content collapse show">
																					<div class="card-body card-dashboard">
							
																						<div class="row">
																							<div class="col-sm-4">
																								<h5
																									style="margin-bottom: 10px;">
																									<b>Metas Principales </b>
																								</h5>
																								<div class="form-group">
																									<label for="">
																										<b>Título</b></label>
							
							
																									{{form.perfiluser.meta_title}}
																								</div>
																								<div class="form-group">
																									<label for="">
																										<b>Descripción</b> </label>
							
																								
							
																									{{form.perfiluser.meta_description}}
																								</div>
																								<div class="form-group">
																									<label for=""> <b>Palabras
																											Claves</b><span
																											id="toggle-method"
																											data-toggle="tooltip"
																											data-placement="top"
																											data-original-title="Palabras separadas por coma(,)">
																											<i
																												class="ft ft-info"></i>
																										</span>{% if form.perfiluser.meta_keywords.errors %}
																										<span
																											style="font-size: 15px; color: red;">{{ form.perfiluser.meta_keywords.errors }}
																										</span>{% endif %} </label>
							
																									
							
																									{{form.perfiluser.meta_keywords}}
																								</div>
																							</div>
																							<div class="col-sm-4">
																								<h5
																									style="margin-bottom: 10px;">
																									<b>Metas para FaceBook </b>
																								</h5>
																								<div class="form-group">
																									<label for="">
																										<b>Título</b> </label>
																									
							
																									{{form.perfiluser.meta_og_title}}
																								</div>
																								<div class="form-group">
																									<label for="">
																										<b>Descripción</b> </label>
																								
																									{{form.perfiluser.meta_og_description}}
																								</div>
																								<div class="form-group">
																									<label for="">
																										<b>Tipo</b> </label>
																								
																									{{form.perfiluser.meta_og_type}}
																								</div>
																								<div class="form-group">
																									<label for="">
																										<b>URL</b></label>
							
							
																									{{form.perfiluser.meta_og_url}}
																								</div>
																								<div class="form-group">
																									<label for="">
																										<b>Imagen</b></label>
							
																									{%if imagen_meta%}
																									<img src="{{imagen_meta}}"
																										class="img-responsive"
																										style="width: 126px; padding: 20px;"
																										alt=""><br>
																										<input type="checkbox" name="perfiluser-meta_og_imagen-clear" id="perfiluser-meta_og_imagen-clear_id"> Eliminar
																										<input type="file" name="perfiluser-meta_og_imagen" accept="image/*" class="form-control " id="id_perfiluser-meta_og_imagen">
																									{%else%}
																									{{form.perfiluser.meta_og_imagen}}
																									{%endif%}
																								</div>
																							</div>
																							<div class="col-sm-4">
																								<h5
																									style="margin-bottom: 10px;">
																									<b> Metas para Redes
																										Sociales</b>
																								</h5>
							
																								<div class="form-group">
																									<label for="">
																										<b>Card</b></label>
							
							
																									{{form.perfiluser.meta_twitter_card}}
																								</div>
							
																								<div class="form-group">
																									<label for="">
																										<b>Sitio</b></label>
							
							
																									{{form.perfiluser.meta_twitter_site}}
																								</div>
																								<div class="form-group">
																									<label for="">
																										<b>Creador</b></label>
							
																									{{form.perfiluser.meta_twitter_creator}}
																								</div>
																							</div>
																						</div>
																					</div>
							
																				</div>
																			</div>
																		</div>
																	</div>
																</section>
															<!-- END META DATOS -->
															<!-- /////////////////// -->
														</div>
														<div class="tab-pane" id="tab3" aria-labelledby="base-tab3">
															<div class="row">
																			
																<div class="col-sm-3 ">
																	<div class="input-group form-group">
																		<div class="input-group-prepend">
																			<button class="btn btn-primary" type="button" style="height: 41px;
																			width: 48px;"><i class="la la-linkedin" style="font-size: 34px;margin-top: -8px;margin-left: -8px;"></i></button>
																		</div>
							
																		{{form.perfiluser.linkedin }}
																	</div>
																</div>
																<div class="col-sm-3 ">
																	<div class="input-group form-group">
																		<div class="input-group-prepend">
																			<button class="btn btn-danger" type="button" style="height: 41px;
																			width: 48px;"><i class="la la-youtube" style="font-size: 34px;margin-top: -8px;margin-left: -8px;"></i></button>
																		</div>
							
																		{{form.perfiluser.youtube }}
																	</div>
																</div>
																<div class="col-sm-3 ">
																	<div class="input-group form-group">
																		<div class="input-group-prepend">
																			<button class="btn btn-primary" type="button" style="height: 41px;
																			width: 48px;"><i class="la la-facebook" style="font-size: 34px;margin-top: -8px;margin-left: -8px;"></i></button>
																		</div>
							
																		{{form.perfiluser.facebook }}
																	</div>
																</div>
																<div class="col-sm-3 ">
																	<div class="input-group form-group">
																		<div class="input-group-prepend">
																			<button class="btn btn-info" type="button" style="height: 41px;
																			width: 48px;"><i class="la la-twitter" style="font-size: 34px;margin-top: -8px;margin-left: -8px;"></i></button>
																		</div>
							
																		{{form.perfiluser.twitter }}
																	</div>
																</div>
															</div>
														</div>
														<div class="tab-pane" id="tab4" aria-labelledby="base-tab4">
															<div class="row">
																<div class="col-sm-12" >
																	<div class="form-group">
																		<label
																			for="{{form.perfiluser.detalle.id_for_label }}"><b>Logros Académicos</b></label>
									
																		{{form.perfiluser.detalle }}
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12" >
																	<div class="form-group">
																		<label
																			for="{{form.perfiluser.publicaciones.id_for_label }}"><b>Publicaciones</b></label>
									
																		{{form.perfiluser.publicaciones }}
																	</div>
																</div>
															</div>
															<div class="row">
																<div class="col-sm-12" >
																	<div class="form-group">
																		<label
																			for="{{form.perfiluser.datos_interes.id_for_label }}"><b>Otros Datos de Interés</b></label>
									
																		{{form.perfiluser.datos_interes }}
																	</div>
																</div>
															</div>
														</div>
													</div>
												
											</div>
										</div>
									</div>
								</section>
								<div class="form-actions">
									<div class="text-right">
										<button id="atras" type="button" class="btn btn-danger ">Cancelar
											<i class="ft-x position-right"></i>
										</button>

										<button id="save" type="submit" class="btn btn-primary">Guardar
											<i class="ft-save position-right"></i>
										</button>

									</div>
								</div>
							</div>
						</div>
					</div>
							
	
										
										
									
								
						</form>
					</div>
				</div>
			</div>
		</div>
</section>

{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/vendors/js/editors/ckeditor/ckeditor.js'%}"></script>
<script src="{% static 'MedCongressAdmin/app-assets/js/scripts/editors/editor-ckeditor.js'%}"></script>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
<script src="{% static 'MedCongressApp/js/lugar.js'%}"></script>


<script type="text/javascript">
	$('#atras').click(function () {

		{%if ponente%}
		location.href = "{% url 'MedCongressAdmin:Ponentes_list' %}?search={{search}}";
		{%elif moderador%}
		location.href = "{% url 'MedCongressAdmin:Moderadores_list' %}?search={{search}}";
		{%else%}
		location.href = "{% url 'MedCongressAdmin:usuarios_list' %}?search={{search}}";
		{%endif%}
	});
	$(document).ready(function () {
		{%if con %}
		$("#id_taller-congreso option[value='{{con.id}}']").attr("selected",true);
		{%endif%}
		$('#id_taller-fecha_inicio').datetimepicker({
        //language:  'fr',
        weekStart: 1,
        todayBtn:  1,
		autoclose: 1,
		todayHighlight: 1,
		startView: 2,
		forceParse: 0,
        showMeridian: 1
    });



		var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        });
		FiltrarLugar('#id_ubicacion-direccion', '#id_ubicacion-longitud', '#id_ubicacion-latitud');
		$('#id_ubicacion-direccion').keypress(function () {
            $('#id_ubicacion-latitud').val('');
            $('#id_ubicacion-longitud').val('');

        });
		$("#esp_div").hide();
        $("#cel_prof").hide();
      
        if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

            $("#esp_div").show();
            $("#cel_prof").show();
           
            $("#id_perfiluser-especialidad").attr('required', 'True');
            $("#id_perfiluser-cel_profecional").attr('required', 'True');


        }
        else {
            $("#esp_div").hide();
            $("#cel_prof").hide();
            $("#id_perfiluser-especialidad").val('');
            $("#id_perfiluser-cel_profecional").val('');
            $("#id_perfiluser-especialidad").removeAttr('required')
            $("#id_perfiluser-cel_profecional").removeAttr('required')

        }
        


        $('#id_perfiluser-categoria').change(function () {

            if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

                $("#esp_div").show();
                $("#cel_prof").show();
                $("#id_perfiluser-especialidad").attr('required', 'True')
                $("#id_perfiluser-cel_profecional").attr('required', 'True')
            }
            else {
                $("#id_perfiluser-especialidad").val('');
                $("#id_perfiluser-cel_profecional").val('');
                $("#esp_div").hide();
                $("#cel_prof").hide();
                $("#id_perfiluser-especialidad").removeAttr('required')
                $("#id_perfiluser-cel_profecional").removeAttr('required')

            }
            

        });
	});

	
</script>
{% endblock %}