{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Login
{%endblock%}
{% block css %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{%endblock%}
{% block contenido %}
<section class="login-register login"style="margin-top: 80px;">
    
    <div class="">
        <img src="{%static '/assets/img/login-background-2.jpg'%}" class="d-block " style="
        width: 100%;">
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="offset-md-6 col-md-6">
                <div class="login-form-wrapper">
                    <h2 class="login-title"><strong>Iniciar Sesión</strong></h2>
                    <span>¿Eres un nuevo usuario? <a href="{% url 'Registrarse' %}">Crear una cuenta</a></span>
                    <form class="contactusform" action="" method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                                <div class="invalid-feedback" style="display: block;">
                                   
                                    <span style="color: red;">Tu nombre de usuario y contraseña no coinciden.<br> Inténtalo de nuevo.</span>
                                </div>
                                
                                {% endif %}
                                {% if next %}
                                {% if user.is_authenticated %}
                                <div class="invalid-feedback" style="display: block;" >
                                   
                                    <span style="color: red;"> Tu cuenta no tiene acceso a esta página. Para proceder,
                                        inicie sesión con una cuenta que tenga acceso.</span>
                                </div>

                                   
                                {% else %}
                                <div class="invalid-feedback" style="display: block;" >
                                   
                                    <span style="color: red;">Por favor debe autenticarse para ver esta página.</span>
                                </div>
                                
                                {% endif %}
                                {% endif %}
                        <input type="email" placeholder="Correo" name="username" class="form-control border-0" required>
                        
                        <input type="password" placeholder="Contraseña" name="password"  class="form-control border-0" required>
                        
                        <div class="g-recaptcha" style="margin-top: 20px;" class="form-control border-0" data-sitekey="6Ld6FyEaAAAAAGJSjBawQi9_K9-dAZrxG7ci4R-I"></div><button type="submit" class="border-0">Continuar</button>
                        <input type="hidden" name="next" value="{{ next }}">
                    </form>
                    <a href="{% url 'password_reset' %}">¿Olvidó su Contraseña?</a>
                    <p>Protegido por reCAPTCHA y sujeto a Política de Privacidad y Condiciones del servicio de MED Congress.</p>
                </div>

                <img src="{%static '/assets/img/iconos/logo.png'%}" class="img-fluid logobrand">
            </div>
        </div>
    </div>
</section>
{% endblock%}