{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Entrar Email para Reset Pass
{%endblock%}
{% block contenido %}

<div class="kode-event-time" >
    <div class="kode-event-contact" style=" background:url({% static 'MedCongressApp/images/slide11.png'%}) no-repeat 50%  0;background-attachment: fixed; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="kf_heading_3" style="margin-top: 70px;">
                        <h2>Recuperar contraseña</h2>
                        <span><b>Entre su Email</b>.  Le llegará un correo para que pueda cambiar su contraseña </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <form class="contactusform" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                               
                                {{form.email}}
                                <input type="submit" value="Enviar">
                               
                            </div>

                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock%}


