{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Información
{%endblock%}
{% block contenido %}
<section class="success d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-success"><strong>Revise su Correo</strong></h2>
            <small class="section-subtitle text-center">Le llegará un correo con un Vínculo donde pondrá cambiar su contraseña</small>
            </div>
        </div>
    </div>
</section>



{% endblock%}


