{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Cambio de Pass Completado
{%endblock%}
{% block contenido %}

<div class="kode-event-time" >
    <div class="kode-event-contact" style=" background:url({% static 'MedCongressApp/images/slide11.png'%}) no-repeat 50%  0;background-attachment: fixed; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="kf_heading_3" style="margin-top: 70px;">
                        <h2>Restablecimiento de contraseña completado</h2>
                        <span>Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión. </span>
                        
                        <input type="button" value="Autenticarse" id="aut">
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>


{% endblock%}
{%block script%}
<script>
      $(document).ready(function () {
    $('#aut').click(function () {
            
            
            location.href = "{% url 'login' %}";
        });
    });
</script>
{%endblock%}

