{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Cambio de Pass Completado
{%endblock%}
{% block contenido %}
<section class="success d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-success"><strong>Restablecimiento de contraseña completado</strong></h2>
            <small class="section-subtitle text-center">Su contraseña ha sido establecida. Ahora puede seguir adelante e iniciar sesión.</small>
            <small class="section-subtitle">Ir a <a href="{% url 'login' %}">Autenticarse</a></small>
            </div>
        </div>
    </div>
</section>


{% endblock%}
{%block script%}
<script>
      $(document).ready(function () {
    $('#aut').click(function () {
            
            
            location.href = "{% url 'login' %}";
        });
    });
</script>
{%endblock%}

