<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta property="business:contact_data:street_address" content="Halley 135">
	<meta property="business:contact_data:locality" content="Monterrey">
	<meta property="business:contact_data:region" content="Nuevo Leon">
	<meta property="business:contact_data:postal_code" content="64860">
	<meta property="business:contact_data:country_name" content="México">
	<meta name="author" content="SOFTok2" />
	<meta name="lang" content="es-ES" />
	{% block metadatos %}

		{%endblock%}
	{% load filtros %}
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title> {% block titulo %}
		{%endblock%}
	</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
          <link href="{% static '/assets/css/bootstrap.min.css'%}" rel="stylesheet"  crossorigin="anonymous">

          <link rel="stylesheet" href="{% static '/assets/css/app.css'%}">
	
{% block css%}
{%endblock%}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-5Z8DCMG1HQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5Z8DCMG1HQ');
</script>
</head>

<body>
    <header class="d-flex align-items-center">
        <nav id="main-nav" class="navbar navbar-expand-lg w-100 navbar-dark bg-dark fixed-top" >
            <div class="container-fluid h-100">
              <a class="navbar-brand" href="{% url 'Home'%}"><img src="{% static 'assets/img/iconos/logo.png'%}" class="img-fluid"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">  
                <ul class="navbar-nav d-flex justify-content-between justify-content-xxl-end">
                  <li class="nav-item mt-3 mt-md-0 d-md-flex align-items-center">
                    <form class="d-flex align-items-center search-form" method="POST" action="{% url 'List_congreso'%}">
                      {% csrf_token %}
                      <div class="input-group">
                          <input type="text" name="especialidad" id="especialidad" class="form-control" placeholder="Especialidades" aria-describedby="button-addon2">
                          <button class="btn btn-outline-secondary border-0" type="submit" id="button-addon2">BUSCAR</button>
                      </div>
                    </form>
                  </li>
                  <li class="nav-item d-md-flex mt-3 mt-md-0">
                    <a class="nav-link d-flex align-items-center p-0 me-3" href="{% url 'List_congreso'%}">CONGRESOS <img src="{% static '/assets/img/iconos/birrete.png'%}" class="img-fluid ms-2 icon"></a>
                    <a class="nav-link d-flex align-items-center p-0 my-3 my-md-0" href="{%url 'View_cart'%}">COMPRAS | <img src="{% static '/assets/img/iconos/carrito.png'%}" class="img-fluid ms-1 icon"></a>
                  </li>
                  <!-- <li class="nav-item d-md-flex align-items-center">
                    <div class="languaje-selector position-relative">
                      <button class="btn btn-outline-secondary border-0 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><img id="languageFlag" src="./assets/img/iconos/bandera-mx.png" alt=""></button>
                      <ul class="dropdown-menu">
                          <li><a class="dropdown-item" id="languageTooglerSpanish" href="#">Español</a></li>
                          <li><a class="dropdown-item" id="languageTooglerEnglish" href="#">English</a></li>
                      </ul>
                    </div>
                  </li> -->
                  {% if user.is_authenticated %}
                  <li class="nav-item profile-item d-flex flex-md-row flex-column my-3 my-md-0 justify-content-center justify-content-md-start align-items-center">
                    <img src="{%if request.user.perfilusuario.foto %}{% static '/'%}{{request.user.perfilusuario.foto}}{%else%}{% static '/assets/img/iconos/perfil.png'%} {%endif%}"  class="img-fluid profile-togler" width="40px" style="border-radius: 50px;">
                    <div class="menu">
                      <div class="arrow-up"></div>
                      <div class="header px-2">
                        <img src="{%if request.user.perfilusuario.foto %}{% static '/'%}{{request.user.perfilusuario.foto}}{%else%}{% static '/assets/img/iconos/perfil.png'%} {%endif%}" class="img-fluid me-2" width="60px" style="border-radius: 50px;">
                        <div class="name-cat">
                          <h5 class="name"><strong>{{request.user.first_name}} {{request.user.last_name}}</strong></h5>
                          <small class="cat">{{request.user.perfilusuario.categoria}}</small>
                        </div>
                      </div>
                      <ul class="nav px-2">
                        <li class="item"><a href="{% url 'perfil' %}">Perfil</a></li>
                        <li class="item"><a href="#">Mis Congresos</a></li>
                        <li class="item"><a href="#">Constancias</a></li>
                        <li class="item"><a href="#">Constancias</a></li>
                      </ul>
                      <a href="{% url 'logout' %}" class="ps-2 close-section">Cerrar sesión</a>
                    </div>
                  </li>
                  {%else%}
                  <li class="nav-item d-flex my-3 my-md-0 justify-content-center justify-content-md-start align-items-center">
                    <a class="nav-link auth-cta" href="{% url 'login' %}">LOGIN</a>
                    <a class="nav-link auth-cta" href="{% url 'Registrarse' %}">REGISTRO</a>
                  </li>
                  {%endif%}
                </ul>
              </div>
            </div>
          </nav>
    </header>  
    <main>
        {% block contenido%}

		{% endblock %}
    </main>
    <footer class="footer">
      <div class="contact-info d-flex flex-column justify-content-center align-items-center">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3"><h3 class="heading-contact-info"><strong>MED</strong> CONGRESS</h3></div>
            <div class="col-md-3" id='direccion'>
               
            </div>
            <div class="col-md-3">
              <div class="d-flex flex-column" id='contactos'>
              
              </div>
            </div>
            <div class="col-md-3">
              <div class="d-flex flex-column justify-content-between privacy-and-social">
                <a href="{%url 'aviso_privacidad'%}">Aviso de Privacidad</a>
                <div class="social-follow">
                  <a href="#">f</a>
                  <span>&nbsp;/&nbsp;</span>
                  <a href="#">in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="credits d-flex flex-column align-items-center justify-content-center">
        <a href="#" class="arrow-up"><img src="{% static '/assets/img/iconos/arrow-up.png'%}" class="img-fluid"></a>
        <span class="text-center">© Med Congress . All Rights Reserved</span>
        <span>Develop by SOFTOK2 & JCG.Mx</span>
      </div>
    </footer>
    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static '/assets/js/jquery.js'%}"></script>
	<!--Bootstrap Javascript File-->
	<script src="{% static '/assets/js/bootstrap.min.js'%}"></script>
    <script src="{% static '/assets/js/bootstrap.bundle.min.js'%}" ></script>
    <script src="{% static '/assets/vendors/cleave/cleave.min.js'%}"></script>
    <script src="{% static '/assets/js/app.js'%}"></script>
    <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
  <link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script src="{% static 'MedCongressApp/js/sweetalert.min.js' %}"></script>
  </body>
</html>



	
	{% block script%}

	{%endblock%}

	<script type="text/javascript">
		jQuery(document).ready(function ($) {

		$("#especialidad").autocomplete({
			source: "{% url 'Especialidades_autocomp'%}",
			minLength: 3,
		});
	
url = "{% url 'GetContactos'%}";
        $.get(url, function (data) {
			
            texto='';
            direccion='';
			if(data.direccion)
            direccion+='<p >'+data.direccion +'</p>';
			if(data.email)
			    texto+=`<a href="mailto:`+data.email+`">`+data.email+`</a>`;
			if(data.telefono)
			    texto+=`<a  href="#""> `+data.telefono+`</a>`;
			if(data.whatsapp)
			{
				what=data.whatsapp.replace(/\(/g,"").replace(/\)/g,"").replace(/-/g,'').replace(/\ +/g,'');
				texto+=`<a target="_blank" href="https://wa.me/+`+what+`"> `+data.whatsapp+`</a>`;

			}
          
			
			$('#contactos').html(texto)
            $('#direccion').html(direccion)
        });

	});


</script>

</body>

</html>