{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Cambiar Contraseña
{%endblock%}
{% block css %}

{%endblock%}
{% block contenido %}
<section class="login-register login">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade d-md-block d-none" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{%static '/assets/img/login-background-1.jpg'%}" class="d-block w-100">
            </div>
            <div class="carousel-item">
                <img src="{%static '/assets/img/login-background-2.jpg'%}" class="d-block w-100">
            </div>
        </div>
    </div>
    <div class="container-fluid content">
        <div class="row">
            <div class="offset-md-6 col-md-6">
                <div class="login-form-wrapper">
                    <h2 class="login-title"><strong>Entre y Confirme la Nueva Contraseña</strong></h2>
                   
                    <form action="" method="POST"  class="contactusform" >
                       
                        {%csrf_token%}
                       
                        {{form.password}}
                      
                        {{form.password1}}
                        <button type="submit" class="border-0">Cambiar Contraseña </button>
                    </form>
                </div>
                <img src="{%static '/assets/img/iconos/logo.png'%}" class="img-fluid logobrand">
            </div>
        </div>
    </div>
</section>
{% endblock%}