{% extends "MedCongressApp/base.html"%}
{% load static %}
{%block css%}
{%endblock%}
{% block contenido %}
<section class="success d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-success"><strong>Bienvenido a MedCongress</strong></h2>
            <small class="section-subtitle text-center">Ya puede acceder con su cuenta a todos nuestros eventos.</small>
            <small class="section-subtitle">Ir a <a href="{% url 'login' %}">Autentificarse</a></small>
            </div>
        </div>
    </div>
</section>
{%endblock%}