{% extends "MedCongressApp/base.html"%}
{% load static %}
{%block css%}
{%endblock%}
{% block contenido %}


<section class="cuestionario-congreso">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-title mb-4">Cuestionario</h2>
                <h1 class="section-subtitle">Debe llenar este cuestionario para que se le otorgue la constancia de haber participado en este Congreso</h1>
                
            </div>
            
        </div>
    </div>
    
    <div class="container-fluid" >
        <form  action="" method="POST" id="form" name="miform">
            {% csrf_token %}
        <table class="table table-responsive">
    {%for pregunta in preguntas%}
        <tr style="background-color: beige;"> 
            <th style="width: 5%;"> <input type="hidden" name="pregunta" value="{{pregunta.id}}"></th>
            <th>{{forloop.counter}}.- {{pregunta.pregunta}}</th>
      
        </tr>
        {%for respuesta in pregunta.respuestas%}
        <tr>
            <td style="text-align: center;"> <input type="radio" name="respuesta_{{forloop.parentloop.counter}}" value="{{respuesta.id}}" ></td> 
            <td> {{respuesta.respuesta}}</td>
      
        </tr>
        {%endfor%}

       
        {%endfor%}
    </table>
    <a class="btn btn-primary" type="button" href="{% url 'View_congreso' path=congreso.path%}"> Atrás</a>
    <a class="btn btn-primary" id="button"  role="button" >Enviar</a>
   
</form></div>
</section>

{%endblock%}

{%block script%}

<script>

$('#button').click(function(event){
    swal({
                title: "Se enviará el Cuestionario",
                text: 'Desea enviarlo?',
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No!",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: false,
                    },
                    confirm: {
                        text: "Si",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: false
                    }
                }
            })
                .then((isConfirm) => {
                    if (isConfirm) {
                       
                        $('#form').submit();
                    }
                    else {
                        location.reload();
                    }
                });

})



    function EnviarCuestionario(id){
        



		}
</script>
{%endblock%}