
{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Congresos
{%endblock%}
{% block contenido %}

<div class="sub-header">
    <!-- SUB HEADER -->
</div>
<!-- Kode-Slider End -->
<!--Kode-our-speaker-heading start-->
<div class="Kode-page-heading">
    <div class="container">
        <!--ROW START-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2>Congresos</h2>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i>Congresos</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--ROW END-->
    </div>
</div>

<div class="kode-blog-style-2" style="margin-top: 82px;">
    <div class="container">
        <!--FIRST ROW START-->
        <div class="row">
            {%if congreso_list %}
            {% for congreso in congreso_list %}
            <div class="col-md-4">
                <!--KODE_EVENT_BLOG2 START-->
                <div class="kode-event-blog3">
                    <figure>
                        <img src="{% static '/'%}{{congreso.imagencongreso_set.all.0.imagen}}" alt=""/>
                        <div class="kode-fig-capstion">
                            <a href="{% url 'View_congreso' congreso.path  %}">Conference Hall</a>
                            <p>Lorem ipsum</p>
                        </div>
                    </figure>
                    <div class="kode-thumb-caption">
                        <a href=""></a> <h4>{{congreso.titulo }}</h4></a>
                        <ul>
                            <li><a href="#"><i class="fa fa-calendar"></i>{{congreso.fecha_inicio|date:"M"}} {{congreso.fecha_inicio|date:"d"}} / {{congreso.fecha_inicio|date:"Y"}}</a></li>
                            <li><a href="#"><i class="fa fa-location-arrow"></i>{{congreso.lugar}}</a></li>
                        </ul>
                        <span><a href="{% url 'View_congreso' congreso.path %}">Leer Más</a></span>
                    </div>
                </div>
                <!--KODE_EVENT_BLOG2 START-->
            </div>
            {% endfor %}
            {%else%}
            <span>No encontro ningún Evento</span>
            {%endif%}
            <!--COL-MD-4 END-->
            
        <!--THIRD ROW END-->
        <!--PAGINATION ROW START-->
        <div class="row">
            <div class="col-md-12">
                <!---PAGINATIOn START-->
                <div class="pag">
                    <ul class="pagination">
                        {% if page_obj.has_previous %}
                        <li>
                          <a  href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">Prev</span>
                          </a>
                        </li>
                        
                        {%endif%}
                        {%if paginator.page_range|length > 1 %}
                        {%for pagina  in  paginator.page_range %}
                           
                            <li>
                            
                                                       <a href="?page={{forloop.counter}}" >{{forloop.counter}}</a> </li>
                       {%endfor%}
                       {%endif%}
                        {% if page_obj.has_next %}
                        <li>
                          <a href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                          </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!--PAGINATION END-->
            </div>
        </div>
        <!--PAGINATION ROW END-->
    </div>
</div>

{% endblock%}