{% extends "MedCongressApp/base.html"%}
{% load static %}
{% load filtros %}
{% block titulo %}
{{congreso.titulo}}
{%endblock%}
{%block css%}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/bootstrap-rating.css'%}" type="text/css" media="all">
<style type="text/css">

.main-body {
padding: 15px;
}
.card {
box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
position: relative;
display: flex;
flex-direction: column;
min-width: 0;
word-wrap: break-word;
background-color: #fff;
background-clip: border-box;
border: 0 solid rgba(0,0,0,.125);
border-radius: .25rem;
}

.card-body {
flex: 1 1 auto;
min-height: 1px;
padding: 1rem;
}

.gutters-sm {
margin-right: -8px;
margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
padding-right: 8px;
padding-left: 8px;
}
.mb-3, .my-3 {
margin-bottom: 1rem!important;
}

.bg-gray-300 {
background-color: #e2e8f0;
}
.h-100 {
height: 100%!important;
}
.shadow-none {
box-shadow: none!important;
}

</style>
{%endblock%}
{% block contenido %}

<div class="modal fade bs-example-modal-lg tt" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="background-color: #edecee;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Perfil del Ponente</h4>
            </div>
            <div class="modal-body" >
              <!-- //////////////////   -->
              <div class="">
                <div class="container">
                    <div class="row">
                    
                        <div class="col-md-9">
                            <div class="">
                                <div class="main-body">

                                      <div class="row gutters-sm">
                                        <div class="col-md-4 mb-3">
                                          <div class="card">
                                            <div class="card-body">
                                              <div class="d-flex flex-column align-items-center text-center">
                                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                                                <div class="mt-3">
                                                  <h4>John Doe</h4>
                                                  <p class="text-secondary mb-1">Full Stack Developer</p>
                                                  <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                                  <button class="btn btn-primary">Follow</button>
                                                  <button class="btn btn-outline-primary">Message</button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="card mt-3" style="margin-top: 1rem !important;">
                                            <ul class="list-group list-group-flush">
                                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                                                <span class="text-secondary">https://bootdey.com</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-github mr-2 icon-inline"><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22"></path></svg>Github</h6>
                                                <span class="text-secondary">bootdey</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter mr-2 icon-inline text-info"><path d="M150.65,100.682c0,27.992-22.508,50.683-50.273,50.683c-27.765,0-50.273-22.691-50.273-50.683
                                                    C50.104,72.691,72.612,50,100.377,50C128.143,50,150.65,72.691,150.65,100.682z M143.294,187.333H58.277V462h85.017V187.333z
                                                    M279.195,187.333h-81.541V462h81.541c0,0,0-101.877,0-144.181c0-38.624,17.779-61.615,51.807-61.615
                                                    c31.268,0,46.289,22.071,46.289,61.615c0,39.545,0,144.181,0,144.181h84.605c0,0,0-100.344,0-173.915
                                                    s-41.689-109.131-99.934-109.131s-82.768,45.369-82.768,45.369V187.333z"></path></svg>Twitter</h6>
                                                <span class="text-secondary">@bootdey</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-instagram mr-2 icon-inline text-danger"><rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path><line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line></svg>Instagram</h6>
                                                <span class="text-secondary">bootdey</span>
                                              </li>
                                              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                                <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook mr-2 icon-inline text-primary"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>Facebook</h6>
                                                <span class="text-secondary">bootdey</span>
                                              </li>
                                            </ul>
                                          </div>
                                        </div>
                                        <div class="col-md-8">
                                          <div class="card mb-3">
                                            <div class="card-body">
                                              <div class="row" style="margin-top: 10px;">
                                                <div class="col-sm-3">
                                                  <h6 class="mb-0">Full Name</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  Kenneth Valdez
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <h6 class="mb-0">Email</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  fip@jukmuh.al
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <h6 class="mb-0">Phone</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  (239) 816-9029
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <h6 class="mb-0">Mobile</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  (320) 380-4539
                                                </div>
                                              </div>
                                              <hr>
                                              <div class="row">
                                                <div class="col-sm-3">
                                                  <h6 class="mb-0">Address</h6>
                                                </div>
                                                <div class="col-sm-9 text-secondary">
                                                  Bay Area, San Francisco, CA
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row gutters-sm">
                                            <div class="col-sm-6 mb-3">
                                              <div class="card h-100">
                                                <div class="card-body">
                                                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                                                  <small>Web Design</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>Website Markup</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>One Page</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>Mobile Template</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>Backend API</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-sm-6 mb-3">
                                              <div class="card h-100">
                                                <div class="card-body">
                                                  <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Project Status</h6>
                                                  <small>Web Design</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>Website Markup</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>One Page</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>Mobile Template</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <small>Backend API</small>
                                                  <div class="progress mb-3" style="height: 5px">
                                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            
                           
                                     
                        </div>
                        
                    </div>    
                </div>
                
            </div>


              <!-- /////////////////////////// -->
            </div>
            <div class="modal-footer">
                <a  type="button" class="btn btn-default" data-dismiss="modal">Cerrar</a>
               
            </div>
        </div>
    </div>
</div>
<div class="kode-slider">

    <ul class="bxslider-banner">
        {% for imagen in congreso.imagencongreso_set.all%}
        <li>
            <img src="{% static '/'%}{{imagen.imagen}}" alt="" />
            <div class="kode-content">
                <div class="container">
                    <div class="row">
                        <div class="kode-slider-content">
                            <h2>{{congreso.titulo}}</h2>{%if congreso.sub_titulo %}<h2 class="mi_h2">
                                {{congreso.sub_titulo }}</h2> {%endif%}

                            <div class="button-holder" style="padding-top: 30px;">
                                <a href="#programas" class="button back">Programa</a>
                                <a href="#pagos" class="button">Inscripción</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        {%endfor%}
    </ul>

</div>
<!-- Kode-Slider End -->
<div class="kode-conference-schedule" id="programas">
    <div class="container">
        <div class="kf_heading_1">
            <h2>PROGRAMA</h2>
            <span>{{congreso.titulo}}</span>{%if congreso.sub_titulo %}<span
                style="font-size:80%;font-style: italic;">{{congreso.sub_titulo }}</span>{%endif%}
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="schedule-banner">
                    <img src="{% static '/'%}{{congreso.imagen_seg}}" alt="" />
                    <div class="scheduletabs">
                        <!-- Nav tabs -->
                        {% if fecha_ponencias %}
                        <ul class="nav nav-tabs" role="tablist">

                            {%   for fecha_ponencia in fecha_ponencias %}
                            {% if forloop.counter == 1 %}
                            <li role="presentation" class="active"><a href="#home{{forloop.counter}}" role="tab"
                                    data-toggle="tab"><span>Día {{forloop.counter}}</span>{{fecha_ponencia|date:"M"}}
                                    {{fecha_ponencia|date:"d"}} / {{fecha_ponencia|date:"Y"}}</a></li>
                            {% else %}
                            <li role="presentation"><a href="#home{{forloop.counter}}" role="tab"
                                    data-toggle="tab"><span>Día {{forloop.counter}}</span>{{fecha_ponencia|date:"M"}}
                                    {{fecha_ponencia|date:"d"}} / {{fecha_ponencia|date:"Y"}}</a></li>
                            {%endif%}
                            {%endfor%}
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            {% for ponencia in ponencias%}
                            {% if forloop.first %}
                            <div role="tabpanel" class="tab-pane active" id="home{{forloop.counter}}">
                                {% else %}
                                <div role="tabpanel" class="tab-pane " id="home{{forloop.counter}}">
                                    {%endif%}

                                    {% for pon in ponencia%}
                                    {%if pon.tipo == 'Bloque'%}
                                    <!-----  //////////////////////////////////-->
                                    <div class="kf_new_con_wrap ">
                                        <div class="kf_new_conf_time">
                                            <h5>{{pon.fecha_inicio|date:"H"}}:{{pon.fecha_inicio|date:"i"}}</h5>
                                        </div>
                                        <div class="kf_new_conf_des_wrap">
                                            {% if forloop.first %}
                                            <div class="kf_new_conf_hdg accordion-open" id="conf_accord">
                                                {%else%}
                                                <div class="kf_new_conf_hdg " id="conf_accord{{forloop.counter0}}">
                                                    {%endif%}
                                                    <h5>{%if pon.tipo == 'Taller'%}{{pon.tipo|upper}}{%endif%}
                                                        {{pon.titulo}} <span style="font-style: italic;"> </span> </h5>

                                                    <i class="fa fa-angle-down"></i>

                                                </div>
                                                <div class="kf_new_conf_open_wrap">
                                                    <div class="kf_new_conf_des">
                                                        {%if pon.detalle%}
                                                        <p>{{pon.detalle|safe}}</p>
                                                        {%endif%}
                                                    </div>
                                                    <div class="row">
                                                    {%for mod in pon.moderador %}
                                                    
                                                   
                                                    <div class="kf_new_conf_orgnizr col-sm-6">
                                                        <figure>
                                                            {% if mod.user.foto%}
                                                            <img src="{% static '/'%}{{mod.user.foto}}"
                                                                alt="image de {{mod.user.usuario.username}}">
                                                                {%else%}
                                                            <img src="{% static 'MedCongressApp/images/defaulthombre.png' %}"
                                                            alt="image de {{mod.user.usuario.username}}">
                                                                {%endif%}
                                                        </figure>
                                                        <div class="kf_new_conf_orgnizr_name">
                                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target=".tt" onclick="VerPerfil('{{mod.user.pk}}')"><h6>{{mod.user.usuario.first_name}}
                                                                {{mod.user.usuario.last_name}}</h6></button>
                                                            <span> Moderador</span>
                                                            
                                                        </div>
                                                        <p>
                                                                {%if mod.user.detalle %}
                                                                {{mod.user.detalle|safe}}
                                                                {%endif%}
                                                            </p>
                                                    </div>
                                                   
                                                    {%endfor%}
                                                
                                                    {%for evento in pon.eventos %}
                                                    
                                                    {%for ponente in evento.ponentes %}
                                                   {%if pon.moderador|length|divisibleby:2 %}
                                                    </div>
                                                    <div class="row">
                                                   {%endif%}
                                                        
                                                    <div class="kf_new_conf_orgnizr col-sm-6">
                                                        <figure>
                                                            {% if ponente.user.foto%}
                                                          
                                                            <img src="{% static '/'%}{{ponente.user.foto}}"
                                                                alt="image de {{ponente.user.usuario.username}}">
                                                                {%else%}
                                                            <img src="{% static 'MedCongressApp/images/defaulthombre.png' %}"
                                                            alt="image de {{ponente.user.usuario.username}}">
                                                                {%endif%}
                                                        </figure>
                                                        <div class="kf_new_conf_orgnizr_name">
                                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target=".tt" onclick="VerPerfil('{{ponente.user.pk}}')"><h6>{{ponente.user.usuario.first_name}}
                                                                {{ponente.user.usuario.last_name}}</h6></button>
                                                            <span> Ponente</span>
                                                           
                                                        </div> <p>
                                                                {%if ponente.user.detalle %}
                                                                {{ponente.user.detalle|safe}}
                                                                {%endif%}
                                                            </p>
                                                        <h5 style="color: #00a4ef;padding-bottom: 61px;font-size: 14px;">{%if evento.tipo == 'Taller'%}{{evento.tipo|upper}}{%endif%}
                                                            {{evento.titulo}} <span style="font-style: italic;"> </span> </h5>     
                                                    </div>
                                                    {%if pon.moderador|length|divisibleby:2%}
                                                    
                                                   
                                                {% if forloop.counter|divisibleby:2 %}
                                            </div>
                                            <div class="row">
                                                {%endif%}
                                                
                                                {%endif%}
                                                    {%endfor%}
                                                    
                                              
                                                       
    
                                                    
                                                    {%endfor%}
                                                  </div>
                                                </div>
                                            </div>
                                        </div>

                                    <!-----  //////////////////////////////////-->
                                    {%else%}
                                    <div class="kf_new_con_wrap ">
                                        <div class="kf_new_conf_time">
                                            <h5>{{pon.fecha_inicio|date:"H"}}:{{pon.fecha_inicio|date:"i"}}</h5>
                                        </div>
                                        <div class="kf_new_conf_des_wrap">
                                            {% if forloop.first %}
                                            <div class="kf_new_conf_hdg accordion-open" id="conf_accord">
                                                {%else%}
                                                <div class="kf_new_conf_hdg " id="conf_accord{{forloop.counter0}}">
                                                    {%endif%}
                                                    <h5>{%if pon.tipo == 'Taller'%}{{pon.tipo|upper}}{%endif%}
                                                        {{pon.titulo}} <span style="font-style: italic;"> </span> </h5>

                                                    <i class="fa fa-angle-down"></i>

                                                </div>
                                                <div class="kf_new_conf_open_wrap">
                                                    <div class="kf_new_conf_des">
                                                        {%if pon.detalle%}
                                                        <p>{{pon.detalle|safe}}</p>
                                                        {%endif%}
                                                    </div>
                                                    {%for ponente in pon.ponentes %}
                                                    <div class="kf_new_conf_orgnizr">
                                                        <figure>
                                                            {% if ponente.user.foto%}
                                                            <img src="{% static '/'%}{{ponente.user.foto}}"
                                                                alt="image de {{ponente.user.usuario.username}}">
                                                                {%else%}
                                                            <img src="{% static 'MedCongressApp/images/defaulthombre.png' %}"
                                                            alt="image de {{ponente.user.usuario.username}}">
                                                                {%endif%}
                                                        </figure>
                                                        <div class="kf_new_conf_orgnizr_name">
                                                            <button type="button" class="btn btn-link" data-toggle="modal" data-target=".tt" onclick="VerPerfil('{{ponente.user.pk}}')"><h6>{{ponente.user.usuario.first_name}}
                                                                {{ponente.user.usuario.last_name}}</h6></button>
                                                            <span> Ponente</span>
                                                            
                                                        </div><p>
                                                                {%if ponente.user.detalle %}
                                                                {{ponente.user.detalle|safe}}
                                                                {%endif%}
                                                            </p>
                                                    </div>
                                                    {%endfor%}
                                                </div>
                                            </div>
                                        </div>
                                        {%endif%}
                                        {%endfor%}

                                    </div>

                                    {%endfor%}

                                </div>

                                {%else%}
                                <span> No hay un programa establecido aún </span>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Kode-Conference Schedule End -->


        <div class="kode-speaker-frame">
            <div class="container">
                <div class="kf_heading_1">
                    <h2>Ponentes</h2>
                    <span>Ponentes de este congreso</span>
                </div>


                {% if ponentes_congreso %}

                {%for ponente in ponentes_congreso %}
                {%if forloop.first%}
                <div class="row">
                    {%endif%}



                    <div class="col-md-3">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".tt" onclick="VerPerfil('{{ponente.id_user}}')"> 
                        <!--KODE_EVENT_BLOG2 START-->
                        <div class="kode-newspeaker">
                            <div class="speaker-photo">
                                {% if ponente.foto%}
                                                          
                                <img src="{% static '/'%}{{ponente.foto}}"
                                    alt="image de {{ponente.usuario.username}}">
                                    {%else%}
                                <img src="{% static 'MedCongressApp/images/defaulthombre.png' %}"
                                alt="image de {{ponente.usuario.username}}">
                                    {%endif%}
                              
                            </div>
                            <div class="new-ourspeaker">
                                <h3>{{ponente.nombre}}</h3>
                                <h3> {{ponente.apellido}}</h3>
                                <h6 style="font-style: italic;"> <span>{{ponente.tipo}}</span></h6>
                                <!-- <ul class="newpseaker-media">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                                </ul> -->
                            </div>
                            <div class="new-ourspeaker over-state">
                                <h3>{{ponente.nombre}}</h3>
                                <h3> {{ponente.apellido}}</h3>
                                <h6 style="font-style: italic;"> <span>{{ponente.tipo}}</span></h6>
                               
                                <!-- <ul class="newpseaker-media">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-life-ring"></i></a></li>
                                </ul> -->
                            </div>
                            <!-- kode-new speaker over state End -->
                        </div>
                        <!--KODE_EVENT_BLOG2 START-->
                    </div>
                </button>
                    {%if forloop.last%}

                </div>

                {%endif%}
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {%endif%}
                {% endfor %}
                {%else%}
                <span>No encontro ningún Ponente</span>
                {%endif%}

            </div>
        </div>
    </div>
</div>

<div class="kode-our-pricing" id="pagos">
    <div class="container">

        <div class="kf_heading_1" style="text-align:center">
            <h2>TIPOS DE BOLETOS</h2>
            <p style="text-align:left"><b>Preferente:</b> Socio AMCIC, Miembro Médica Sur, Estudiante, Miembro IMSS,
                Miembro ISSSTE-, Institutos Nacionales de Salud, Hospitales de alta especialidad, Hospitales del Sector
                Público, Universidad Westhill.</p>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2col-sm-2 col-xs-12"></div>
            {%if categorias_pago %}
            {%for categoria_pago in categorias_pago %}

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="price-box-frame first-box">
                    <div class="kode-price-box">
                        <div class="kode-price-header">
                            <strong>{{categoria_pago.categoria.nombre}}</strong>
                            <h3>${{categoria_pago.precio}}<br> {{categoria_pago.moneda}}</h3>

                            <strong>IVA incluído</strong>
                        </div>

                        <div class="kode-price-footer">
                            {% if user.is_authenticated %}

                            <div class="">
                                <div class="col-sm-8">
                                    <a
                                        onclick="AgregarCarrito({{categoria_pago.pk}},'cant_{{categoria_pago.id}}','{{permiso}}')">Agregar
                                        al Carrito</a>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control input-lg" type="number" value="1" style="height: 52px;"
                                        id="cant_{{categoria_pago.id}}">
                                    <!-- <input class="input-qty-type" type="" name="qty" value="1"> -->

                                </div>
                            </div>

                            {%else%}
                            <a href="{%url 'login'%}">Agregar al Carrito</a>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <!-- kode-price-box End -->
            </div>
            {%endfor%}
            {%else%}
            <span> No tiene establecido los precios aún </span>
            {%endif%}
        </div>

    </div>
</div>

<!-- Talleres-->
<div class="kf_heading_1">
    <div class="container">
        <h2>Talleres</h2>
        <span>Si desea tener una constancia del taller es necesario que compre su boleto de acreditación al
            evento.</span>
        <p style="text-align:left"><b>Preferente:</b> Socio AMCIC, Miembro Médica Sur, Estudiante, Miembro IMSS, Miembro
            ISSSTE-, Institutos Nacionales de Salud, Hospitales de alta especialidad, Hospitales del Sector Público,
            Universidad Westhill.</p>


        {% for taller in talleres %}
        <div class="kf_faq_accordian">
            <div class="kf_accordian_hdg accordion" id="section3">
                <h5>Taller #{{forloop.counter}}: {{taller.0.titulo}}</h5>
            </div>
            <div class="kf_accordian_des">
                <div class="kode-our-pricing">
                    <div class="row">
                        <div class="col-lg-2 col-md-2col-sm-2 col-xs-12"></div>


                        {%if taller.1 is True%}
                        <span> No tiene establecido los precios aún </span>
                        {%else%}
                        {%for cat in taller.1%}
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="price-box-frame first-box">
                                <div class="kode-price-box">
                                    <div class="kode-price-header">
                                        <strong>{{cat.categoria.nombre}}</strong>
                                        <h3>$ {{cat.precio}} {{cat.moneda}}</h3>
                                        <strong>IVA incluído</strong>
                                    </div>

                                    <div class="kode-price-footer">
                                        {% if user.is_authenticated %}

                                        <div class="">
                                            <div class="col-sm-8">
                                                <a
                                                    onclick="AgregarCarritoTaller({{cat.pk}},'cant_{{cat.pk}}','{{taller.2}}')">Agregar
                                                    al Carrito</a>
                                            </div>
                                            <div class="col-sm-4">
                                                <input class="form-control input-lg" type="number" value="1"
                                                    style="height: 52px;" id="cant_{{cat.pk}}">
                                                <!-- <input class="input-qty-type" type="" name="qty" value="1"> -->

                                            </div>
                                        </div>


                                        {%else%}
                                        <a href="{%url 'login'%}">Agregar al Carrito</a>
                                        {%endif%}
                                    </div>
                                </div>
                            </div>
                            <!-- kode-price-box End -->
                        </div>
                        {%endfor%}
                        {%endif%}


                    </div>
                </div>
            </div>
        </div>
        {%endfor%}





    </div>




    <div class="kode-event-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="kf_heading_3">
                        <h2>Contacto</h2>
                        <span>Un simposio extraordinario en un año extraordinario</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form class="contactusform" action="#">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" placeholder="Nombre">
                                <input type="email" placeholder="Email">
                                <input type="text" placeholder="Asunto">
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <textarea name="Message" cols="30" rows="10" placeholder="Mensaje"></textarea>
                                <input type="submit" value="Enviar" name="submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--kode-event-contact-->
</div>

{%endblock%}
{% block script%}
<script src="{% static 'MedCongressApp/js/bootstrap-rating.js' %}"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        

        $(".back").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 500);
        });
    });

    function AgregarCarritoTaller(id, fields, msj) {

        if (msj == 'False') {
            $.ajax({
                type: "GET",
                url: "{% url 'Add_cart_taller'%}",
                data: {
                    'id': id, // from form
                    'cant': $('#' + fields).val()// from form
                },
                success: function (data) {
                    if (data['succes']) {
                        swal({
                            title: "Ha adicionado un evento a su carrito de compra",
                            text: "Clic al carrito para efectuar la compra",
                            icon: "success",
                            buttons: {
                                cancel: {
                                    text: "ok!",
                                    value: null,
                                    visible: true,
                                    className: "",
                                    closeModal: false,
                                },



                            }
                        })
                            .then((isConfirm) => {
                                if (isConfirm) {

                                }
                                else {
                                    location.reload();
                                }

                            });
                    }
                    else
                        swal("No se puede", "Ya tiene este Taller en el carrito de compra.", "error");
                }
            });
        }
        else {
            swal({
                title: "Ya usted compró este taller",
                text: ' Desea comprarlo de nuevo?',
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "Cancelar!",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: false,
                    },
                    confirm: {
                        text: "Aceptar",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: false
                    }
                }
            })
                .then((isConfirm) => {
                    if (isConfirm) {



                        $.ajax({
                            type: "GET",
                            url: "{% url 'Add_cart_taller'%}",
                            data: {
                                'id': id, // from form
                                'cant': $('#' + fields).val()// from form
                            },
                            success: function (data) {
                                if (data['succes']) {
                                    swal({
                                        title: "Ha adicionado un evento a su carrito de compra",
                                        text: "Clic al carrito para efectuar la compra",
                                        icon: "success",
                                        buttons: {
                                            cancel: {
                                                text: "ok!",
                                                value: null,
                                                visible: true,
                                                className: "",
                                                closeModal: false,
                                            },



                                        }
                                    })
                                        .then((isConfirm) => {
                                            if (isConfirm) {

                                            }
                                            else {
                                                location.reload();
                                            }

                                        });
                                }

                            }
                        });
                    }
                    else {
                        location.reload();
                    }
                });



        }
    }
    function AgregarCarrito(id, fields, msj) {
        if (msj == 'False') {
            $.ajax({
                type: "GET",
                url: "{% url 'Add_cart'%}",
                data: {
                    'id': id,
                    'cant': $('#' + fields).val()// from form

                },
                success: function (data) {
                    if (data['succes']) {
                        swal({
                            title: "Ha adicionado un evento a su carrito de compra",
                            text: "Clic al carrito para efectuar la compra",
                            icon: "success",
                            buttons: {
                                cancel: {
                                    text: "ok!",
                                    value: null,
                                    visible: true,
                                    className: "",
                                    closeModal: false,
                                },



                            }
                        })
                            .then((isConfirm) => {
                                if (isConfirm) {

                                }
                                else {
                                    location.reload();
                                }

                            });




                    }
                    else
                        swal("No se puede", "Ya tiene este Evento en el carrito de compra.", "error");
                }
            });
        }
        else {
            swal({
                title: "Ya usted compró este congreso",
                text: ' Desea comprarlo de nuevo?',
                icon: "warning",
                buttons: {
                    cancel: {
                        text: "No",
                        value: null,
                        visible: true,
                        className: "",
                        closeModal: false,
                    },
                    confirm: {
                        text: "Si",
                        value: true,
                        visible: true,
                        className: "",
                        closeModal: false
                    }
                }
            })
                .then((isConfirm) => {
                    if (isConfirm) {
                        $.ajax({
                            type: "GET",
                            url: "{% url 'Add_cart'%}",
                            data: {
                                'id': id,
                                'cant': $('#' + fields).val()// from form

                            },
                            success: function (data) {
                                if (data['succes']) {
                                    swal({
                                        title: "Ha adicionado un evento a su carrito de compra",
                                        text: "Clic al carrito para efectuar la compra",
                                        icon: "success",
                                        buttons: {
                                            cancel: {
                                                text: "ok!",
                                                value: null,
                                                visible: true,
                                                className: "",
                                                closeModal: false,
                                            },



                                        }
                                    })
                                        .then((isConfirm) => {
                                            if (isConfirm) {

                                            }
                                            else {
                                                location.reload();
                                            }
                                        });
                                }
                                else
                                    swal("No se puede", "Ya tiene este Evento en el carrito de compra.", "error");
                            }
                        });
                    }
                    else {
                        location.reload();
                    }
                });
        }
    }
function VerPerfil(pk){
    url = "{% url 'GetPerfil'%}";
                    $.get(url, { 'pk': pk }, function (data) {
                    $('#nombre').html(data.nombre) ;
                    if(data.foto)
                        $('#foto').html('<img class="img-responsive" src="{% static '/'%}'+data.foto+'" alt=" foto '+ data.nombre+'" ><figcaption class="kf_speaker_socil">'+
                                '<ul>'+
                                    '<li>'+ data.puesto+'</li>'+
                                 
                                '</ul>'+'</figcaption>'
                            );
                    else
                        $('#foto').html('<img class="img-responsive" src="{% static 'MedCongressApp/images/defaulthombre.png' %}" alt="{{request.user.username}}" >');
                    if(data.bandera)
                        $('#bandera').html('<img style="width: 116px;" class="img-responsive" src="{% static '/'%}'+data.bandera+'" alt=" bandera" >');
                    else
                        $('#bandera').html('Este País no tiene bandera en la BD');

                    redes='';
                    if(data.facebook)
                    redes+='<div class="like_fb"><a class="facebook" href="'+data.facebook+'"><i class="fa fa-facebook"></i></a> </div>'
                    if(data.twitter)
                    redes+='<div class="like_fb"><a class="twitter" href="'+data.twitter+'"><i class="fa fa-twitter"></i></a> </div>'
                    if(data.youtube)
                    redes+='<div class="like_fb"><a class="youtube" href="'+data.youtube+'"><i class="fa fa-youtube"></i></a> </div>'
                    if(data.linkedin)
                    redes+='<div class="like_fb"><a class="facebook" href="'+data.linkedin+'"><i class="fa fa-linkedin"></i></a> </div>'
                    $('#redes_sociales').html(redes) ;
                    $('#localidad').html(data.lugar) ;
                    $('#email').html(data.email) ;
                    $('#categoria').html(data.categoria) ;
                    $('#especialidad').html(data.especialidad);
                    $('#ced').html(data.ced);
                    $('#constancia').html(data.constancias);
                    $('#publicaciones').html(data.publicaciones);
                    
                    
                    if(data.ponencias.length==0){
                        ponencias='<li><div class="like_amount"> <b>No es Ponente en ninguna Ponencia </b></div> </li>';
                    }
                    else{
                       ponencias='';
                        for (let i = 0; i < data.ponencias.length; i++) {
                            ponencias+='<li><div class="like_amount"><p>'+data.ponencias[i].nombre+'</p><span> <b>Congreso: </b> '+data.ponencias[i].congreso+'</span></div></li>'
                            
                        } 
                    }
                        
                    $('#ponencias').html(ponencias)

                    if(data.talleres.length==0){
                        talleres='<li><div class="like_amount"> <b>No es Ponente en ningún Taller </b></div> </li>';
                    }
                    else{
                        talleres='';
                        for (let i = 0; i < data.talleres.length; i++) {
                            talleres+='<li><div class="like_amount"><p>'+data.talleres[i].nombre+'</p><span> <b>Congreso: </b> '+data.talleres[i].congreso+'</span></div></li>'
                            
                        } 
                    }
                        
                    $('#talleres').html(talleres)
                    $('#rating').rating('rate', 4.5);
//                     $('#rating2').rating({
//   filled: 'glyphicon glyphicon-heart-empty',
//   filledSelected: 'glyphicon glyphicon-heart',
//   empty: 'glyphicon glyphicon-heart-empty'
// });


                    });
}

</script>

{%endblock%}