<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>MedCongress</title>
	{% load static %}
</head>
<body style="background-color: white ">

<!--Copia desde aquí-->
<table style="max-width: 600px; padding: 10px; margin:0 auto; border-collapse: collapse;">
	<tr>
		<td style="padding: 0">
			<img style="padding: 0; display: block" src="https://medcongress.com.mx/static/MedCongressApp/images/welcome-Mesa-de-trabajo-1.png" width="100%">
		</td>
	</tr>
	<tr>
		<td style="background-color: #ecf0f1">
			<div style="color: #34495e; margin: 4% 10% 2%; text-align: center;font-family: sans-serif">
				<h5 style="color: #000000; margin: 0 0 7px">Hacemos mas flexible, cómodo y accesible el conocimiento a cualquier médico en cualquier momento.</h5>

				<div style="width: 100%;margin:20px 0; display: inline-block;text-align: center">

				<div style="width: 100%; text-align: center">
					<a style="text-decoration: none; border-radius: 5px; padding: 11px 23px; color: white; background-color: #00a4ef" href="https://medcongress.mx.com/habilitar_user/{{token}}">Activar Cuenta</a>
				</div>
				<p style="color: #b3b3b3; font-size: 12px; text-align: center;margin: 30px 0 0">MedCongress 2020</p>
			</div>
		</td>
	</tr>
</table>
<!--hasta aquí-->

</body>
</html>
