{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Error Registrar
{%endblock%}
{% block contenido %}
<section class="failure d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-danger"><strong class="text-center d-block">Ha ocurrido un error</strong></h2>
            <h2 class="section-title text-danger"><span class="text-center d-block">¡A ocurrido un error a la hora de registrarse, por favor intente de nuevo!</span></h2>
            
            <small class="section-subtitle text-center d-block">{{request.session.error_registrar}}</small>
            </div>
        </div>
    </div>
</section>

{%endblock%}


