{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Error Registrar
{%endblock%}
{% block contenido %}
<div class="sub-header">
    <!-- SUB HEADER -->
</div>
<div class="content">
    <!--Kode-our-speaker-strip start-->
    <div class="Kode-page-heading">
        <div class="container">
            <!--ROW START-->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>Error Registrar</h2>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i>Error Registrar</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--ROW END-->
        </div>
    </div>
    <!--Kode-our-speaker-strip End-->
    <!--KODE EVENT BLOG 2 START-->
    <div class="kode-blog-style-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="kode-error">
                        <h3>Error!</h3>
                        <h4>Oops A ocurrido un error a la hora de registrarse por favor intente de nuevo !</h4>
                        <p>{{request.session.error_registrar}}</p>
                      
                    </div>
                </div>
            </div>
        </div>	
    </div>
<!--KODE EVENT BLOG 2 START-->
</div>
{%endblock%}