{% extends "MedCongressApp/base.html"%}
{% load static %}
{%block css%}
{%endblock%}
{% block contenido %}
<section class="failure d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-danger"><strong class="text-center d-block">Error!</strong></h2>
            <h2 class="section-title text-danger"><strong class="text-center d-block">¡Oops A ocurrido un error relacionado con la facturación !</strong></h2>
            <small class="section-subtitle text-center d-block">{{request.session.error_facturacion}}</small>
            </div>
        </div>
    </div>
</section>
{%endblock%}
