{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Inicio
{%endblock%}
{% block contenido %}
<div class="kode-event-time" style=" background:url({% static '/'%}{{nuevo_congreso.imagencongreso_set.all.0.imagen}}) no-repeat 50% 0; ">
	<div class="container">
		<div class="row">

			<!-- Event Counter -->
			<div class="col-lg-8 col-md-8 col-sm-7">


				<div class="next-event-counter">
					<h2>ENCUENTRA TU CONGRESO </h2>
					<form class="subscribe-form" method="POST" action="{% url 'List_congreso'%}">
						{% csrf_token %}
						<input type="text" name="especialidad" id="especialidad"  placeholder="Buscar especialidad">
						<input type="submit"  name="submit">
					</form>
					
					{%if nuevo_congreso%}
					<h2>Siguiente evento:</h2>
					<div id="countdown" class="simply-countdown"></div>
					<div class="button-holder">
										<a href="{%url 'View_congreso' nuevo_congreso.path%}" class="button">Más Información</a>
									
									</div>
									{%else%}
									<h2>Siguiente evento:</h2>
							<ul class="countdown">
								<li>
									<span class="days">00</span>
									<p class="days_ref">días</p>
								</li>
								<li>
									<span class="hours">00</span>
									<p class="hours_ref">horas</p>
								</li>
								<li>
									<span class="minutes">00</span>
									<p class="minutes_ref">minutos</p>
								</li>
								<li>
									<span class="seconds last">00</span>
									<p class="seconds_ref">segundos</p>
								</li>
							</ul>
							<h4>No hay eventos próximos por el momento</h4>
									{% endif%}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- kode-event-time End -->
<div class="content">
	<div class="kode-overview-holder" style="background-color:#fff">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="kf_heading_2">
						<h3>Somos Med Congress</h3>
						<span>La medicina un arte sin fronteras</span>
					</div>

					<p>Somos una empresa tecnológica comprometidos con la educación médica continua, haciéndola más
						flexible, cómoda y accesible para todo medico en el mundo; dando una experiencia del aprendizaje
						atractivo, efectivo y convincente.</p>
					<p>La transformación digital en la educación superior no solo es una solución a los desafíos comunes
						del sector salud, también es un cambio de mentalidad que crea procesos más eficientes en la
						gerencia y la experiencia pedagógica.</p>

				</div>
				<div class="col-lg-6 col-md-6">
					<div class="event-slider-box">
						<div class="event-borders">
						</div>
						<div class="event-boxslider">
							<ul class="bxslider-banner">
								<li><img src="{% static 'MedCongressApp/images/IMG_1.png'%}" alt="" /></li>
								<li><img src="{% static 'MedCongressApp/images/IMG_2.png'%}" alt="" /></li>
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- Kode-Over view holder End -->
	<div class="content">
		<div class="kode-overview-holder">
			<div class="container">
				<div class="row facts-row">
					<h3>En nuestra plataforma contamos con:</h3>
					<div class="facts-counter">
						<div class="col-md-3 col-sm-6 col-xs-6">
							<strong class="icons-wrap"><i class="fa fa-users"></i></strong>
							<div class="kf_counter">
								<strong class="counter"> {{ponentes|length|add:datos_ini.ponentes}}</strong>
								<span>Ponentes</span>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-6">
							<strong class="icons-wrap"><i class="fa fa-files-o"></i></strong>
							<div class="kf_counter">
								<strong class="counter"> {{especialidades}}</strong>
								<span>Especialidades</span>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-6">
							<strong class="icons-wrap"><i class="fa fa-hand-paper-o"></i></strong>
							<div class="kf_counter">
								<strong class="counter"> {{afiliados}}</strong>
								<span>Afiliados</span>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-6">
							<strong class="icons-wrap"><i class="fa fa-globe"></i></strong>
							<div class="kf_counter">
								<strong class="counter"> {{datos_ini.ponentes}}</strong>
								<span>Países</span>
							</div>
						</div>

					</div>
					<!-- Kode-Fatcs -Counterup End -->

					<!-- <a class="button-animate" href="#"><span data-hover="sobre nosotros">ver más</span></a> -->
				</div>
			</div>
		</div>
		<!-- Kode-Over view holder End -->
		<div class="kode-slider">
			<ul class="bxslider-banner">
				{% for congreso in congresos %}
				<li>
					<img src="{% static '/'%}{{congreso.imagencongreso_set.all.0.imagen}}" alt="" />
					<div class="kode-content">
						<div class="container">
							<div class="row">
								<div class="kode-slider-content">
									<h2>{{congreso.titulo}}</h2>{%if congreso.sub_titulo %}<h2 class="mi_h2">{{congreso.sub_titulo }}</h2> {%endif%}

									<div class="button-holder" style="padding-top: 30px;">
										<a href="{% url 'View_congreso' congreso.path %}#programas" class="button">Programa</a>
										<a href="{% url 'View_congreso' congreso.path %}#pagos" class="button">Inscripción</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				{%endfor%}

			</ul>

		</div>
		<!-- Kode-Slider End -->

		<div class="kode-main-services">
			<div class="container">
				<div class="kf_heading_1">
					<h2>Ofrecemos</h2>

				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="main-service-box">
							<div class="icon-srvc">
								<i class="icon-finance-and-business4"></i>
							</div>
							<div class="srvc-content">
								<h3>Pagos electronicos</h3>
								<p>Realizar pagos de manera segura y sencilla con tarjeta de débito o crédito. Ahorrando
									tiempo al poder realizarlo desde cualquier lugar de tu comodidad.</p>
								<strong class="bottom-border"></strong>
							</div>
						</div>
						<!-- Kode-main-service-box End -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="main-service-box">
							<div class="icon-srvc">
								<i class="icon-businessman277"></i>
							</div>
							<div class="srvc-content">
								<h3>Fomento a la investigación científica</h3>
								<p>Generar Conocimiento y competencias en el personal del área médica, a través la
									investigación y resultados científicos, para el beneficio de la salud.</p>
								<strong class="bottom-border"></strong>
							</div>
						</div>
						<!-- Kode-main-service-box End -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="main-service-box">
							<div class="icon-srvc">
								<i class="icon-books71"></i>
							</div>
							<div class="srvc-content">
								<h3>Congresos Virtuales</h3>
								<p>Te proporcionamos accesibilidad y comodidad para las inscripciones a congreso
									virtuales, brindando una exposición internacional llegando a profesionales médicos
									del mundo, mediante nuestro sistema de hosting, ofreciendo el conocimiento
									científico a un clic de distancia.</p>
								<strong class="bottom-border"></strong>
							</div>
						</div>
						<!-- Kode-main-service-box End -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<div class="main-service-box">
							<div class="icon-srvc">
								<i class="icon-man161"></i>
							</div>
							<div class="srvc-content">
								<h3>Publicidad de tu evento</h3>
								<p>Te ayudamos con la publicidad de forma gratuita creando un impacto visual en tu
									evento, dando a conocer los temas de actualización con los respectivos ponentes.
									Diversificando tu evento a todos los campos afines a la medicina.</p>
								<strong class="bottom-border"></strong>
							</div>
						</div>
						<!-- Kode-main-service-box End -->
					</div>
				</div>
			</div>
		</div>
		<!-- Kode-main-service End -->



		<!-- <div class="kode-speaker-frame">
			<div class="container">
				<div class="kf_heading_1">
					<h2>GALENUS</h2>
					<span></span>
				</div>
				<div class="row">
					<div id="kode-speaker-causel" class="owl-carousel">

						{% for ponente in ponentes%}
						<div class="kode-newspeaker">
							<div class="speaker-photo">
								<img src="{% static '/'  %}{{ponente.user.foto}}" alt="">
							</div>
							<div class="new-ourspeaker">
								<h3>{{ponente.user.usuario.first_name}} {{ponente.user.usuario.last_name}} / <span>Ponente</span></h3>
								<ul class="newpseaker-media">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="#"><i class="fa fa-life-ring"></i></a></li>
								</ul>
							</div>
							<div class="new-ourspeaker over-state">
								<h3>{{ponente.user.usuario.first_name}} {{ponente.user.usuario.last_name}} / <span>Ponente</span></h3>
								<p>Categoría: {{ponente.user.categoria.nombre}}</p>
								<ul class="newpseaker-media">
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
									<li><a href="#"><i class="fa fa-life-ring"></i></a></li>
								</ul>
							</div>
							 kode-new speaker over state End -->
					<!--	</div>
						{%endfor%}
						
						

					</div>
				</div>
			</div>
		</div> -->



		<!-- <div class="kode-event-testimonial">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="kf_heading_3">
							<h2 style="color:#fff">Testimonios</h2>
							<span style="color:#fff"></span>
						</div>

						<div id="kode-testimonial-causel" class="owl-carousel">
							<div class="client-holder">
								<div class="client-content">
									<blockquote>
										<q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore .</q>
									</blockquote>
								</div>

								<div class="client-header">
									<div class="client-pic">
										<img src="{% static 'MedCongressApp/extra-images/img14.jpg'%}" alt="">
									</div>
									<h3>aNNA dOE</h3>
									<strong>ceo</strong>
								</div>

							</div>
							client post slide-->

							<!-- <div class="client-holder">
								<div class="client-content">
									<blockquote>
										<q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore .</q>
									</blockquote>
								</div>

								<div class="client-header">
									<div class="client-pic">
										<img src="{% static 'MedCongressApp/extra-images/testimonial-01.png'%}" alt="">
									</div>
									<h3>aNNA dOE</h3>
									<strong>ceo</strong>
								</div>

							</div> -->
							<!--client post slide-->

							<!-- <div class="client-holder">
								<div class="client-content">
									<blockquote>
										<q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore .</q>
									</blockquote>
								</div>

								<div class="client-header">
									<div class="client-pic">
										<img src="{% static 'MedCongressApp/extra-images/testimonial-02.png'%}" alt="">
									</div>
									<h3>aNNA dOE</h3>
									<strong>ceo</strong>
								</div>

							</div> -->
							<!--client post slide-->

							<!-- <div class="client-holder">
								<div class="client-content">
									<blockquote>
										<q>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
											tempor incididunt ut labore et dolore .</q>
									</blockquote>
								</div>

								<div class="client-header">
									<div class="client-pic">
										<img src="{% static 'MedCongressApp/extra-images/img14.jpg'%}" alt="">
									</div>
									<h3>aNNA dOE</h3>
									<strong>ceo</strong>
								</div>

							</div> -->
							<!--client post slide-->
						<!-- </div>
					</div>
				</div>
			</div>
		</div> --> 
		<!--kode-event-testimonial-->

		<div class="kode-event-contact">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="kf_heading_3">
							<h2>Contacto</h2>
							<span ></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<form class="contactusform" action="#">

							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<input type="text" placeholder="Nombre">
									<input type="email" placeholder="Email">
									<input type="text" placeholder="Asunto">
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
									<textarea name="Message" cols="30" rows="10" placeholder="Mensaje"></textarea>
									<input type="submit" value="Enviar" name="submit">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!--kode-event-contact-->
	</div>
	

	{% endblock%}
	{% block script%}
<script src="{% static 'MedCongressApp/js/plugins/simplyCountdown/simplyCountdown.min.js'%}"></script>
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>

<script>
simplyCountdown('#countdown', {
            year: '{{nuevo_congreso.fecha_inicio|date:"Y"}}' , // required
            month: '{{nuevo_congreso.fecha_inicio|date:"m"}}', // required
            day: '{{nuevo_congreso.fecha_inicio|date:"d"}}', // required
            hours: '{{nuevo_congreso.fecha_inicio|date:"h"}}', // Default is 0 [0-23] integer
            minutes: '{{nuevo_congreso.fecha_inicio|date:"i"}}', // Default is 0 [0-59] integer
            seconds: '{{fecha|date:"s"}}', // Default is 0 [0-59] integer
            words: { //words displayed into the countdown
                days: 'dia',
                hours: 'hora',
                minutes: 'minuto',
                seconds: 'segundo',
                pluralLetter: 's'
            },
            plural: true, //use plurals
            inline: false, //set to true to get an inline basic countdown like : 24 days, 4 hours, 2 minutes, 5 seconds
            inlineClass: 'simply-countdown-inline', //inline css span class in case of inline = true
            // in case of inline set to false
            enableUtc: true, //Use UTC as default
            onEnd: function() { return; }, //Callback on countdown end, put your own function here
            refresh: 1000, // default refresh every 1s
            sectionClass: 'simply-section', //section css class
            amountClass: 'simply-amount', // amount css class
            wordClass: 'simply-word', // word css class
            zeroPad: false,
            countUp: false
    });


</script>
<script>

	$(function() {
	  $("#especialidad").autocomplete({
		source: "{% url 'Especialidades_autocomp'%}",
		minLength: 3,
	  });
	});
  
  </script>
  
<!--GOOGLE MAP-->
{%endblock%}