{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Transaccion Exitosa
{%endblock%}
{% block contenido %}
<div class="sub-header">
    <!-- SUB HEADER -->
</div>
<div class="modal fade" id="my" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Entre su RFC</h4>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
            <div class="modal-body">
                
                <div class=" row ">
                    <div id="factura" class="col-md-6" >
                        <div class="form-group">
                            <label>RFC</label>

                            <input type="text" id="rfc" name="rfc">

                        </div>

                    </div>
                    <div id="" class="col-md-6" >
                        <div class="form-group">
                            <label>CFDI</label>
<select name="cfdi" id="" class="form-control">

    <option value="G03">G03 	Gastos en general.</option>
    <option value="D10">D10 	Pagos por servicios educativos (colegiaturas).</option>
</select>
                            

                        </div>

                    </div>

                </div>
                <div class=" row ">
                    <div id="" class="col-md-12" >
                        <div class="form-group">
                            <label>Dirección a Facturar</label>

                            <input type="text" id="" name="dir">

                        </div>

                    </div>
                    

                </div>
           
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default" id="enviar" >Descargar Factura</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div> </form>
        </div>
    </div>
</div>
<div class="content">
    <!--Kode-our-speaker-strip start-->
    <div class="Kode-page-heading">
        <div class="container">
            <!--ROW START-->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>Transacción Exitosa</h2>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Transacción Exitosa</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--ROW END-->
        </div>
    </div>
    <!--Kode-our-speaker-strip End-->
    <!--KODE EVENT BLOG 2 START-->
    <div class="kode-blog-style-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="kode-error">
                        <h3 style="font-size: 100px;">Enhorabuena </h3>

                        <h4>"Ahora puede acceder a sus eventos comprados."</h4> <br><h6> El comprobante de pago han sido enviados al correo electrónico de su cuenta, en caso de cualquier incidente contactar a <a
                            href="mailto:soporte@medcongress.com.mx">soporte@medcongress.com.mx </a>"</h6>
                        <p></p>
                        <p></p>
                        <h5 style="margin-top: px;"><b>Detalle de la Orden </b></h5>



                        <table cellspacing="0" border="1" class="table table-responsive">
                        
                                <tr style="background-color:#d4d1d1;"> 
                                    <th style="padding: 10px;" >#</th>
                                    <th style="padding: 10px;">Evento</th>
                                    <th >Nombre</th>
                                    <th>Cat. de Pago</th>
                                    <th>Precio</th>
                                    <th >Cant.</th>
                                    <th >A pagar</th>
                                </tr>
                        
                            <tbody>
                                
                                {%for ca in car.1 %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td style="padding: 10px;">{{ca.tipo_evento}}</td>
                                    <td style="padding: 10px;">{{ca.nombre_congreso}}</td>
                                    <td style="padding: 10px;">{{ca.nombre_cat_pago}}</td>
                                    <td style="padding: 10px;">${{ca.precio}}</td>
                                    <td style="padding: 10px;">{{ca.cantidad}}</td>
                                    <td style="padding: 10px;">${{ca.pagar|floatformat:2}}</td>
                                  
                                </tr>
                                {%endfor%}
                                <tr style="background-color: slategray;">
                                    <th scope="row" colspan="6">Total a pagar</th>
                                    <td><b> ${{car.0.cant|floatformat:2}}</b></td>
                                    
                                        
                                </tr>
                             
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <a  class="btn btn-primary" data-toggle="modal" data-target="#my">Obtener Factura </a>
            </div>
        </div>	
    </div>
<!--KODE EVENT BLOG 2 START-->
</div>
{%endblock%}

{%block script%}
<script>
 $(document).ready(function () {
$('#enviar').on('click', function (event) {

valor=$("#rfc").val()
if (!valor.match(/[A-Z,Ñ,&]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?/))
 {
   alert("Esto no es un numero RFC");
return false;
}
});
});
</script>
{%endblock%}