{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Transaccion Exitosa
{%endblock%}
{% block contenido %}
<div class="sub-header">
    <!-- SUB HEADER -->
</div>
<div class="content">
    <!--Kode-our-speaker-strip start-->
    <div class="Kode-page-heading">
        <div class="container">
            <!--ROW START-->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>Transacción Exitosa</h2>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Transacción Exitosa</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--ROW END-->
        </div>
    </div>
    <!--Kode-our-speaker-strip End-->
    <!--KODE EVENT BLOG 2 START-->
    <div class="kode-blog-style-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="kode-error">
                        <h3 style="font-size: 100px;"> Transacción   Exitosa</h3>
                        <h4>En hora buena ya puede acceder a los eventos comprados</h4>
                        <p></p>
                      
                    </div>
                </div>
            </div>
        </div>	
    </div>
<!--KODE EVENT BLOG 2 START-->
</div>
{%endblock%}