{% extends "MedCongressApp/base.html"%}
{% load static %}
{%block css%}
{%endblock%}
{% block contenido %}
<section class="success d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-success"><strong>Su pago ha sido exitoso</strong></h2>
            <small class="section-subtitle text-center">Le llegará un correo con la información de su compra, además, un vínculo donde deberá acceder si desea que se le emita una factura.</small>
            </div>
        </div>
    </div>
</section>

{%endblock%}



