{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Transaccion Exitosa
{%endblock%}
{% block contenido %}
<div class="sub-header">
    <!-- SUB HEADER -->
</div>
<div class="content">
    <!--Kode-our-speaker-strip start-->
    <div class="Kode-page-heading">
        <div class="container">
            <!--ROW START-->
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <h2>Transacción Exitosa</h2>
                </div>
                <div class="col-md-6 col-sm-6">
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-angle-right"></i> Transacción Exitosa</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--ROW END-->
        </div>
    </div>
    <!--Kode-our-speaker-strip End-->
    <!--KODE EVENT BLOG 2 START-->
    <div class="kode-blog-style-2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="kode-error">
                        <h3 style="font-size: 100px;">Enhorabuena </h3>

                        <h4>"Ahora puede acceder a sus eventos comprados."</h4> <br><h6> El comprobante de pago han sido enviados al correo electrónico de su cuenta, en caso de cualquier incidente contactar a <a
                            href="mailto:soporte@medcongress.com.mx">soporte@medcongress.com.mx </a>"</h6>
                        <p></p>
                        <h5 style="margin-top: px;"><b>Detalle de la Orden </b></h5>



                        <table cellspacing="0" border="1" class="table table-responsive">
                        
                                <tr style="background-color:#d4d1d1;"> 
                                    <th style="padding: 10px;" >#</th>
                                    <th style="padding: 10px;">Evento</th>
                                    <th >Nombre</th>
                                    <th>Cat. de Pago</th>
                                    <th>Precio</th>
                                    <th >Cant.</th>
                                    <th >A pagar</th>
                                </tr>
                        
                            <tbody>
                                
                                {%for ca in car.1 %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td style="padding: 10px;">{{ca.tipo_evento}}</td>
                                    <td style="padding: 10px;">{{ca.nombre_congreso}}</td>
                                    <td style="padding: 10px;">{{ca.nombre_cat_pago}}</td>
                                    <td style="padding: 10px;">${{ca.precio}}</td>
                                    <td style="padding: 10px;">{{ca.cantidad}}</td>
                                    <td style="padding: 10px;">${{ca.pagar}}</td>
                                  
                                </tr>
                                {%endfor%}
                                <tr style="background-color: slategray;">
                                    <th scope="row" colspan="6">Total a pagar</th>
                                    <td><b> ${{car.0.cant}}</b></td>
                                    
                                        
                                </tr>
                             
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>	
    </div>
<!--KODE EVENT BLOG 2 START-->
</div>
{%endblock%}