{% extends "MedCongressApp/base.html"%}
{% load static %}
{%block css%}

    {%endblock%}
{% block titulo %}
Detalles del Perfil
{%endblock%}
{% block contenido %}
<div class="sub-header">
    <!-- SUB HEADER -->
</div>
    
<div class="Kode-page-heading">
    <div class="container">
        <!--ROW START-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2>Detalles del Perfil</h2>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i>Detalles del Perfil</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--ROW END-->
    </div>
</div>
<!--Top Heading And Breadcrumb Wrap End-->


<!--Our Speaker Wrap Start-->
<div class="kf_content">
    <div class="container">
        <div class="row">
        
            <div class="col-md-8">
                <!--Who Am I Wrap Start-->
                <div class="kf_who_am">
                    <figure>
                        {%if request.user.perfilusuario.foto%}
                        <img src="{% static '/'%}{{request.user.perfilusuario.foto}}"
                        alt="{{request.user.username}}" >
                        
                        {%else%}
                        <img src="{% static 'MedCongressApp/images/defaulthombre.png' %}"
                        alt="{{request.user.username}}" >
                        {%endif%}
                       
                    </figure>
                    
                    <div class="kf_who_am_des">
                        <div class="kf_heading_1">
                            <h5>Mi perfil <i class="fa fa-calendar"></i></h5>
                            
                        </div>
                        
                        <h4> {{request.user.first_name}} {{request.user.last_name}}<a href='' style="margin-left:10px;font-size:50%"> <br><i class="fa fa-edit"></i> Editar</a></h4>
                        
                        <table class="table table-bordered">
                            <tr>
                                <td align="center"> <b>Localidad</b> </td>
                                <td>{{request.user.perfilusuario.ubicacion}}</td>
                               
                              </tr>
                             
                              <tr>
                                <td align="center"> <b>Email</b> </td>
                                <td>{{request.user.email}}</td>
                               
                              </tr>
                              <tr>
                                <td align="center"> <b>Categoría</b> </td>
                                <td>{{request.user.perfilusuario.categoria}}</td>
                               
                              </tr>
                              {%if request.user.perfilusuario.especialidad%}
                              <tr>
                                <td align="center"> <b>Especialidad</b> </td>
                                <td>{{request.user.perfilusuario.especialidad}}</td>
                               
                              </tr>
                              {%endif%}
                              {%if request.user.perfilusuario.cel_profecional%}
                              <tr>
                                <td align="center"> <b>Cédula Profecional</b> </td>
                                <td>{{request.user.perfilusuario.cel_profecional}}</td>
                               
                              </tr>
                              {%endif%}
                          </table>
                        
                    </div>
                    
                </div>
                <!--Who Am I Wrap End-->
                <div class="row">
                    <div class="kf_experience_my">
                        <div class="kf_heading_1_my">
                            <h5>Mis Constancias</h5> 
                            {% if request.user.perfilusuario.detalle %}
                            <p>{{request.user.perfilusuario.detalle|safe}}</p>
                            {%else%}
                            <p>No tiene ninguna constancia a mostrar</p>
                            {%endif%}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="kf_experience_my">
                        <div class="kf_heading_1_my">
                            <h5>Datos de Interes</h5> 
                            {% if request.user.perfilusuario.datos_interes %}
                            <p>{{request.user.perfilusuario.datos_interes|safe}}</p>
                            {%else%}
                            <p>No tiene ningún Dato de Interes que mostrar</p>
                            {%endif%}
                        </div>
                    </div>
                </div>
                
                <!--Yearly Expercience Wrap Start-->
                <div class='row'>
                <div class='col-md-6'>
                <div class="kf_experience">
                
                    <div class="kf_heading_1">
                            <h5>Congresos Pagados</h5>
                            
                        </div>
                        
                    <div class="kf_experience_logo">
                        <i class="fa fa-briefcase"></i>
                    </div>
                    
                    <ul>
                        {%if congresos%}
                        {%for congreso in congresos%}
                        <li>
                            <div class="kf_experience_list">
                                <h6>{{congreso.congreso.titulo}}</h6>
                                <a href="#"><i class="fa fa-calendar"></i> {{congreso.congreso.fecha_inicio|date:"M"}} {{congreso.congreso.fecha_inicio|date:"d"}} / {{congreso.congreso.fecha_inicio|date:"Y"}}</a>
                                <p>{{congreso.congreso.sub_titulo}}</p>
                            </div>
                        </li>
                        {%endfor%}
                        {%else%}
                        <li>
                            <div class="kf_experience_list">
                                <h6>No tiene ningún Congreso comprado</h6>
                                
                            </div>
                        </li>
                        {%endif%}

                        
                    </ul>
                     </div>
                     </div>
                     <div class='col-md-6'>
                <div class="kf_experience">
                
                    <div class="kf_heading_1">
                            <h5>Talleres Pagados</h5>
                            
                        </div>
                        
                    <div class="kf_experience_logo">
                        <i class="fa fa-hdd-o"></i>
                    </div>
                    
                    <ul>
                        {%if talleres%}
                        {%for taller in talleres%}
                        <li>
                            <div class="kf_experience_list">
                                <h6>{{taller.taller.titulo}}</h6>
                                <a href="#"><i class="fa fa-calendar"></i> {{taller.taller.fecha_inicio|date:"M"}} {{taller.taller.fecha_inicio|date:"d"}} / {{taller.taller.fecha_inicio|date:"Y"}}</a>
                                <p> <b> CONGRESO:  {{taller.taller.congreso.titulo}}</b></p>
                                <p>{{taller.taller.detalle}}</p>
                            </div>
                        </li>
                        {%endfor%}
                        {%else%}
                        <li>
                            <div class="kf_experience_list">
                                <h6>No tiene ningún Taller comprado</h6>
                                
                            </div>
                        </li>
                        {%endif%}

                    </ul>
                     </div>
                        
                </div>
                
                 </div>
                 <div class='row'>
                    <div class='col-md-6'>
                    <div class="kf_experience">
                    
                        <div class="kf_heading_1">
                                <h5>Congresos pendientes de Pago</h5>
                                
                            </div>
                            
                        <div class="kf_experience_logo">
                            <i class="fa fa-briefcase"></i>
                        </div>
                        
                        <ul>
                            {%if congresos_pendientes%}
                            {%for congreso in congresos_pendientes%}
                            <li>
                                <div class="kf_experience_list">
                                    <h6>{{congreso.congreso.titulo}}</h6>
                                    <a href="#"><i class="fa fa-calendar"></i> {{congreso.congreso.fecha_inicio|date:"M"}} {{congreso.congreso.fecha_inicio|date:"d"}} / {{congreso.congreso.fecha_inicio|date:"Y"}}</a>
                                    <p>{{congreso.congreso.sub_titulo}}</p>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}
                            <li>
                                <div class="kf_experience_list">
                                    <h6>No tiene ningún Congreso pendiente de pago</h6>
                                    
                                </div>
                            </li>
                            {%endif%}
    
                            
                        </ul>
                         </div>
                         </div>
                         <div class='col-md-6'>
                    <div class="kf_experience">
                    
                        <div class="kf_heading_1">
                                <h5>Talleres Pendientes de Pago</h5>
                                
                            </div>
                            
                        <div class="kf_experience_logo">
                            <i class="fa fa-hdd-o"></i>
                        </div>
                        
                        <ul>
                            {%if talleres_pendientes%}
                            {%for talleres in talleres_pendientes%}
                            <li>
                                <div class="kf_experience_list">
                                    <h6>{{talleres.talleres.titulo}}</h6>
                                    <a href="#"><i class="fa fa-calendar"></i> {{talleres.talleres.fecha_inicio|date:"M"}} {{talleres.talleres.fecha_inicio|date:"d"}} / {{talleres.talleres.fecha_inicio|date:"Y"}}</a>
                                    <p> <b> CONGRESO:  {{talleres.talleres.congreso.titulo}}</b></p>
                                    <p>{{talleres.talleres.detalle}}</p>
                                </div>
                            </li>
                            {%endfor%}
                            {%else%}
                            <li>
                                <div class="kf_experience_list">
                                    <h6>No tiene ningún Taller pendiente de pago</h6>
                                    
                                </div>
                            </li>
                            {%endif%}
                        </ul>
                         </div>
                            
                    </div>
                    
                     </div>
                
              
            </div>
            
            <div class="col-md-4">
                <div class="kf_aside_folwer">
                <h6 style="text-align:center; padding:20px;border-bottom: 1px solid #e6e6e6;
background-color: #e6e6e6;"> <b> MedCongress Constacias</b></h6>
                    <ul>
                        
                        
                        <li>
                            <div class="like_fb">
                                <a class="youtube" href="#"><i class="fa fa-file-pdf-o"></i></a>
                            </div>
                            
                            <div class="like_amount">
                                <p>Constacia 1</p>
                                <span>Congreso 1</span>
                            </div>
                            
                           
                        </li>
                         <li>
                            <div class="like_fb">
                                <a class="youtube" href="#"><i class="fa fa-file-pdf-o"></i></a>
                            </div>
                            
                            <div class="like_amount">
                                <p>Constacia 2</p>
                                <span>Congreso 2</span>
                            </div>
                            
                           
                        </li>
                         <li>
                            <div class="like_fb">
                                <a class="youtube" href="#"><i class="fa fa-file-pdf-o"></i></a>
                            </div>
                            
                            <div class="like_amount">
                                <p>Constacia 3</p>
                                <span>Congreso 3</span>
                            </div>
                            
                            
                        </li>
                         
                        
                        
                    </ul>
                </div>
                <div class="kf_aside_folwer">
                <h6 style="text-align:center; padding:20px;border-bottom: 1px solid #e6e6e6;
background-color: #e6e6e6;"> <b> Mis Ponencias</b></h6>
                    <ul>
                       {%if ponencias%} 
                        {%for ponencia in ponencias%}
                        <li>

                            <div class="like_amount">
                                <p>{{ponencia.ponencia.titulo}}</p>
                                <span> <b>Congreso: </b> {{ponencia.ponencia.congreso.titulo}}</span>
                            </div>
                            
                           
                        </li>
                        {%endfor%}
                        {%else%}
                         <li>  
                            <div class="like_amount">
                                <p>No es Ponente en ninguna Ponencia</p>
                               
                            </div>   
                        </li>
                         {%endif%}
                        
                    </ul>
                </div>
               <div class="kf_aside_folwer">
                <h6 style="text-align:center; padding:20px;border-bottom: 1px solid #e6e6e6;
background-color: #e6e6e6;"> <b> Mis Talleres</b></h6>
                    <ul>
                        
                        
                        {%if talleres_pon%} 
                        {%for taller in talleres_pon%}
                        <li>

                            <div class="like_amount">
                                <p>{{taller.taller.titulo}}</p>
                                <span> <b>Congreso: </b> {{taller.taller.congreso.titulo}}</span>
                            </div>
                            
                           
                        </li>
                        {%endfor%}
                        {%else%}
                         <li>  
                            <div class="like_amount">
                                <p>No es Ponente en ningún Taller</p>
                               
                            </div>   
                        </li>
                         {%endif%}
                        
                    </ul>
                </div> 
                
                
               
                         
            </div>
            
        </div>    
    </div>
    
</div>
{%endblock%}