{% extends "MedCongressApp/perfil_base.html"%}
{% load static %}
{%block css%}

{%endblock%}
{% block titulo %}
Detalles del Perfil
{%endblock%}
{% block metadatos%}
{% if request.user.perfilusuario.meta_title%}
<meta property="title" content="{{request.user.perfilusuario.meta_title}}">
{%endif%}
{% if request.user.perfilusuario.meta_description %}
<meta name="description" content="{{request.user.perfilusuario.meta_description}}">
{%endif%}
{% if request.user.perfilusuario.meta_og_description %}
<meta property="og:description" content="{{request.user.perfilusuario.meta_og_description}}">
{%endif%}
{% if request.user.perfilusuario.meta_og_type %}
<meta property="og:type" content="{{request.user.perfilusuario.meta_og_type}}">
{%endif%}
{% if request.user.perfilusuario.meta_og_title %}
<meta property="og:title" content="{{request.user.perfilusuario.meta_og_title}}">
{%endif%}
{% if request.user.perfilusuario.meta_og_url %}
<meta property="og:url" content="{{request.user.perfilusuario.meta_og_url}}">
{%endif%}
{% if request.user.perfilusuario.meta_og_imagen %}
<meta property="og:image" content="{% static '/'%}{{request.user.perfilusuario.meta_og_imagen}}">
{%endif%}
{% if request.user.perfilusuario.meta_twitter_card %}
<meta name="twitter:card" content="{{request.user.perfilusuario.meta_twitter_card}}" />
{%endif%}
{% if request.user.perfilusuario.meta_twitter_site %}
<meta name="twitter:site" content="{{request.user.perfilusuario.meta_twitter_site}}" />
{%endif%}
{% if request.user.perfilusuario.meta_twitter_creator %}
<meta name="twitter:creator" content="{{request.user.perfilusuario.meta_twitter_creator}}" />
{%endif%}
{% if request.user.perfilusuario.meta_keywords %}
<meta name="keywords"
	content="{{request.user.perfilusuario.meta_keywords}}" />
{%endif%}

{%endblock%}


{% block contenido_perfil %}



                <div class="profile-section section-5">
                    <h3 class="section-5-title" style="margin-bottom: 20px;">MedCongress Constancias</h3>
                    
                    {% if constancias %}
                    <h4 style="margin-top: 20px;"><b>Congreso</b> </h4>
                        <div class="col-md-12">
                            {%for constancia in constancias%}
                                <span  class="nav-item"> <a class="nav-link" target="_black" href="{% if constancia.tipo_constancia%} {%static '/'%}{{constancia.foto_constancia}}{%else%}{%static '/congreso/img_constancia/'%}{{constancia.foto_constancia}}{%endif%}"> {{constancia.congreso.titulo}}</a></span>
                      
   
                        {%endfor%}
                        
                        {%endif%}
                        {% if constancias_taller %}
                    <h4  style="margin-top: 20px;"><b>Taller</b> </h4>
                        <div class="col-md-12">
                            {%for constancia in constancias_taller%}
                                <span  class="nav-item"> <a class="nav-link" target="_black" href="{% if constancia.tipo_constancia%} {%static '/'%}{{constancia.foto_constancia}}{%else%}{%static '/congreso/img_constancia/'%}{{constancia.foto_constancia}}{%endif%}"> {{constancia.taller.titulo}}</a></span>
                      
   
                        {%endfor%}
                       
                        {%endif%}
                    </div>
                </div>  
           
                {%endblock%}
