{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Congresos
{%endblock%}
{% block metadatos%}
<!-- {% if metadatos.meta_title%}
<meta property="title" content="{{metadatos.meta_title}}">
{%endif%}
{% if metadatos.meta_description %}
<meta name="description" content="{{metadatos.meta_description}}">
{%endif%}
{% if metadatos.meta_og_description %}
<meta property="og:description" content="{{metadatos.meta_og_description}}">
{%endif%}
{% if metadatos.meta_og_type %}
<meta property="og:type" content="{{metadatos.meta_og_type}}">
{%endif%}
{% if metadatos.meta_og_title %}
<meta property="og:title" content="{{metadatos.meta_og_title}}">
{%endif%}
{% if metadatos.meta_og_url %}
<meta property="og:url" content="{{metadatos.meta_og_url}}">
{%endif%}
{% if metadatos.meta_og_imagen %}
<meta property="og:image" content="{% static '/'%}{{metadatos.meta_og_imagen}}">
{%endif%}
{% if metadatos.meta_twitter_card %}
<meta name="twitter:card" content="{{metadatos.meta_twitter_card}}" />
{%endif%}
{% if metadatos.meta_twitter_site %}
<meta name="twitter:site" content="{{metadatos.meta_twitter_site}}" />
{%endif%}
{% if metadatos.meta_twitter_creator %}
<meta name="twitter:creator" content="{{metadatos.meta_twitter_creator}}" />
{%endif%}
{% if metadatos.meta_keywords %}
<meta name="keywords"
	content="{{metadatos.meta_keywords}}" />
{%endif%} -->

{%endblock%}
{% block contenido %}

<section class="congresos-banner">
    <div id="carouselBannerCongresos" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'assets/img/carusel-congresos/banner-01.png'%}" class="img-fluid w-100">
            </div>
            <div class="carousel-item">
                <img src="{% static 'assets/img/carusel-congresos/banner-02.png'%}" class="img-fluid w-100">
            </div>
        </div>
    </div>
</section>
<section class="congresos-section-1">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <h1 class="page-title"><span style="color: #40C8F4;">Ponencias de la Sala </span><b> {{sala.titulo}} </b> </h1>
               
                <div class="decorator"></div>
            </div>
           <div class="col md-4 nav-congreso-salas">
               <nav class="navbar navbar-expand-lg ">
                <div class="container-fluid">
                  
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Salas del Congreso
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 400px;">
                            {%for sal in all_salas%}
                          <li><a class="dropdown-item" href="{% url 'View_ponencias_sala' path=sal.path%}">{{sal.titulo}}</a></li>
                          {%endfor%}
                          
                        </ul>
                      </li>
                     
                    </ul>
                    
                  </div>
                </div>
              </nav>
           </div>
            
     
        </div>
    </div>
</section>
{%if ponencias %}
<section class="congresos-congress-list">
    <div class="container-fluid">
        {% for ponencia in ponencias %}
        {% if forloop.first %}
        <div class="row">
            {%endif%}
            <div class="col-md-4 congress d-flex flex-column">
                <a href="{% url 'View_ponencia' ponencia.path %}"><img src="{% static '/'%}{{ponencia.imagen}}" class="img-fluid mb-2"></a>
                <a href="{% url 'View_ponencia' ponencia.path %}"><h3 class="name mb-3">{{congreso.titulo }}</h3></a>
                <span class="date mb-1">{{ponencia.fecha_inicio|date:"M d / Y"}}</span>
               
                <a href="{% url 'View_ponencia' ponencia.path %}">Ver Ponencia</a>
            </div>
            {%if forloop.counter|divisibleby:3 %}
        </div>
        <div class='row'>
            {%endif%}
            {%if forloop.last%}
        </div>
        {% endif %}
            {% endfor %}
    </div>
</section>
{%endif%}

{% endblock%}