{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Información
{%endblock%}
{% block contenido %}

<div class="kode-event-time" >
    <div class="kode-event-contact" style=" background:url({% static 'MedCongressApp/images/slide11.png'%}) no-repeat 50%  0;background-attachment: fixed; ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="kf_heading_3" style="margin-top: 70px;">
                        <h2>Su Registro ha sido Exitoso</h2>
                        <h2>Revise su Correo </h2>
                        <span>Le llegará un correo con un Vínculo donde deberá acceder para activar su cuenta.</span>
                       
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>


{% endblock%}


