{% extends "MedCongressApp/base.html"%}
{% load static %}
{%block css%}
{%endblock%}
{% block contenido %}
<section class="success d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-success"><strong>Su registro ha sido exitoso</strong></h2>
            <h2 class="section-title text-success"><strong>Revise su correo</strong></h2>
            
            <small class="section-subtitle text-center">Le llegará un correo con un vínculo donde deberá acceder para activar su cuenta.</span>
            </small>
            </div>
        </div>
    </div>
</section>

{%endblock%}