{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Registrarse
{%endblock%}

{%block css%}
<style>
    #geomap{
    width: 100%;
    height: 400px;
}
</style>

{%endblock%}
{% block contenido %}

<div class="kode-event-time">
    <div class="kode-event-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="kf_heading_3" style="margin-top: 70px;">
                        <h2>Únete a MedCongress</h2>
                        <span>Tenga acceso a todos nuestros Congresos</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <form class="contactusform" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.user.first_name.id_for_label }}"><b>{{form.user.first_name.label }}</b>{% if form.user.first_name.errors %} <span style="font-size: 15px; color: red;">{{ form.user.first_name.errors }}  </span>{% endif %} </label>
                                    
                                    {{form.user.first_name }} {{form.user.first_name.help_text }}
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.user.last_name.id_for_label }}"><b>{{form.user.last_name.label }}</b>{% if form.user.last_name.errors %} <span style="font-size: 15px; color: red;">{{ form.user.last_name.errors }}  </span>{% endif %} </label>
                                   
                                    {{form.user.last_name }}
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.user.username.id_for_label }}"><b>{{form.user.username.label }} </b> {% if form.user.username.errors %} <span style="font-size: 15px; color: red;">{{ form.user.username.errors }}  </span>{% endif %} </label>
                                    
                                    {{form.user.username }}
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.user.password.id_for_label }}"><b>{{form.user.password.label }}</b>{% if form.user.password.errors %} <span style="font-size: 15px; color: red;">{{ form.user.password.errors }}  </span>{% endif %} </label>
                                    
                                    {{form.user.password }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.user.password1.id_for_label }}"><b>{{form.user.password1.label }}</b> {% if form.user.password1.errors %} <span style="font-size: 15px; color: red;">{{ form.user.password1.errors }}  </span>{% endif %}  </label>
                                       
                                    {{form.user.password1 }} 
                                   
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.user.email.id_for_label }}"><b>{{form.user.email.label }}</b>{% if form.user.email.errors %} <span style="font-size: 15px; color: red;">{{ form.user.email.errors }}  </span>{% endif %} </label>
                                   
                                    {{form.user.email }}
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.perfiluser.cel_profecional.id_for_label }}"><b>{{form.perfiluser.cel_profecional.label }}</b>{% if form.perfiluser.cel_profecional.errors %} <span style="font-size: 15px; color: red;">{{ form.perfiluser.cel_profecional.errors }}  </span>{% endif %}</label>
                                   
                                    {{form.perfiluser.cel_profecional }}
                                </div>
                            </div>
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.perfiluser.genero.id_for_label }}"><b>{{form.perfiluser.genero.label }}</b>{% if form.perfiluser.genero.errors %} <span style="font-size: 15px; color: red;">{{ form.perfiluser.genero.errors }}  </span>{% endif %}</label>
                                    {{form.perfiluser.genero }}
                                </div>
                            </div>
                            
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-sm-3 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.perfiluser.categoria.id_for_label }}"><b>{{form.perfiluser.categoria.label }}</b>{% if form.perfiluser.categoria.errors %} <span style="font-size: 15px; color: red;">{{ form.perfiluser.categoria.errors }}  </span>{% endif %}</label>
                                  
                                    {{form.perfiluser.categoria }}
                                </div>
                            </div>
                            
                            <div class="col-sm-3 " id="esp_div">
                                <div class="form-group">
                                    <label
                                        for="{{form.perfiluser.especialidad.id_for_label }}"><b>{{form.perfiluser.especialidad.label }}</b>{% if form.perfiluser.especialidad.errors %} <span style="font-size: 15px; color: red;">{{ form.perfiluser.especialidad.errors }}  </span>{% endif %}</label>
                                    {{form.perfiluser.especialidad }}
                                </div>
                            </div>
                            <div class="col-sm-5 ">
                                <div class="form-group">
                                    <label
                                        for="{{form.ubicacion.direccion.id_for_label }}"><b>{{form.ubicacion.direccion.label }}</b> {% if form.ubicacion.direccion.errors %} <span style="font-size: 15px; color: red;">{{ form.ubicacion.direccion.errors }}  </span>{% endif %} </label>
                                    
                                    {{form.ubicacion.direccion }}
                                </div>
                            </div>
                            <div class="col-ms-1">
                                <div class="form-group">
                                    <label style="display: none;" class="mapa">Ocul. Mapa</label>
                                    <label  class="mapa">Ver Mapa</label>  
                                    <a onclick="VerMapa()" type="link"  style="display: block;">  <i class="glyphicon glyphicon-map-marker" style="font-size: 43px;"></i> </a>
                                    
                                   
                                </div>
                               
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6 ">

                                <label
                                    for="{{form.perfiluser.is_ponente.id_for_label }}"><b>{{form.perfiluser.is_ponente.label }}</b><{% if form.perfiluser.is_panel.errors %} <span style="font-size: 15px; color: red;">{{ form.perfiluser.is_panel.errors }}  </span>{% endif %}/label>
                                {{form.perfiluser.is_ponente }}

                            </div>
                            <div class="col-sm-6 geomap" style="display: none;">
                                <div id="geomap"> </div>
                            </div>
                        </div>
                        <div class="row">
                            
                           
                            <div class="col-sm-3 " >
                                <div class="form-group" style="display: none;">
                                    <label
                                        for="{{form.ubicacion.longitud.id_for_label }}"><b>{{form.ubicacion.longitud.label }}</b>{% if form.ubicacion.longitud.errors %} <span style="font-size: 15px; color: red;">{{ form.ubicacion.longitud.errors }}  </span>{% endif %}</label>
                            
                                    {{form.ubicacion.longitud }}
                                </div>
                            </div>
                            <div class="col-sm-3 " style="display: none;">
                                <div class="form-group">
                                    <label
                                        for="{{form.ubicacion.latitud.id_for_label }}"><b>{{form.ubicacion.latitud.label }}</b>{% if form.ubicacion.latitud.errors %} <span style="font-size: 15px; color: red;">{{ form.ubicacion.latitud.errors }}  </span>{% endif %} </label>
                                   
                                    {{form.ubicacion.latitud }}
                                </div>
                            </div>
                            
                           
                            
                        </div>

                        <div class="row">

                            <div class="col-lg-2 col-md-2col-sm-2 col-xs-12">  <input type="submit" value="Enviar" /></div>
                        </div>
                          
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock%}

{%block script%}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>
<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script>

var geocoder;
var map;
var marker;


function initialize() {
    var initialLat = $('#id_ubicacion-latitud').val();
    var initialLong = $('#id_ubicacion-longitud').val();
    initialLat = initialLat?initialLat:0;
    initialLong = initialLong?initialLong:0;

    var latlng = new google.maps.LatLng(initialLat, initialLong);
    var options = {
        zoom: 11,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    map = new google.maps.Map(document.getElementById("geomap"), options);

    geocoder = new google.maps.Geocoder();

    marker = new google.maps.Marker({
        map: map,
        draggable: true,
        position: latlng
    });

    google.maps.event.addListener(marker, "dragend", function () {
        var point = marker.getPosition();
        map.panTo(point);
        geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                marker.setPosition(results[0].geometry.location);
                $('#id_ubicacion-direccion').val(results[0].formatted_address);
                $('#id_ubicacion-latitud').val(marker.getPosition().lat());
                $('#id_ubicacion-longitud').val(marker.getPosition().lng());
            }
        });
    });

}


    $(document).ready(function () {
        $('#id_ubicacion-direccion').keypress(function(){
                $('#id_ubicacion-latitud').val('');
                $('#id_ubicacion-longitud').val('');

        });
                
        $("#esp_div").hide();
        if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

            $("#esp_div").show();
            $("#id_perfiluser-especialidad").attr('required','True')

        }
        else{
             $("#esp_div").hide();
             $("#id_perfiluser-especialidad").removeAttr('required')
        }
           

        $('#id_perfiluser-categoria').change(function () {

            if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

                $("#esp_div").show();
                $("#id_perfiluser-especialidad").attr('required','True')
            }
            else {
                $("#esp_div").val('')
                $("#esp_div").hide();
                $("#id_perfiluser-especialidad").removeAttr('required')

            }

        });



//load google map
initialize();
    
    /*
     * autocomplete location search
     */
    var PostCodeid = '#id_ubicacion-direccion';
    $(function () {
        $(PostCodeid).autocomplete({
            source: function (request, response) {
                geocoder.geocode({
                    'address': request.term
                }, function (results, status) {
                    response($.map(results, function (item) {
                       console.log(item);
                        return {
                            label: item.formatted_address,
                            value: item.formatted_address,
                            lat: item.geometry.location.lat(),
                            lon: item.geometry.location.lng(),
                         
                        };
                    }));
                });
            },
            select: function (event, ui) {
                
              
                $('#id_ubicacion-direccion').val(ui.item.value);
               
                $('#id_ubicacion-latitud').val(ui.item.lat);
                $('#id_ubicacion-longitud').val(ui.item.lon);
              
                var latlng = new google.maps.LatLng(ui.item.lat, ui.item.lon);
                marker.setPosition(latlng);
                initialize();
            }
        });
    });
    
    /*
     * Point location on google map
     */
    // $('#get_map').click(function (e) {
       
    //     var address = $(PostCodeid).val();
    //     geocoder.geocode({'address': address}, function (results, status) {
    //         if (status == google.maps.GeocoderStatus.OK) {
    //             map.setCenter(results[0].geometry.location);
    //             marker.setPosition(results[0].geometry.location);
    //             $('#id_ubicacion-direccion').val(results[0].formatted_address);
    //             $('#id_ubicacion-latitud').val(marker.getPosition().lat());
    //             $('#id_ubicacion-longitud').val(marker.getPosition().lng());
    //         } else {
    //             alert("Geocode was not successful for the following reason: " + status);
    //         }
    //     });
    //     e.preventDefault();
    // });

    //Add listener to marker for reverse geocoding

//     google.maps.event.addListener( map, "click", function(ele) {
//     // codigo que crea el marcador
//     new google.maps.Marker({
//         map: map
//     })
// });


    // google.maps.event.addListener(map, 'click', function (event) {

    //     marker = new google.maps.Marker({
    //     map: map,
    //     draggable: true,
    //     position: event.latLng
    // });

    //     geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
    //         if (status == google.maps.GeocoderStatus.OK) {
    //             if (results[0]) {
    //                 $('#id_ubicacion-direccion').val(results[0].formatted_address);
    //                 $('#id_ubicacion-latitud').val(marker.getPosition().lat());
    //                 $('#id_ubicacion-longitud').val(marker.getPosition().lng());
    //             }
    //         }
    //     });
    // });






    });

function VerMapa(){
    
   $('.geomap').slideToggle();
   $('.mapa').slideToggle(1);
}

</script>
{%endblock%}