{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Login
{%endblock%}
{% block css %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<style>
	#geomap {
		width: 100%;
		height: 400px;
	}

</style>
{%endblock%}
{% block contenido %}
<div class="congreso-modal profile-modal modal fade" id="profileModal" tabindex="-2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                  <div class="row mb-3">
                      <div class="col">
                          <h5 class="title">Dirección</h5>
                      </div>
                  </div>
  
                  <div class="row">
                    <div id="geomap"></div>
                  </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                      <button type="button" class="cta close-btn" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<section class="login-register">
    
    <div class="container-fluid content">
        <div class="row">
            <div class="offset-md-4 col-md-8">
                <div class="login-form-wrapper">
                    <h2 class="login-title"><strong>Únete a MED Congress</strong></h2>
                    <span>Y ten acceso a todos nuestros Congresos</span>
                    <p style="color: red;"> <b>Escriba su nombre correctamente, ya que así aparecerá en su constancia </b> </p>
                    {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        
                            <div class="alert alert-danger alert-dismissible mb-2" role="alert">
                              
                                {{ error|safe|escape }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger alert-dismissible mb-2" role="alert">
                       
                        {{ error|safe|escape }}
                    </div>
                    {% endfor %}
                {% endif %}
                <form class="contactusform" action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col">
                                {{form.user.first_name }}
                            </div>
                            <div class="col">
                                {{form.user.last_name }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                <input type="email" name="user-email" maxlength="254" class="form-control" placeholder="Correo" id="id_user-email" {%if email%} value="{{email}}"{%endif%}>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                {{form.user.password }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col">
                                {{form.user.password1 }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col" >
                                {{form.perfiluser.puesto }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-9">
                                <div class="col" >
                                    {{form.ubicacion.direccion }}
                                </div>
                            </div>
                            <!-- <div class="col-md-3">
                                <div class="form-group">

                                   
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="name" >Buscar en Mapa</a>
                                   

                                </div>

                            </div> -->
                        </div>
                        <div class="row mt-3" style="display: none;">
                            <div class="col" >
                                {{form.ubicacion.latitud }}
                            </div>
                        </div>
                        <div class="row mt-3" style="display: none;">
                            <div class="col" >
                                {{form.ubicacion.longitud }}
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-4">
                                <select name="perfiluser-categoria" class="form-select" placeholder="Categoría" id="id_perfiluser-categoria">
                                    <option value="">---------</option>
                                  {%for categoria in categorias%}
                                  <option value="{{categoria.id}}">{{categoria.nombre}}</option>
                                  {%endfor%}
                                  </select>
                            </div>
                            <div class="col-md-4 mt-md-0 mt-3" id="new_cat">
                              
                                {{form.categoria.nombre}}
                            </div>
                            <div class="col-md-4 mt-md-0 mt-3" id="esp_div" >
                                {{form.perfiluser.especialidad }}
                              
                            </div>
                            <div class="col-md-4 mt-md-0 mt-3" id="cel_prof">
                                {{form.perfiluser.cel_profecional }}
                            </div>
                            
                        </div>
                      
                        <div class="row mt-3">
                            <div class="col">
                                <div class="form-check d-flex align-items-center ps-0">
                                    <input class="form-check-input me-2" type="checkbox" value="" id="pol">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Aceptar Politicas de Privacidad
                                    </label>
                                </div>
                            </div>
                        </div>
                       
                        <div class="row">
                            <div class="col">
                                <div id="responseSending" class="d-none sending-indicator">
                                Enviando ...
                                </div>
                                <div id="responseInvalid" class="invalid-feedback d-none">
                                    Parece que hubo un problema, intente más tarde, si el problema persiste contacte con el administrador.
                                </div>
                                <div id="responseValid" class="valid-feedback d-none">
                                    Gracias. Su mensaje ha sido enviado exitosamente.
                                </div>
                                <div class="col d-flex justify-content-end">
                                    <button type="submit" id="submit" disabled class="border-0">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p>Ver <a href="{%url 'aviso_privacidad'%}" target="_black">Política de Privacidad y Condiciones</a> del servicio de MED Congress.</p>
                </div>

                <img src="{% static 'assets/img/iconos/logo.png'%}" class="img-fluid logobrand">
            </div>
        </div>
    </div>
</section>
{% endblock%}
{%block script%}
<script src="{% static 'MedCongressApp/js/lugar.js'%}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf3QdCwg8QDNOS3A2vSQ3DqW2mpJ_gSY8"></script>

<link rel="stylesheet" href="{% static 'MedCongressApp/css/jquery-ui.min.css'%}">
<script src="{% static 'MedCongressApp/js/plugins/jquery-ui/jquery-ui.min.js'%}"></script>
<script>

$(document).ready(function () {
    FiltrarLugar('#id_ubicacion-direccion', '#id_ubicacion-longitud', '#id_ubicacion-latitud');
    $('#id_ubicacion-direccion').keypress(function () {
        $('#id_ubicacion-latitud').val('');
        $('#id_ubicacion-longitud').val('');

    });
 

    $("#esp_div").hide();
    $("#cel_prof").hide();
    $("#new_cat").hide();

    if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

        $("#esp_div").show();
        $("#cel_prof").show();

        $("#id_perfiluser-especialidad").attr('required', 'True');
        $("#id_perfiluser-cel_profecional").attr('required', 'True');


    }
    else {
        $("#esp_div").hide();
        $("#cel_prof").hide();
        $("#id_perfiluser-especialidad").val('');
        $("#id_perfiluser-cel_profecional").val('');
        $("#id_perfiluser-especialidad").removeAttr('required')
        $("#id_perfiluser-cel_profecional").removeAttr('required')

    }
    if ($('#id_perfiluser-categoria option:selected').text() == 'Otra') {
        $("#new_cat").show();
        $("#id_categoria-nombre").attr('required', 'True');

    }
    else {
        $("#new_cat").hide();
        $("#id_categoria-nombre").val('')
        $("#id_categoria-nombre").removeAttr('required');
    }


    $('#id_perfiluser-categoria').change(function () {
        if ($('#id_perfiluser-categoria option:selected').text() == 'Médico' || $('#id_perfiluser-categoria option:selected').text() == 'Residente') {

            $("#esp_div").show();
            $("#cel_prof").show();
            $("#id_perfiluser-especialidad").attr('required', 'True')
            $("#id_perfiluser-cel_profecional").attr('required', 'True')
        }
        else {
            $("#id_perfiluser-especialidad").val('');
            $("#id_perfiluser-cel_profecional").val('');
            $("#esp_div").hide();
            $("#cel_prof").hide();
            $("#id_perfiluser-especialidad").removeAttr('required')
            $("#id_perfiluser-cel_profecional").removeAttr('required')

        }
        if ($('#id_perfiluser-categoria option:selected').text() == 'Otra') {
            $("#new_cat").show();
            $("#id_categoria-nombre").attr('required', 'True')

        }
        else {
            $("#new_cat").hide();
            $("#id_categoria-nombre").val('')
            $("#id_categoria-nombre").removeAttr('required')
        }

    });

    $('#pol').change(function () {
        if ($('#pol').prop('checked')) {
            $("#submit").removeAttr('disabled')
        }
        else {
            $("#submit").attr('disabled', 'disabled')
        }

    });


    /*
     * Point location on google map
     */
    // $('#get_map').click(function (e) {

    //     var address = $(PostCodeid).val();
    //     geocoder.geocode({'address': address}, function (results, status) {
    //         if (status == google.maps.GeocoderStatus.OK) {
    //             map.setCenter(results[0].geometry.location);
    //             marker.setPosition(results[0].geometry.location);
    //             $('#id_ubicacion-direccion').val(results[0].formatted_address);
    //             $('#id_ubicacion-latitud').val(marker.getPosition().lat());
    //             $('#id_ubicacion-longitud').val(marker.getPosition().lng());
    //         } else {
    //             alert("Geocode was not successful for the following reason: " + status);
    //         }
    //     });
    //     e.preventDefault();
    // });

    //Add listener to marker for reverse geocoding

    //     google.maps.event.addListener( map, "click", function(ele) {
    //     // codigo que crea el marcador
    //     new google.maps.Marker({
    //         map: map
    //     })
    // });


    // google.maps.event.addListener(map, 'click', function (event) {

    //     marker = new google.maps.Marker({
    //     map: map,
    //     draggable: true,
    //     position: event.latLng
    // });

    //     geocoder.geocode({'latLng': marker.getPosition()}, function (results, status) {
    //         if (status == google.maps.GeocoderStatus.OK) {
    //             if (results[0]) {
    //                 $('#id_ubicacion-direccion').val(results[0].formatted_address);
    //                 $('#id_ubicacion-latitud').val(marker.getPosition().lat());
    //                 $('#id_ubicacion-longitud').val(marker.getPosition().lng());
    //             }
    //         }
    //     });
    // });






});



</script>
{%endblock%}