{% extends "MedCongressApp/base.html"%}
{% load static %}
{% load filtros %}
{% block titulo %}
{{sala.titulo}}
{%endblock%}
{% block metadatos%}
{% if sala.meta_title%}
<meta property="title" content="{{sala.meta_title}}">
{%endif%}
{% if sala.meta_description %}
<meta name="description" content="{{sala.meta_description}}">
{%endif%}
{% if sala.meta_og_description %}
<meta property="og:description" content="{{sala.meta_og_description}}">
{%endif%}
{% if sala.meta_og_type %}
<meta property="og:type" content="{{sala.meta_og_type}}">
{%endif%}
{% if sala.meta_og_title %}
<meta property="og:title" content="{{sala.meta_og_title}}">
{%endif%}
{% if sala.meta_og_url %}
<meta property="og:url" content="{{sala.meta_og_url}}">
{%endif%}
{% if sala.meta_og_imagen %}
<meta property="og:image" content="{% static '/'%}{{sala.meta_og_imagen}}">
{%endif%}
{% if sala.meta_twitter_card %}
<meta name="twitter:card" content="{{sala.meta_twitter_card}}" />
{%endif%}
{% if sala.meta_twitter_site %}
<meta name="twitter:site" content="{{sala.meta_twitter_site}}" />
{%endif%}
{% if sala.meta_twitter_creator %}
<meta name="twitter:creator" content="{{sala.meta_twitter_creator}}" />
{%endif%}
{% if sala.meta_keywords %}
<meta name="keywords"
	content="{{sala.meta_keywords}}" />
{%endif%}

{%endblock%}
{%block css%}
<link rel="stylesheet" href="{% static 'MedCongressApp/css/bootstrap-rating.css'%}" type="text/css" media="all">
<style>
	.simply-section {
		color: #e5e5e7 !important;
		background-color: #39393a60 !important;

	}

	.glyphicon {
		color: #40C8F4;
		font-size: 26px;

    }
    .date,
    .day{
        text-shadow: 2px 0px #bdc3c7
    }

	.glyphicon-star-empty {
		color: rgb(85, 84, 84);
    }
    .congreso-calendario .list-group-item.active, .congreso-calendario .list-group-item:hover {
    border: 0;
    background-color: {{sala.color}};
    }
    .congreso-calendario .list-group-item .arrow-down {
        border-top: 15px solid{{sala.color}};
    }
</style>
{%endblock%}
{% block contenido %}

{%if sala.cod_video %}
  <section class="congreso-ponencias pb-5" style="margin-top: 111px; z-index: 99">
    <div class="container-fluid">
      
        <div class="row mb-3">                       
            <div class="col-md-8 " style="z-index: 99; text-align: center;">
                <div class="ponencia">
                    {%if pagado %}
                    <div class="embed-responsive embed-responsive-16by9">
                        {{sala.cod_video|safe }}
                   
                   </div>
                   {%else%}
                   
                   <div class="embed-responsive embed-responsive-16by9">
                        <img src="{% static '/'%}{{sala.imagen}}"  class="img-fluid w-100" > 
               
                    </div>
                    {% if user.is_authenticated %}
                   <h6 class="title" style="color:{{sala.color}}">Debe comprar el congreso para visualizar este streaming </h6> 
                   {%else%}
                   <h6 class="title" style="color:{{sala.color}}">Debe autenticarse para visualizar este streaming    <a href="{% url 'login' %}" class="back align-self-end mt-md-5 mt-2"> Login</a></h6> 
                   {%endif%}
                    {%endif%}
                </div>
            </div>
            <div class="col-md-3 salas-streamig salas-streamig-2">
                <div class="ponencia" style="background-color: #e7ecf0;">
                    <div class="col" style="
                    text-align: center;
                    font-family: 'DINPro-Regular_13937';
                   
                "> <h3> <strong>Salas Streaming</strong> </h3></div>
                    <div class="embed-responsive embed-responsive-16by9">
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            {% for sala in all_sala %}
                            
                           
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="{{sala.sala.pk}}">
                                <h2 class="accordion-button collapsed title-accordion-sala " style="color: {{sala.sala.color}};"  data-bs-toggle="collapse" data-bs-target="#flush-{{sala.sala.pk}}" aria-expanded="false" aria-controls="flush-{{sala.sala.pk}}">
                                  <strong>{{sala.sala.titulo}}</strong>
                                </h2>
                              </h2>
                              <div id="flush-{{sala.sala.pk}}" class="accordion-collapse collapse " aria-labelledby="{{sala.sala.pk}}" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body" style="font-family: 'DINPro-Regular_13937';color: #4a5966;"> <strong>{{sala.ponencia.titulo}}</strong></div>
                                <div class="accordion-body">
                                    <div class="row salas-stremaing">
                                        <div class="col btn-sala " style="padding: 17px;" >
                                            <a href="{% url 'View_sala' sala.sala.path %}"   class="cta-new programa ">  VER SALA  <i class="fa fa-eye" style="margin-left: 10px;"></i> </a>
                                        </div>  
                                        <div class="col-auto">
                                           
                                          </div>  
                                        <div class=" col col-lg-2">
                                            <img class="icon" src="{% static '/assets/img/iconos/ponente-black.png'%}">
                                        </div>
                                        
                                    </div>
                                </div>
                              </div>
                            </div>
                            
                            {%endfor%}
                          </div>
                   </div>
                </div>
            </div>
          
        </div>
         
    </div>

               
</section>
{%else%} 
<div class="congreso-ponencias pb-5" style="margin-top: 111px; z-index: 99">

</div> 
{%endif%}



<div class="section sala">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-title mb-4" style="color: {{sala.color}};"> <strong>{{sala.titulo|upper}}</strong></h2>
                
            </div>
            <div class="col-md-3">
                <div class="icon" style="text-align: center;"><img src="{% static '/assets/img/iconos/sala.png'%}"></div>  
            </div>
            <div class=" col-md-3 d-flex flex-column justify-content-between align-items-end">
                <div class="ctas-wrapper d-flex flex-md-row flex-column justify-content-md-end mx-md-0 mx-auto">
                  
                    <a href="{% url 'View_congreso' sala.congreso.path %}"  class="cta programa me-md-3 me-0 mt-md-0 mt-3">REGRESAR</a>
                   
                </div>
            </div>
        </div>
        
        <div class="row" >
            <h1 class="section-subtitle"><strong>{{ponencia_sala.titulo|upper}}</strong></h1>
        </div>
    </div>


    <section class="programa-sala">
        <div class="container-fluid">
            <div class="row ponentes" >
                <h2 class="section-title mb-4" > PROGRAMA: <span style="color:{{sala.color}}">{{sala.titulo|upper}}</span></h2>
                
            </div>
        </div>

    </section>
    
</div>



{% if fecha_ponencias %}
<section class="congreso-calendario">
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="margin-top: 70px;">
                <!-- <img src="{% static '/'%}{{sala.imagen_seg}}" class="img-fluid"> -->
            </div>
        </div>
        {%   for fecha_ponencia in fecha_ponencias %}
        {% if forloop.first %}
        <div class="row">
            <div class="col"> 
                <div class="list-group list-group-horizontal"  role="tablist">
                {%endif%}
        
                    <a class="list-group-item list-group-item-action {%if forloop.first%} active {%endif%}d-flex flex-column justify-content-center align-items-center" data-bs-toggle="list" href="#day-{{forloop.counter}}" role="tab">
                        <h4 class="day">Día {{forloop.counter}}</h4>
                        <span class="date"> {{fecha_ponencia|date:"M d / Y"}}</span>
                        <div class="arrow-down"></div>
                    </a>
                
                {%if forloop.counter|divisibleby:8 %}
            </div>
            </div>
        </div>
        <div class='row'>
            <div class="col">
                <div class="list-group list-group-horizontal"  role="tablist">
            {%endif%}
            {%if forloop.last%}
        </div>
        {% endif %}
            {% endfor %}
                
        
        <div class="row">
            <div class="col tab-pane-wrapper py-5"> 
                {% for ponencia in ponencias%}
                <div class="tab-pane fade  {%if forloop.first%} show active {%endif%}" id="day-{{forloop.counter}}" role="tabpanel">
                    {% for pon in ponencia%}
                    {%if pon.tipo == 'Bloque'%}
                    <div class="row">
                        <div class="col-md-2 d-none d-md-flex justify-content-center">
                            <span class="time">{{pon.fecha_inicio|date:"H:i"}}</span>
                        </div>
                        <div class="col-md-1 d-none d-md-flex justify-content-center">
                            <div class="time-line">
                                <div class="circle"></div>
                                <div class="line mx-auto"></div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="event">
                                <div class="accordion main-event" id="accordion-{{forloop.counter}}">
                                    <div class="accordion-item mb-5">
                                        <small class="hour d-md-none">{{pon.fecha_inicio|date:"H:i"}}</small>
                                        <h2 class="accordion-header" id="heading-{{forloop.counter}}">
                                        <h3 class="accordion-button accordion-button-h2 collapsed pt-0 " type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}">
                                             {{pon.titulo}}
                                        </h3>
                                        </h2>
                                        <div id="collapse-{{forloop.counter}}" class="accordion-collapse collapse show" aria-labelledby="heading-{{forloop.counter}}" data-bs-parent="#accordion-{{forloop.counter}}">
                                        <div class="accordion-body">
                                            
                                            <div class="ponencias">
                                                <div class="row gx-5">
                                                    {%for mod in pon.moderador %}
                                                    <div class="col-md-6 ponencia mt-md-0 mt-5">
                                                        <div class="header">
                                                            <div class="row">
                                                                
                                                                <div class="col-3 d-flex align-items-center">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="name" onclick="VerPerfil('{{mod.user.id}}')">
                                                                        <img src="{% if mod.user.foto%}{% static '/'%}{{mod.user.foto}}{%else%}{% static 'assets/img/congresos/avatar-ponencia.png'%}{%endif%} " class="img-fluida img-fluid" width="100px">
                                                                    </a>
                                                                </div>
                                                                
                                                                <div class="mt-md-0 mt-2 col-9 d-flex flex-column justify-content-center">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="name" onclick="VerPerfil('{{mod.user.id}}')"><h4 class="name"><strong>{{mod.user.usuario.first_name}}{%if mod.user.usuario.first_name|length > 20 or mod.user.usuario.last_name|length > 20 %}
                                                                        <br>{%endif%}
                                                                        {{mod.user.usuario.last_name}}</strong></h4> </a>
                                                                    <h5 class="cat">MODERADOR</h5>
                                                                </div>
                                                               
                                                            </div>
                                                        </div>
                                                        <p class="bio mt-3"> {%if mod.user.puesto %}
                                                            {{mod.user.puesto}}
                                                            {%endif%}</p>
                                                       
                                                    </div>
                                                    {%endfor%}
                                                    {%if pon.cod_video%}
                                                    <a href="{% url 'BloqueVideo' path=pon.path%}" class="more d-block "><strong>Ver Preguntas y respuestas</strong></a>
                                                    {%endif%}
                                                    <div class="row" >
                                                        {%for evento in pon.eventos %}
                                                        <div class="col-md-6  mt-md-0" style="padding-top: 10px;" >
                                                                
                                                            <h4 class="ponencia-name ponencia pt-3"><strong><span style="color: #909094;">{{evento.fecha_inicio|date:"H:i"}}</span>  {{evento.titulo}}</strong></h4>
                                                            <span class="detalle d-block "><small>  {{evento.detalle}}</small></span>
                                                          
                                                            <div class="row">
                                                                {%for ponente in evento.ponentes %}
                                                                <div class="col-12 ponencia mt-md-0 mt-5"  >
                                                                    <div class="header">
                                                                        <div class="row" >
                                                                            <div class="col-3">
                                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="name" onclick="VerPerfil('{{mod.user.id}}')">
                                                                                <div class="align-items-center">
                                                                                    <img src=" {% if ponente.user.foto%}{% static '/'%}{{ponente.user.foto}}{%else%}{% static 'assets/img/congresos/avatar-ponencia.png'%}{%endif%}" class="img-fluida img-fluid" >
                                                                                </div>
                                                                                </a>
                                                                            </div>
                                                                            <div class="mt-md-0 mt-2 col-9 d-flex flex-column justify-content-center">
                                                                                <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="name" onclick="VerPerfil('{{ponente.user.id}}')"><h4 class="name"><strong>{{ponente.user.usuario.first_name}}
                                                                                    {{ponente.user.usuario.last_name}}</strong></h4></a>
                                                                                <h5 class="cat">PONENTE</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <p class="bio mt-3">{%if ponente.user.puesto %}
                                                                    {{ponente.user.puesto}}
                                                                    {%endif%}</p>
                                                            
                                                                </div>
                                                                {%endfor%}
                                                            </div>
                                                            {% if evento.ver_ponencia %} 
                                                            <div class="row"> 
                                                                
                                                                 
                                                                 <div class="col-md-12 ponencia   mt-md-0" style="text-align: center;" > 
                                                                     
                                                                     {%if evento.tipo == 'Taller'%}
                                                                    
                                                                     <a href="{% url 'View_taller' path=evento.path%}" class="more d-block "><strong> Ver Taller</strong></a>
             
                                                                     {%else%}
                                                                     <a href="{% url 'View_ponencia' path=evento.path%}" class="more d-block "><strong>Ver Ponencia</strong></a>
                                                                     {%endif%}
                                                             
                                                                 </div>
                                                                
                                                             </div> 
                                                             {%endif%}
                                                        </div>
                                                   
                                                        {%endfor%}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%else%}
                    <div class="row">
                        <div class="col-md-2 d-none d-md-flex justify-content-center">
                            <span class="time">{{pon.fecha_inicio|date:"H:i"}}</span>
                        </div>
                        <div class="col-md-1 d-none d-md-flex justify-content-center">
                            <div class="time-line">
                                <div class="circle"></div>
                                <div class="line mx-auto"></div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="event">
                                <div class="accordion main-event" id="accordion-{{forloop.counter}}-{{forloop.parentloop.counter}}">
                                    <div class="accordion-item mb-5">
                                        <small class="hour d-md-none">{{pon.fecha_inicio|date:"H:i"}}</small>
                                        <h2 class="accordion-header" id="heading-{{forloop.counter}}-{{forloop.parentloop.counter}}">
                                            <h3 class="accordion-button accordion-button-h2 collapsed pt-0"  data-bs-toggle="collapse" data-bs-target="#collapse-{{forloop.counter}}-{{forloop.parentloop.counter}}" aria-expanded="true" aria-controls="collapse-{{forloop.counter}}-{{forloop.parentloop.counter}}">
                                              
                                                <div>{{pon.titulo}}</div> </span>  
                                            </h3>
                                        </h2>
                                        <div id="collapse-{{forloop.counter}}-{{forloop.parentloop.counter}}" class="accordion-collapse collapse" aria-labelledby="heading-{{forloop.counter}}-{{forloop.parentloop.counter}}" data-bs-parent="#accordion-{{forloop.counter}}-{{forloop.parentloop.counter}}">
                                        <div class="accordion-body">
                                            <span class="detalle d-block "><small> {{pon.detalle}}</small></span>
                                            <div class="ponencias">
                                               
                                                <div class="row gx-5">
                                                    {%if pon.ponentes%}
                                                    {%for ponente in pon.ponentes %}
                                                    <div class="col-md-6 ponencia mt-md-0 mt-5">
                                                        <div class="header">
                                                            <div class="row">
                                                                <div class="col-3">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="name" onclick="VerPerfil('{{ponente.user.id}}')">
                                                                    <div class="d-flex align-items-center">
                                                                        <img src=" {% if ponente.user.foto%}{% static '/'%}{{ponente.user.foto}}{%else%}{% static 'assets/img/congresos/avatar-ponencia.png'%}{%endif%}" class="img-fluida img-fluid" width="100px">
                                                                    </div>
                                                                    </a>
                                                                </div>
                                                                <div class="mt-md-0 mt-2 col-9 d-flex flex-column justify-content-center">
                                                                    <a href="#" data-bs-toggle="modal" data-bs-target="#profileModal" class="name" onclick="VerPerfil('{{ponente.user.id}}')"><h4 class="name"><strong>{{ponente.user.usuario.first_name}} {{ponente.user.usuario.last_name}}</strong></h4></a>
                                                                    <h5 class="cat">PONENTE</h5>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <p class="bio mt-3">{%if ponente.user.puesto %}
                                                            {{ponente.user.puesto}}
                                                            {%endif%}</p>
                                                       
                                                       
                                                    </div>
                                                    {%endfor%}
                                                    <div class="row"> 
                                                       
                                                        {%if pon.ver_ponencia %}
                                                    {%if pon.tipo == 'Taller'%}
                                                        <div class="col-md-6 ponencia  mt-md-0" style="text-align: center;"> 
                                                            <a href="{% url 'View_taller' path=pon.path%}" class="more d-block "><strong> Ver Taller</strong></a>
                                                    
                                                        </div>
                                                          
    
                                                            {%else%}
                                                            <div class="col-md-6 ponencia  mt-md-0" style="text-align: center;" > 
                                                                <a href="{% url 'View_ponencia' path=pon.path%}" class="more d-block "><strong>Ver Ponencia</strong></a>
                                                        
                                                            </div>
                                                           
                                                            {%endif%}
                                                            {%endif%}
                                                        </div>
                                                    {%endif%}
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                    {%endfor%}
                    
                </div>
                {%endfor%}
                
            </div>
        </div>
      
    </div>
</section>
{%endif%}


{% if patrocinadores %}
<section class="congreso-ponentes">
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col">
                <h3 class="section-name">PATROCINADORES</h3>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="content py-5">
                    <h4 class="description">CONOCE A LOS PATROCINADORES DE ESTE EVENTO</h4>
                    <div class="art"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="congreso-ponentes-secundary">
    <div id="carousel" class="carousel slide carousel-dark" data-bs-ride="carousel">
       
        <div class="carousel-inner"> 
            {%for patrocindador in patrocinadores%}
            {%if forloop.first%}
            <div class="carousel-item active">
                <div class="container px-4">
                    <div class="row gx-5">
                        {%endif%}
                        <div class="col-md-4">
                            <a href="{{patrocindador.aval.url}}" target="_blank">
                                <img class="img-fluid" src="{% static '/'%}{{patrocindador.aval.logo}}" alt="{{patrocindador.aval.nombre}}">
                            </a>
                           
                        </div>
                        
                        {%if forloop.last%}

                    </div>
                </div>
            </div>
            {%endif%}
            {% if forloop.counter|divisibleby:3 %}
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container px-4">
                    <div class="row gx-5">
            {%endif%}
                   
         {%endfor%}
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</section>
{%endif%}
<div class="congreso-modal profile-modal modal fade" id="profileModal" tabindex="-2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="container-fluid">
                  <div class="row mb-3">
                      <div class="col">
                          <h5 class="title">Perfil del Ponente</h5>
                      </div>
                  </div>
  
                  <div class="row">
                      <div class="col-md-4">
                          <div class="modal-card p-3 me-2 mb-md-0 mb-4">
                              <div id="foto">
                             
                            </div>
                              <div id="ratingSystem" class="mt-2 d-flex flex-row-reverse justify-content-center">
                                  <div id="div_rating">
                                      <input type="hidden" id="rating" class="rating" data-readonly value="3" />
                                  </div>
                                
                              </div>
                              <hr class="separator mt-2" />
                              <div class="bottom d-flex justify-content-between align-items-end" id="pais">
                                 
                                   
                              </div>
                          </div>
                      </div>
                      <div class="col-md-8">
                          <div class="row event mb-3">
                              <div class="col" id="datos">
                                  
                              </div>
                          </div>
                            <div id="logros">
                            
                            </div>
                      </div>
                  </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                      <button type="button" class="cta close-btn" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<div class="congreso-modal modal fade" id="downloadModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
                <div class="row mb-3">
                    <div class="col">
                        <h5 class="title">Trabajos de Investigación</h5>
                    </div>
                </div>
                {%for trabajo in trabajos%}
                <div class="row event mb-3">
                    <div class="col-md-2 d-flex justify-content-center align-items-start">
                        <img src="{% if trabajo.foto%}{% static '/'%}{{trabajo.foto}}{%else%}{% static 'assets/img/iconos/avatar-icon.png'%}{%endif%}" class="img-fluid" width="60px">
                    </div>
                    <div class="col-md-8">
                        <h5 class="name">{{trabajo.autor}}</h5>
                        <span class="cat d-block mb-3">Lorem ipsum dolor sit amet</span>
                        <p class="description mb-0 pt-3">{{trabajo.titulo}}</p>
                    </div>
                    <div class="col-md-2 d-flex flex-column justify-content-between align-items-end">
                        {%if trabajo.cod_video%}
                        <a href="{% url 'View_trabajo' path=trabajo.path%}" target="_blank" class="view">Ver Video</a>
                        {%else%}
                        <a href="#" class="view"></a>
                        {%endif%}
                        <a href="#" class="view">Ver Video</a>
						<a href="#" class="cta">DESCARGAR</a>
                        <a href="{% static '/'%}{{trabajo.documento}}" target="_blank" class="cta">DESCARGAR</a>
                    </div>
                </div>
                {%endfor%}
                
          </div>
      </div>
      <div class="modal-footer">
          <div class="container-fluid">
              <div class="row">
                  <div class="col d-flex justify-content-end">
                    <button type="button" class="cta close-btn" data-bs-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>



{%endblock%}
{% block script%}
<script src="{% static 'MedCongressApp/js/bootstrap-rating.js' %}"></script>
<script>
$(document).ready(function(){
	$('.collapse').on('shown.bs.collapse', function(){
		$(this).parent().find(".glyphicon-plus").removeClass("glyphicon-plus").addClass("glyphicon-minus");
	}).on('hidden.bs.collapse', function(){
		$(this).parent().find(".glyphicon-minus").removeClass("glyphicon-minus").addClass("glyphicon-plus");
	});       
});
function AgregarCarritoTaller(id, fields, msj) {
    var patt = /^\d+$/;
    valor=$('#' + fields).val()
    
    if (patt.test(valor) == true){
    if (msj == 'False') {
        $.ajax({
            type: "GET",
            url: "{% url 'Add_cart_taller'%}",
            data: {
                'id': id, // from form
                'cant': $('#' + fields).val()// from form
            },
            success: function (data) {
                if (data['succes']) {
                    swal({
                        title: "Ha adicionado un evento a su carrito de compra",
                        text: "Clic al carrito para efectuar la compra",
                        icon: "success",
                        buttons: {
                            cancel: {
                                text: "ok!",
                                value: null,
                                visible: true,
                                className: "",
                                closeModal: false,
                            },



                        }
                    })
                        .then((isConfirm) => {
                            if (isConfirm) {

                            }
                            else {
                                location.reload();
                            }

                        });
                }
                else
                    swal("No se puede", "Ya tiene este Taller en el carrito de compra.", "error");
            }
        });
    }
    else {
        swal({
            title: "Ya usted compró este taller",
            text: ' ¿Desea comprarlo de nuevo?',
            icon: "warning",
            buttons: {
                cancel: {
                    text: "¡Cancelar!",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: false,
                },
                confirm: {
                    text: "¡Aceptar!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                }
            }
        })
            .then((isConfirm) => {
                if (isConfirm) {



                    $.ajax({
                        type: "GET",
                        url: "{% url 'Add_cart_taller'%}",
                        data: {
                            'id': id, // from form
                            'cant': $('#' + fields).val()// from form
                        },
                        success: function (data) {
                            if (data['succes']) {
                                swal({
                                    title: "Ha adicionado un evento a su carrito de compra",
                                    text: "Clic al carrito para efectuar la compra",
                                    icon: "success",
                                    buttons: {
                                        cancel: {
                                            text: "ok",
                                            value: null,
                                            visible: true,
                                            className: "",
                                            closeModal: false,
                                        },



                                    }
                                })
                                    .then((isConfirm) => {
                                        if (isConfirm) {

                                        }
                                        else {
                                            location.reload();
                                        }

                                    });
                            }

                        }
                    });
                }
                else {
                    location.reload();
                }
            });



    }
}
    else{
        swal("No se puede", "Debe entrar un Número entero.", "error");

    }

}

function AgregarCarrito(id, fields, msj) {
   
    valor=$('#' + fields).val()
    var patt = /^\d+$/;
    if (patt.test(valor) == true){
    if (msj == 'False') {
        $.ajax({
            type: "GET",
            url: "{% url 'Add_cart'%}",
            data: {
                'id': id,
                'cant': $('#' + fields).val()// from form

            },
            success: function (data) {
                if (data['succes']) {
                    swal({
                        title: "Ha adicionado un evento a su carrito de compra",
                        text: "Clic al carrito para efectuar la compra",
                        icon: "success",
                        buttons: {
                            cancel: {
                                text: "ok",
                                value: null,
                                visible: true,
                                className: "",
                                closeModal: false,
                            },



                        }
                    })
                        .then((isConfirm) => {
                            if (isConfirm) {

                            }
                            else {
                                location.reload();
                            }

                        });




                }
                else
                    swal("No se puede", "Ya tiene este Evento en el carrito de compra.", "error");
            }
        });
    }
    else {
        swal({
            title: "Ya usted compró este congreso",
            text: ' ¿Desea comprarlo de nuevo?',
            icon: "warning",
            buttons: {
                cancel: {
                    text: "No",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: false,
                },
                confirm: {
                    text: "Si",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                }
            }
        })
            .then((isConfirm) => {
                if (isConfirm) {
                    $.ajax({
                        type: "GET",
                        url: "{% url 'Add_cart'%}",
                        data: {
                            'id': id,
                            'cant': $('#' + fields).val()// from form

                        },
                        success: function (data) {
                            if (data['succes']) {
                                swal({
                                    title: "Ha adicionado un evento a su carrito de compra",
                                    text: "Clic al carrito para efectuar la compra",
                                    icon: "success",
                                    buttons: {
                                        cancel: {
                                            text: "ok",
                                            value: null,
                                            visible: true,
                                            className: "",
                                            closeModal: false,
                                        },



                                    }
                                })
                                    .then((isConfirm) => {
                                        if (isConfirm) {

                                        }
                                        else {
                                            location.reload();
                                        }
                                    });
                            }
                            else
                                swal("No se puede", "Ya tiene este Evento en el carrito de compra.", "error");
                        }
                    });
                }
                else {
                    location.reload();
                }
            });
    }

    }
    else{
        swal("No se puede", "Debe entrar un Número entero.", "error");

    }

}

function VerPerfil(pk) {
    url = "{% url 'GetPerfil'%}";
    $.get(url, { 'pk': pk }, function (data) {

        if (data.foto)
            $('#foto').html('<img class="img-fluid" src="{% static '/'%}'+ data.foto +'" alt=" foto ' + data.nombre + '" >');
        else
            $('#foto').html('<img class="img-fluid" src="{% static 'MedCongressApp/images/defaulthombre.png' %}" alt="{{request.user.username}}" >');
        
         let  pais_bandera='';
        if(data.pais)
        pais_bandera+='<h5 class="country mb-0">'+data.pais+'</h5>';
        if(data.bandera)
        pais_bandera+='<img  class="img-fluid" src="{% static '/'%}'+ data.bandera +'" width=50px >';
        $('#pais').html(pais_bandera)   
        
        let datos=''
        $('#datos').html(`<h5 class="name">`+data.nombre_completo+`</h5>
                                  <span class="cat d-block mb-3">`+data.especialidad+`</span>
                                  <p class="description mb-0 pt-3">`+ data.puesto+`</p>`);
        if (data.constancias) {
            
            $('#logros').html(` <div class="row event mb-3" >
                                    <div class="col">
                                        <h5 class="name">LOGROS ACADÉMICOS</h5>
                                            
                                        <p class="description mb-0 pt-3">`+ data.constancias+`</p>
                                            
                                    </div>
                                </div>`);
        }
 
       
        redes = '';
        if (data.facebook)
            redes += '<div class="row" style="padding: 20px;" > <div class="like_fb"> <a class="facebook" href="#"><i class="fa fa-facebook"></i></a> </div><div class="like_amount"><p>' + data.facebook + '</p></div>  </div>'
        if (data.twitter)
            redes += '  <div class="row" style="padding: 20px;"><div class="like_fb"><a class="facebook" style="background-color: #00adf2 ;"  href="#"><i class="fa fa-twitter"></i></a> </div><div class="like_amount">' + data.twitter + '</p></div>  </div>'
        if (data.youtube)
            redes += ' <div class="row" style="padding: 20px;"><div class="like_fb"><a class="facebook" href="#" style="background-color: #d70a0a;"><i class="fa fa-youtube"></i></a> </div><div class="like_amount"><p>' + data.youtube + '</p></div> </div>'
        if (data.linkedin)
            redes += '<div class="row" style="padding: 20px;"><div class="like_fb"> <a class="facebook" style="background-color: #2962ff;"    href="#"><i class="fa fa-linkedin"></i></a></div><div class="like_amount"><p>' + data.linkedin + '</p></div> </div>'
        $('#redes_sociales').html(redes);

        $('#especialidad').html(data.especialidad);

       
        
        publicaciones = '';

        if (data.publicaciones) {
            publicaciones = '<div class="row gutters-sm mb-3"><div class="col-sm-12" ><div class="card h-100" ><h6 class="mb-0" style="padding: 20px;"><b>Publicaciones</b></h6><div class="card-body" >' + data.publicaciones + '</div> </div> </div></div> ';
            $('#publicaciones').html(publicaciones);
        }
        else
            $('#publicaciones').html('');



        if (data.ponencias.length == 0) {
            ponencias = '<li><div class="like_amount"> <b>No es Ponente en ninguna Ponencia </b></div> </li>';
        }
        else {
            ponencias = '';
            for (let i = 0; i < data.ponencias.length; i++) {
                ponencias += '<li><div class="like_amount"><p>' + data.ponencias[i].nombre + '</p><span> <b>Congreso: </b> ' + data.ponencias[i].congreso + '</span></div></li>'

            }
        }

        $('#ponencias').html(ponencias)

        if (data.talleres.length == 0) {
            talleres = '<li><div class="like_amount"> <b>No es Ponente en ningún Taller </b></div> </li>';
        }
        else {
            talleres = '';
            for (let i = 0; i < data.talleres.length; i++) {
                talleres += '<li><div class="like_amount"><p>' + data.talleres[i].nombre + '</p><span> <b>Congreso: </b> ' + data.talleres[i].congreso + '</span></div></li>'

            }
        }


        $('#talleres').html(talleres)
        if(data.puesto)
        $('#puesto').html(data.puesto)
        else
        $('#puesto').html('')
        $('#nombre_completo').html(data.nombre_completo)
        if(data.votacion==0){
            $('#div_rating').hide()  
        }
        else{
            $('#div_rating').show()  
        $('#rating').rating('rate', data.votacion);
        }
        
        // else
        // $('#div_rating').html('<input type="hidden" id="rating" class="rating" data-readonly value="'+ data.votacion+'" /> ')
        // $('#rating').rating('rate', data.votacion);
        //                     $('#rating2').rating({
        //   filled: 'glyphicon glyphicon-heart-empty',
        //   filledSelected: 'glyphicon glyphicon-heart',
        //   empty: 'glyphicon glyphicon-heart-empty'
        // });



    });
}
</script>
{%endblock%}