{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Efectuar Pago
{%endblock%}
{%block css%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://js.openpay.mx/openpay.v1.min.js"></script>

{%endblock%}
{% block contenido %}

<div class="kode-event-time">
    <div class="kode-event-contact">
        <div class="container">
            <div class="row well" style="margin-top: 70px;">
                <h4>Desglose de los boletos a comprar</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Evento</th>
                            <th>Nombre</th>
                            <th>Cat. de Pago</th>
                            <th>Precio</th>
                            <th>Cant.</th>
                            <th>A pagar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if  request.session.cart.1 %}
                        {%for car in request.session.cart.1 %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{car.tipo_evento}}</td>
                            <td>{{car.nombre_congreso}}</td>
                            <td>{{car.nombre_cat_pago}}</td>
                            <td>${{car.precio}}</td>
                            <td>{{car.cantidad}}</td>
                            <td>${{car.pagar|floatformat:2}}</td>

                        </tr>
                        {%endfor%}
                        <tr style="background-color: slategray;">
                            <th scope="row" colspan="6">Total a pagar</th>
                            <td><b> ${{request.session.cart.0.cant|floatformat:2}}</b></td>
                            <td></td>

                        </tr>
                        {%else%}
                        <li>No ha puesto ningún evento en el carrito</li>
                        {%endif%}

                    </tbody>
                </table>


            </div>
            <div class="row">
                <div class="kf_heading_3">

                    <div class=" col-sm-7 ">

                        <h2>Tarjeta de crédito o débito</h2>

                        <form action="" method="POST" id="payment-form" class="contactusform">
                            {% csrf_token %}
                            <input type="hidden" name="token_id" id="token_id">
                            <input type="hidden" name="pagar_efectivo" value="0" id="token_id">
                            <div class="kf_heading_3">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <span>Tarjetas de crédito</span>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <span>Tarjetas de débito</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <img src="{% static 'MedCongressApp/images/cards1.png'%}">
                                    </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <img class="img-responsive"
                                            src="{% static 'MedCongressApp/images/cards22.png'%}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Nombre del titular</label>
                                            <input type="text" placeholder="Como aparece en la tarjeta"
                                                autocomplete="off" data-openpay-card="holder_name" name="nombre">
                                        </div>

                                    </div>
                                    <div class=" col-sm-6">
                                        <div class="form-group">
                                            <label>Número de tarjeta</label>
                                            <input type="text" id="numero1" autocomplete="off" maxlength="19"
                                                placeholder="****-****-****-****">
                                            <input type="hidden" id="numero" autocomplete="off" maxlength="19"
                                                data-openpay-card="card_number" name="numero">

                                        </div>

                                    </div>
                                </div>






                                <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label>Fecha de expiración</label>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select type="text" placeholder="Mes"
                                                    data-openpay-card="expiration_month">
                                                    <option value="01"> Ene</option>
                                                    <option value="02"> Feb</option>
                                                    <option value="03"> Mar</option>
                                                    <option value="04"> Abr</option>
                                                    <option value="05"> May</option>
                                                    <option value="06"> Jun</option>
                                                    <option value="07"> Jul</option>
                                                    <option value="08"> Ago</option>
                                                    <option value="09"> Sep</option>
                                                    <option value="10"> Oct</option>
                                                    <option value="11"> Nov</option>
                                                    <option value="12"> Dic</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <select type="text" placeholder="Año"
                                                    data-openpay-card="expiration_year">
                                                    {% now "Y" as current_year %}
                                                    {% now "y" as current %}
                                                    {%for x in '0123456789'|make_list %}
                                                    <option value='{{current|add:x}}'>{{current_year|add:x}}</option>
                                                    {%endfor%}

                                                </select>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-6">
                                    <div class="form-group">
                                        <label>Código de seguridad</label>
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <input type="text" placeholder="CVV" autocomplete="off"
                                                    data-openpay-card="cvv2" name="cant" maxlength="4"></div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                <img src="{% static 'MedCongressApp/images/cvv.png'%}">
                                            </div>

                                        </div>

                                    </div>

                                </div>
                                
                            </div>
                            <div class="row">
                                <div class=" col-sm-6" >
                                    Transacciones realizadas vía: <img
                                        src="{% static 'MedCongressApp/images/openpay.png'%}">
                                </div>
                                <div class=" col-sm-6 " style="margin-bottom: 50px;">
                                    Tus pagos se realizan de forma segura con encriptación de 256 bits
                                    <img src="{% static 'MedCongressApp/images/security.png'%}">
                                </div>
                            </div>



                            <div class="col-sm-6 ">
                                <button class="button rght" style="color: black;" type="submit" id="pay-button">Pagar
                                </button>
                            </div>

                 
                    </form>
                </div>
                <div class=" col-sm-5 ">
                    <h2>Pagar en Efectivo</h2>

                    <p class="">Pasos</p>
                    <ol class="">
                        <li class="">Seleccionar opción <b> Pagar en Efectivo</b> </li>
                        <li class="">Guardar el documento con el código de barra generado </li>
                        <li class="">Presentarse en cualquier tienda donde se pueda efectuar pagos en <b>OpenPay
                            </b> </li>
                    </ol>
                    <form action="" method="POST" target="_black">
                        {% csrf_token %}
                        <div class="col-sm-6 " style="margin: 50px;">
                            <input type="hidden" name="pagar_efectivo" value="1" id="token_id">
                            <button class="button rght" style="color: black;" type="submit" id="pay-button">Pagar en
                                Efectivo</button>
                        </div>
                    </form>

                </div>


            </div>
        

        </div>
    </div>
    </body>

    </html>

    {%endblock%}

    {%block script%}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://openpay.s3.amazonaws.com/openpay.v1.min.js"></script>
    <script type='text/javascript' src="https://openpay.s3.amazonaws.com/openpay-data.v1.min.js"></script>
    <script src="{% static 'MedCongressApp/js/extended/form-card.js'%}"></script>
    <script type="text/javascript">
        $(document).ready(function () {

           
        
            $('#numero1').keyup(function () {

                $('#numero').val($('#numero1').val().replace(/-/g, ''));

                if ($(this).val().length == 4 || $(this).val().length == 9 || $(this).val().length == 14) {

                    $(this).val($(this).val() + '-');


                }



            });

            if ('{{request.session.cart.0.cant}}' == '0') {

                $("#pay-button").attr('disabled', 'disabled')
            }

            OpenPay.setId('{{id_key}}');
            OpenPay.setApiKey('{{public_key}}');
            OpenPay.setSandboxMode(true);



            //Se genera el id de dispositivo
            var deviceSessionId = OpenPay.deviceData.setup("payment-form", "deviceIdHiddenFieldName");
            const csrftoken = getCookie('csrftoken');
            $('#pay-button').on('click', function (event) {

              
                  
                    
                event.preventDefault();
                $("#pay-button").prop("disabled", true);
                OpenPay.token.extractFormAndCreate('payment-form', sucess_callbak, error_callbak);
            });

            var sucess_callbak = function (response) {
                var token_id = response.data.id;
                $('#token_id').val(token_id);
                $('#payment-form').submit();
            };

            var error_callbak = function (response) {
                var mensaje = '';
                var desc = response.data.description != undefined ? response.data.description : response.message;
                // switch (response.status) {
                //         case 400:
                //         if( desc.includes('card_number is required'))
                //         mensaje+='El Número de la Tarjeta es requerido '
                //         if( desc.includes('The CVV2 security code is required'))
                //         mensaje+='El Codigo de Seguridad es requerido '
                //         if( desc.includes('holder_name is required'))
                //         mensaje+='El Nombre del Titular es requerido '
                //        if( desc.includes('card_number must contain only digits'))
                //         mensaje+='La Tarjeta solo debe contener Números '
                //          if( desc.includes('cvv2 must contain only digits'))
                //         mensaje+='El Codigo de Seguridad solo debe contener Números '
                //         if( desc.includes('The expiration date has expired'))
                //         mensaje+='La Tarjeta ya expiró '


                //         break;
                //          case 422: 
                //          if( desc.includes('The card number verification digit is invalid'))
                //         mensaje+='El numero de verificación es incorrecto'
                //         break;
                //             }
                swal("Error", response.status + desc, "error");
                //swal("Error",mensaje, "error");    
                // alert("ERROR [" + response.status + "] " + desc);
                $("#pay-button").prop("disabled", false);
            };

        });
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

    </script>
    {%endblock%}