{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Información
{%endblock%}
{% block contenido %}
<section class="success d-flex flex-column align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col">
            <h2 class="section-title text-success"><strong>Se ha generado su factura</strong></h2>
            <small class="section-subtitle text-center">Se ha enviado a su correo la factura por la compra de boletos en MedCongress</small>
            </div>
        </div>
    </div>
</section>

{% endblock%}


