{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Mi Carrito de Compra
{%endblock%}
{%block css%}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://js.openpay.mx/openpay.v1.min.js"></script>

{%endblock%}
{% block contenido %}

<div class="kode-event-time">
    <div class="kode-event-contact">
        <div class="container">
            <div class="row well" style="margin-top: 70px;">
                <h4>Desglose de los boletos a comprar</h4>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Evento</th>
                            <th>Nombre</th>
                            <th>Cat. de Pago</th>
                            <th>Precio</th>
                            <th>Cant.</th>
                            <th>A pagar</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%if  request.session.cart.1 %}
                        {%for car in request.session.cart.1 %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{car.tipo_evento}}</td>
                            <td>{{car.nombre_congreso}}</td>
                            <td>{{car.nombre_cat_pago}}</td>
                            <td>${{car.precio}}</td>
                            
                            <th style="display: none;" id="edit_{{car.mi_id}}"> <input class="form-control input-sm" type="number" value="{{car.cantidad}}" style="width: 66px;" id="cantidad_{{car.mi_id}}"></th>
                            <th id="edit_no_{{car.mi_id}}"> {{car.cantidad}}</th>
                        
                            <td>${{car.pagar}}</td>
                            <td style="text-align: center;">
                                
                                <a id="btn_edit_{{car.mi_id}}" onclick="EditCart({{car.mi_id}}) " title="Editar"> <i class="fa fa-pencil-square" style="color:blue; font-size: 20px;"></i></a>
                                <a id="btn_conf_{{car.mi_id}}"  onclick="ConfCart({{car.mi_id}})" style="display: none;"  title="Confirmar"> <i class="fa fa-check-circle" style="color:green; font-size: 20px;"></i></a>
                                <a id="btn_cancel_{{car.mi_id}}"  onclick="CancelCart({{car.mi_id}})" style="display: none;"  title="Cancelar"> <i class="fa fa-minus-circle" style="color:red; font-size: 20px;"></i></a>
                                
                                <a onclick="EliminarCart({{car.mi_id}})"> <i class="fa fa-trash" style="color: red;font-size: 20px;margin-left: 10px;"  title="Eliminar"></i></a></td>
                        </tr>
                        {%endfor%}
                        <tr>
                            
                            <th scope="row" colspan="6">Total a pagar</th>
                    
                            <td><b> ${{request.session.cart.0.cant}}</b></td>
                            <td></td>
                                
                        </tr>
                        {%else%}
                        <tr >
                            <td colspan="7" style="text-align: center;color: red;"> <b>No hay ningún evento a comprar</b> </td>
                           </tr>
                        {%endif%}
                        
                    </tbody>
                </table>


            </div>
            
            <div class="modal-footer">
                
                {%if request.session.cart.1 %}
                <a href="{%url 'Pagar' %}" type="button" class="btn btn-primary">Pagar</a>
                {%else%}
                <a  type="button" class="btn btn-primary" onclick="Mensaje('No tiene nada en el carrito para comprar')">Pagar</a>
                {%endif%}
            </div>


        </div>
    </div>
    </body>

    </html>

    {%endblock%}

    {%block script%}


    <script src="{% static 'MedCongressApp/js/sweetalert.min.js' %}"></script>
    <script type="text/javascript">
 
		

		function EliminarCart(id){
            swal({
            title: "¿Estás seguro?",
            text: "¡Eliminará este evento de su carrito!",
            icon: "warning",
            buttons: {
                cancel: {
                    text: "¡No, cancelar!",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: false,
                },
                confirm: {
                    text: "¡Sí, eliminarlo!",
                    value: true,
                    visible: true,
                    className: "",
                    closeModal: false
                }
            }
        })
            .then((isConfirm) => {
                if (isConfirm) {

			$.ajax({
            type: "GET",
            url: "{% url 'Deleted_cart'%}",
            data: {
                'id': id,
				
            },
            success: function (data) {
                if (data['succes']){
					swal({
            title: "Eliminado",
            text: "Ha sacado un evento de su carrito de compras",
            icon: "success",
            buttons: {
                cancel: {
                    text: "ok!",
                    value: null,
                    visible: true,
                    className: "",
                    closeModal: false,
                },
               
                
                
            }
        })
        .then((isConfirm) => {
            if (isConfirm) {
                
            }
            else{
                location.reload();
            }

        });
            }
                else
                swal("No se pudo eliminar", "Póngase en contacto con el administrador.", "error"); 
            }
        });
    } else {
                    swal("Cancelado", "No se eliminó este elemento.", "error");
                }
            });
    }
		
		function Mensaje(mensaje){
			swal("Atención", mensaje, "warning"); 
		}
	function EditCart(id){
$('#edit_'+id).show();
$('#btn_conf_'+id).show();
$('#btn_cancel_'+id).show();
$('#edit_no_'+id).hide();
$('#btn_edit_'+id).hide();
		}
		function CancelCart(id){
$('#edit_'+id).hide();
$('#btn_conf_'+id).hide();
$('#btn_cancel_'+id).hide();

$('#edit_no_'+id).show();
$('#btn_edit_'+id).show();
		}

	function ConfCart(id){
        var patt = /^\d+$/;
        valor=$('#cantidad_'+id).val()
        if (patt.test(valor) == true){
		$.ajax({
            type: "GET",
            url: "{% url 'Conf_cart'%}",
            data: {
                'id': id,
				'cant':$('#cantidad_'+id).val(),
				
            },
            success: function (data) {
                if (data['succes']){
					location.reload();
				
					
            }
                else
                swal("No se pudo actualizar", "Póngase en contacto con el administrador.", "error"); 
					 
            }
        

    });
    
}
        else{
            swal("No se puede", "Debe entrar un Número entero.", "error");

        }
	}


    </script>
    {%endblock%}