{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
{{ponencia.titulo}}
{%endblock%}
{% block metadatos%}

{%endblock%}
{%block css%}

<link rel="stylesheet" href="{% static 'MedCongressApp/css/bootstrap-rating.css'%}" type="text/css" media="all">


{%endblock%}
{% block contenido %}

<div class="container">
	<div class="row" style="margin-top: 5%; margin-bottom: 50px;">

		<div class="col-md-12">
			{{trabajo.cod_video|safe }}



			<h4
				style="margin: 0 0 15px;font-size: 14px;line-height: 30px;text-transform: uppercase;font-family: 'Gotham-Bold';color: #565657;">
				{{trabajo.titulo}}</h4>
			<div class="kf_new_conf_orgnizr ">
				<figure>
					{% if trabajo.foto%}
					<img src="{% static '/'%}{{trabajo.foto}}" alt="image de {{trabajo.autor}}">
					{%else%}
					<img src="{% static 'MedCongressApp/images/defaulthombre.png' %}"
						alt="image de {{trabajo.autor}}">
					{%endif%}
				</figure>
				<div class="kf_new_conf_orgnizr_name">
					<span> Autor</span>
					<h6>{{trabajo.autor}}
					</h6>
					
				</div>
			</div>

			
		</div>
	</div>
</div>


{%endblock%}

{% block script%}
<script src="{% static 'MedCongressApp/js/bootstrap-rating.js' %}"></script>

<script src="{% static 'MedCongressApp/js/plugins/simplyCountdown/simplyCountdown.min.js'%}"></script>

{%endblock%}