{% extends "MedCongressApp/base.html"%}
{% load static %}
{% block titulo %}
Ver Video
{%endblock%}
{% block contenido %}
<div class="sub-header">
    <!-- SUB HEADER -->
</div>
<!-- Kode-Slider End -->
<!--Kode-our-speaker-heading start-->
<div class="Kode-page-heading">
    <div class="container">
        <!--ROW START-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2>Congresos</h2>
            </div>
            <div class="col-md-6 col-sm-6">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-angle-right"></i>Congresos</a>
                    </li>
                </ul>
            </div>
        </div>
        <!--ROW END-->
    </div>
</div>
<div class="kode-blog-style-2" style="margin-top: 82px;">
    <div class="container">
<iframe src="http://player.vimeo.com/video/463582604?api=1" width="400" height="225" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<a href="#">STOP</a>
    </div>
</div>

{%endblock%}